<!DOCTYPE html>
<html lang="en" ng-app="anicamquote">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>APM - Anciam Products Managment</title>

<!--    <link rel="stylesheet" type="text/css" href="https://getbootstrap.com/docs/4.4/examples/dashboard/dashboard.css">-->
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/examples/album/album.css">

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.css" rel="stylesheet">

<!--  <link rel="stylesheet" href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css">-->

  <link rel="stylesheet" href="https://anicamboxexpress.com/css/quotation/font-awesome.css">

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css">

  <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="https://anicamboxexpress.com/css/favicon.ico">
    <link rel="icon" type="image/png" href="https://anicamboxexpress.com/css/favicon.ico">
  <link rel="stylesheet" href="https://anicamboxexpress.com/css/quotation/select2.css">

</head>

<body ng-cloak ng-controller="apmCtrl" id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-anc sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <!--<div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>-->
        <img src="https://anicamboxexpress.com/css/quotation/bolita.png" alt="APM" height="42">
        <div class="sidebar-brand-text mx-3">APM  Administrator</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active one da">
        <a data-toggle="tab" ng-click="toHideNav('two',this,'da')" class="nav-link one" href="#dashboard">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        B2B
      </div>


      <!-- Nav Item - Agregar Categoria -->
      <li class="nav-item one ac">
        <a data-toggle="tab" ng-click="toHideNav('two',this,'ac')" class="nav-link one" href="#addCategory">
          <i class="fas fa-caret-square-right"></i>
          <span>Agregar Categoria</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        PARSEHUB SCRAPPING
      </div>


      <!-- Nav Item - Listar Proyectos -->
      <li class="nav-item one lp">
        <a data-toggle="tab" ng-click="toHideNav('two',this,'lp')" class="nav-link one" href="#phListProyect">
          <i class="fas fa-caret-square-right"></i>
          <span>Listar Proyectos</span></a>
      </li>

      <!-- Nav Item - Convertir Json -->
      <li class="nav-item one cj">
        <a data-toggle="tab" ng-click="toHideNav('two',this,'cj')" class="nav-link one" href="#phConvertJson">
          <i class="fas fa"></i>
          <span>Convertir Json</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        MARCAS
      </div>

      <!-- Nav Item - Pyle Services -->
      <li class="nav-item one ps">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePyle" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>Pyle Services</span>
        </a>
        <div id="collapsePyle" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
<!--            <h6 class="collapse-header">Custom Components:</h6>-->
            <ul class="nav">
              <li class="nav-item"><a ng-click="toHideNav('one',this,'ps')" data-toggle="tab" data-target="#pyleNew" class="collapse-item two">Nuevos Productos</a></li>
            <li class="nav-item"><a ng-click="toHideNav('one',this,'ps')" data-toggle="tab" data-target="#pyleStock" class="collapse-item two">Actualizar Inventario</a></li>
            <!--<li class="nav-item"><a ng-click="toHideNav('one',this,'ps')" data-toggle="tab" data-target="#pyleStockUpdate" class="collapse-item two" href="cards.html">Actualizar Productos</a></li>-->
            </ul>
          </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        GENERAL
      </div>

      <!-- Nav Item - Descarga Masiva -->
      <li class="nav-item one am">
        <a data-toggle="tab" ng-click="toHideNav('two',this,'am')" class="nav-link one" href="#massiveUpdate">
          <i class="fas fa-fw fa-cloud-download-alt"></i>
          <span>Descarga Masiva</span></a>
      </li>

      <!-- Nav Item - Descarga Amazon -->
      <li class="nav-item one amz">
        <a data-toggle="tab" ng-click="toHideNav('two',this,'amz')" class="nav-link one" href="#downAmazon">
          <i class="fas fa-fw fa-cloud-download-alt"></i>
          <span>Descarga Amazon</span></a>
      </li>



      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-gray topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" placeholder="Busca un producto ..." aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

            <li class="nav-item dropdown no-arrow mr-3">
              <a class="nav-link dropdown-toggle" id="navbarDropdownDocs" href="javascript:void(0);" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><div class="d-inline d-md-none font-weight-500">Docs</div>
                <div class="d-none d-md-inline font-weight-500">Documentación</div>
                <svg class="svg-inline--fa fa-chevron-right fa-w-10 dropdown-arrow" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg><!-- <i class="fas fa-chevron-right dropdown-arrow"></i> --></a>
              <div class="dropdown-menu dropdown-menu-right py-0 o-hidden mr-n15 mr-lg-0 animated--fade-in-up" aria-labelledby="navbarDropdownDocs">
                <a class="dropdown-item py-3" href="http://b2b.anicamenterprises.com/" target="_blank"><div class="icon-stack bg-primary-soft text-primary mr-4"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-book"><path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20"></path><path d="M6.5 2H20v20H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z"></path></svg></div>
                  <div>
                    <div class="small text-gray-500">Pltaforma</div>
                    B2B Sitio Web
                  </div></a>
                <div class="dropdown-divider m-0"></div>
                <a class="dropdown-item py-3" href="http://b2b.anicamenterprises.com/umbraco" target="_blank"><div class="icon-stack bg-primary-soft text-primary mr-4"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-book"><path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20"></path><path d="M6.5 2H20v20H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z"></path></svg></div>
                  <div>
                    <div class="small text-gray-500">Pltaforma</div>
                    B2B Umbraco
                  </div></a>
                <div class="dropdown-divider m-0"></div>
                <a class="dropdown-item py-3" href="http://b2b.anicamenterprises.com/services/admin/imports.asmx" target="_blank"><div class="icon-stack bg-primary-soft text-primary mr-4"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-code"><polyline points="16 18 22 12 16 6"></polyline><polyline points="8 6 2 12 8 18"></polyline></svg></div>
                  <div>
                    <div class="small text-gray-500">Documentación</div>
                    Uso de Api y referencias B2B
                  </div></a>
                <div class="dropdown-divider m-0"></div>
              </div>
            </li>

            <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <!-- Counter - Alerts -->
                <span class="badge badge-danger badge-counter">1+</span>
              </a>
              <!-- Dropdown - Alerts -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                  Centro de Alertas
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-primary">
                      <i class="fas fa-file-alt text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">Marzo 02, 2020</div>
                    <span class="font-weight-bold">El nuevo modulo de pyle ya esta listo para usar!</span>
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Ver todas las alertas</a>
              </div>
            </li>

            <!-- Nav Item - Messages -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw"></i>
                <!-- Counter - Messages -->
                <span class="badge badge-danger badge-counter">1</span>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                  Centro de Mensajes
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/fn_BT9fwg_E/60x60" alt="">
                    <div class="status-indicator bg-success"></div>
                  </div>
                  <div class="font-weight-bold">
                    <div class="text-truncate">Bienvenido ! Anicam te agradece el uso de esta plataforma</div>
                    <div class="small text-gray-500">Administrador</div>
                  </div>
                </a>

                <a class="dropdown-item text-center small text-gray-500" href="#">Ver todos los mensajes</a>
              </div>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-100 small">Invitado(a)</span>
                <img class="img-profile rounded-circle" alt="user" height="60" src="https://blog.ramboll.com/fehmarnbelt/wp-content/themes/ramboll2/images/profile-img.jpg">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Perfil
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Configuración
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Log de Actividades
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Salir
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <div class="tab-content">

            <div class="tab-pane active" id="dashboard">
              <!-- Page Heading -->
              <h4 class="d-flex justify-content-between align-items-center mb-4">
                <span>Dashboard</span>
              </h4>
              <hr class="mb-4">
            </div>

            <div class="tab-pane fade" id="phListProyect">

              <!-- Page Heading -->
              <h4 class="d-flex justify-content-between align-items-center mb-4">
                <span>Listar Proyectos</span>
              </h4>
              <hr class="mb-4">

              <div class="col-md-12">



              </div>

            </div>

            <div class="tab-pane fade" id="phConvertJson">

              <!-- Page Heading -->
              <h4 class="d-flex justify-content-between align-items-center mb-4">
                <span>Convertir Json</span>
              </h4>
              <hr class="mb-4">

              <div class="col-md-12">

                <div class="row">


                  <div class="col-md-12 order-md-1">

                    <div class="col-md-12 p-0">
                      <div ng-if="!jsonModel.ei" class="col-md-6 alert alert-danger p-0" role="alert">
                        <b>El external ID es obligatorio!</b>
                      </div>

                      <div class="row">
                        <div class="col-md-6 mb-3">
                          <label for="exi">External ID<sup style="color: red !important">*</sup></label>
                          <input type="text" class="form-control" id="exi" name="exi" ng-model="jsonModel.ei" ng-required="true" placeholder="Digita el external ID ..."
                                 ng-class="{ 'is-invalid' : jsonForm.ei.$invalid && submitted}">
                          <div ng-show="stockForm.exi.$invalid && submitted" class="invalid-feedback">Por favor selecciona external Id valido</div>
                        </div>
                        <div class="col-md-6 mb-3">
                          <label for="customFile">Archivo Json con formato<sup style="color: red !important">*</sup></label>
                          <div class="custom-file">
                            <input type="file" nv-file-select="" uploader="up" class="custom-file-input" name="jsonFile" id="jsonFile"
                                   ng-model="jsonModel.file"
                                   ng-required="true" accept="application/JSON" filters="jsFile">
                            <label class="custom-file-label" for="jsonFile">Seleccionar archivo...</label>
                          </div>
                          <div ng-show="stockForm.jsonFile.$invalid && submitted" class="invalid-feedback">Por favor selecciona un archivo json valido</div>
                        </div>

                      </div>

                    </div>

                    <div class="col-md-12 p-0">

                      <!--<h4 class="mb-3">Upload queue</h4>
                      <small>Queue length: {{ uploader.queue.length }}</small>
                      <hr class="mb-4">-->


                      <div class="col-md-12 m-0 p-0" ng-show="up.queue.length===0">
                        <hr class="mb-4">
                        <div class="alert alert-primary" role="alert">
                          <strong class="alert-heading"><i class="fa fa-info-circle"></i> INFORMACIÓN IMPORTANTE</strong>
                          <br>
                          <br>
                          <strong>*</strong> Seleccione unicamente un archivo en formato Json, este debera tener el mismo formato emitido por Parse Hub.
                          <br>

                        </div>
                      </div>


                      <hr class="mb-4">

                      <table class="table table table-borderless" ng-show="up.queue.length>0 && jsonModel.ei">
                        <thead class="thead-darke-blue">
                        <tr>
                          <th width="50%">Nombre de archivo</th>
                          <th ng-show="up.isHTML5">Tamaño</th>
                          <th ng-show="up.isHTML5">Progreso</th>
                          <th>Estado</th>
                          <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in up.queue">
                          <td><strong>{{ item.file.name }}</strong></td>
                          <td ng-show="up.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                          <td ng-show="up.isHTML5">
                            <div class="progress" style="margin-bottom: 0;">
                              <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                            </div>
                          </td>
                          <td class="text-center">
                            <span ng-show="item.isSuccess"><i class="fa fa-check" aria-hidden="true"></i></span>
                            <span ng-show="item.isCancel"><i class="fa fa-ban" aria-hidden="true"></i></span>
                            <span ng-show="item.isError"><i class="fa fa-times" aria-hidden="true"></i></span>
                          </td>
                          <td nowrap>
                            <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                              <i class="fa fa-upload" aria-hidden="true"></i> Subir y procesar
                            </button>
                            <button type="button" class="d-none btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                              <i class="fa fa-ban" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="d-none btn btn-danger btn-xs" ng-click="item.remove()">
                              <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                          </td>
                        </tr>
                        </tbody>
                      </table>

                      <div class="d-none">
                        <div>
                          Queue progress:
                          <div class="progress">
                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                          </div>
                        </div>
                        <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                          <span class="glyphicon glyphicon-upload"></span> Upload all
                        </button>
                        <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                          <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                        </button>
                        <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                          <span class="glyphicon glyphicon-trash"></span> Remove all
                        </button>
                      </div>

                    </div>

                  </div>
                </div>

              </div>

            </div>

            <div class="tab-pane fade" id="addCategory">

              <!-- Page Heading -->
              <h4 class="d-flex justify-content-between align-items-center mb-4">
                <span>Agregar Categoria</span>
              </h4>
              <hr class="mb-4">

              <div class="col-md-12">

                <form novalidate id="addCategoryForm" name="addCategoryForm" ng-submit="submitaddCategoryForm(addCategoryForm.$valid)">



                  <div class="alert alert-success" role="alert">
                    <b>Mensaje: </b>La categoria fue creada correctamente
                  </div>

                  <div class="row">

                    <div class="col-md-4 mb-3">
                      <label for="titleB2b">Titulo<sup style="color: red !important">*</sup></label>
                      <input type="text" class="form-control" ng-class="{ 'is-invalid' : addCategoryForm.titleB2b.$invalid && submitted}"
                             id="titleB2b" name="titleB2b"
                             placeholder="Escribe el titulo en ingles" ng-model="ac.titleB2b" ng-required="true">
                      <div ng-show="addCategoryForm.titleB2b.$invalid && submitted" class="invalid-feedback">Por favor escribe un titulo par la nueva categoria</div>
                    </div>

                    <div class="col-md-4 mb-3">
                      <label for="titleB2bS">Titulo Español<sup style="color: red !important">*</sup></label>
                      <input type="text" class="form-control" ng-class="{ 'is-invalid' : addCategoryForm.titleB2bS.$invalid && submitted}"
                             id="titleB2bS" name="titleB2bS"
                             placeholder="Escribe el titulo en español" ng-model="ac.titleB2bS" ng-required="true">
                      <div ng-show="addCategoryForm.titleB2bS.$invalid && submitted" class="invalid-feedback">Por favor escribe un titulo ingles par la nueva categoria</div>
                    </div>

                    <div class="col-md-4 mb-3">
                      <label for="imageUrl">Imagen URL<sup style="color: red !important">*</sup></label>
                      <input type="text" class="form-control" ng-class="{ 'is-invalid' : addCategoryForm.imageUrl.$invalid && submitted}"
                             id="imageUrl" name="imageUrl"
                             placeholder="Escribe la url de la imagen" ng-model="ac.imageUrl" ng-required="true">
                      <div ng-show="addCategoryForm.imageUrl.$invalid && submitted" class="invalid-feedback">Por favor escribe una url valida</div>
                    </div>

                    <div class="col-md-4 mb-3">
                      <label for="Uri">URL de Categoria<sup style="color: red !important">*</sup></label>
                      <input type="text" class="form-control" ng-class="{ 'is-invalid' : addCategoryForm.Uri.$invalid && submitted}"
                             id="Uri" name="Uri"
                             placeholder="Escribe la url de la categoria" ng-model="ac.Uri" ng-required="true">
                      <div ng-show="addCategoryForm.Uri.$invalid && submitted" class="invalid-feedback">Por favor escribe una url valida</div>
                    </div>

                    <div class="col-md-4 mb-3">
                      <label for="catB2b">Categoria<sup style="color: red !important">*</sup></label>
                      <select ng-class="{ 'is-invalid' : addCategoryForm.catB2b.$invalid && submitted}"
                              id="catB2b" name="catB2b" class="form-control"
                              ng-model="ac.catB2b" ng-required="true"
                              ng-disabled="allCategories.length===0"
                              ng-options="ca.value as ca.name for ca in allCategories" ng-change="setRootCategory(ca.name)">
                        <option value="">Seleccionar</option>
                      </select>
                      <div ng-show="addCategoryForm.catB2b.$invalid && submitted" class="invalid-feedback">Por favor seleccionar una categoria principal</div>
                    </div>


                    <div class="col-md-4 mb-3">
                      <fieldset disabled>
                      <label for="catB2bRoot">Categoria Padre<sup style="color: red !important">*</sup></label>
                      <input type="text" class="form-control" ng-class="{ 'is-invalid' : addCategoryForm.catB2bRoot.$invalid && submitted}"
                             id="catB2bRoot" name="catB2bRoot"
                             ng-model="ac.catB2bRoot" ng-required="true" ng-value="ac.catB2bRoot">
                      <div ng-show="addCategoryForm.catB2bRoot.$invalid && submitted" class="invalid-feedback"></div>
                      </fieldset>
                    </div>

                    <small>{{ac}}</small>
                  </div>

                  <div class="row">
                    <div class="col-md-4 mb-3 mt-3" ng-if="ac.catB2b">
                      <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                          <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">ID Categoria Padre</div>
                              <div class="h5 mb-0 font-weight-bold text-gray-800">{{ac.catB2b}}</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>

                  <div class="row">
                    <div class="col-12 text-right float-right">
                      <button class="btn btn-primary mr-auto" type="submit">Crear</button>
                    </div>
                  </div>

                </form>

              </div>

            </div>

              <div ng-controller="pyleAudioCtrl" class="tab-pane fade" id="pyleNew">

                <!-- Page Heading -->
                <h4 class="d-flex justify-content-between align-items-center mb-4">
                  <span>Pyle>Nuevos Productos</span>
                </h4>
                <hr class="mb-4">

                <div class="col-md-12 p-0">

                    <div class="row">
                      <div class="col-md-4 order-md-2 mb-4">
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                          <span>{{'Last files'|translate}}</span>
                          <span class="badge badge-secondary badge-pill">1</span>
                        </h4>
                        <hr class="mb-4">
                        <ul class="list-group mb-3">
                          <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                              <h6 class="my-0">{{'Example file.xls'|translate}}</h6>
                              <small class="text-muted">{{'Uploaded on'|translate}} 22/03/2020 11:00</small>
                            </div>
                            <a href="https://ws.anicamstore.com:3005/examples/stockpyle/template_pylestock_new.xlsx" download="ejemploStockPyle" class="btn btn-success"><i class="fa fa-download" aria-hidden="true"></i></a>
                          </li>

                        </ul>

                      </div>
                      <div class="col-md-8 order-md-1">

                        <div class="col-md-12 p-0">
                          <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span>{{'Requirements'|translate}}</span>
                          </h4>
                          <hr class="mb-4">

                          <div class="row">

                            <div class="col-md-6 mb-3">
                              <label for="customFile">Archivo Excel (2007 o superior)<sup style="color: red !important">*</sup></label>
                              <div class="custom-file">
                                <input type="file" nv-file-select="" uploader="uploaderNew" class="custom-file-input" name="customFile" id="customFileNew" ng-model="cost.file"
                                       ng-required="true" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" filters="excelFile">
                                <label class="custom-file-label" for="customFileNew">Seleccionar archivo...</label>
                              </div>
                              <div ng-show="stockForm.customFile.$invalid && submitted" class="invalid-feedback">Por favor selecciona un archivo de excel</div>
                            </div>

                          </div>

                        </div>

                        <div class="col-md-12 p-0">

                          <!--<h4 class="mb-3">Upload queue</h4>
                          <small>Queue length: {{ uploader.queue.length }}</small>
                          <hr class="mb-4">-->


                          <div class="col-md-12 m-0 p-0" ng-show="uploaderNew.queue.length===0">
                            <hr class="mb-4">
                            <div class="alert alert-primary" role="alert">
                              <strong class="alert-heading"><i class="fa fa-info-circle"></i> INFORMACIÓN IMPORTANTE</strong>
                              <br>
                              <br>
                              <strong>*</strong> Seleccione unicamente un archivo en <i class="fa fa-file-excel-o" aria-hidden="true"></i> Excel con version 2007 o superior, este debera tener el formato de la plantilla ejemplo que podras descargar en la parte superior derecha.
                              <br>

                            </div>
                          </div>


                          <hr class="mb-4">
                          <table class="table table table-borderless" ng-show="uploaderNew.queue.length>0">
                            <thead class="thead-darke-blue">
                            <tr>
                              <th width="50%">Nombre de archivo</th>
                              <th ng-show="uploaderNew.isHTML5">Tamaño</th>
                              <th ng-show="uploaderNew.isHTML5">Progreso</th>
                              <th>Estado</th>
                              <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in uploaderNew.queue">
                              <td><strong>{{ item.file.name }}</strong></td>
                              <td ng-show="uploaderNew.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                              <td ng-show="uploaderNew.isHTML5">
                                <div class="progress" style="margin-bottom: 0;">
                                  <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                </div>
                              </td>
                              <td class="text-center">
                                <span ng-show="item.isSuccess"><i class="fa fa-check" aria-hidden="true"></i></span>
                                <span ng-show="item.isCancel"><i class="fa fa-ban" aria-hidden="true"></i></span>
                                <span ng-show="item.isError"><i class="fa fa-times" aria-hidden="true"></i></span>
                              </td>
                              <td nowrap>
                                <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                  <i class="fa fa-upload" aria-hidden="true"></i> Subir y procesar
                                </button>
                                <button type="button" class="d-none btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                  <i class="fa fa-ban" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="d-none btn btn-danger btn-xs" ng-click="item.remove()">
                                  <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                              </td>
                            </tr>
                            </tbody>
                          </table>

                          <div class="d-none">
                            <div>
                              Queue progress:
                              <div class="progress" style="">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                              </div>
                            </div>
                            <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                              <span class="glyphicon glyphicon-upload"></span> Upload all
                            </button>
                            <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                              <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                            </button>
                            <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                              <span class="glyphicon glyphicon-trash"></span> Remove all
                            </button>
                          </div>

                        </div>

                      </div>
                    </div>

                  <div class="col-md-12 mt-lg-2">

                    <div class=" alert alert-primary" role="alert" ng-if="!loading && !success && !fail">
                      <strong><i class="fa fa-info-circle" aria-hidden="true"></i></strong>
                      Debes cargar un documento en excel para ver los resultados.
                    </div>

                    <div class="clearfix text-center area-processing loading-products mt-3 mb-3" ng-if="loading">
                      <hr class="mb-4">
                      <img class="mb-2" src="https://anicamboxexpress.com/css/quotation/loading-orange.gif" height="65" alt="Procesando ..." />
                      <h4>Procesando Excel, este proceso podria tardar varios minutos ...</h4>
                      <hr class="mb-4">
                    </div>

                    <div class="alert alert-warning" role="alert" ng-if="noFound">
                      <strong class="alert-warning"><i class="fa fa-minus-circle" aria-hidden="true"></i></strong>
                      La información ingresada, no está registrada. Verifica e intenta nuevamente.
                    </div>

                    <div class="row">
                      <div class="col-md-6" style="overflow-x: scroll">
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                          <span>Resultado: {{totalDataSuccess}} productos encontrados</span>
                        </h4>
                        <hr class="mb-4">
                        <table id="tResultNew" class="table table-bordered w-100">
                          <thead class="thead-darke">
                          <tr>
                            <th class="valign-center text-center thead-darke-blue" rowspan="1" colspan="13" scope="col">Productos en B2B ({{totalDataSuccess}})</th>
                          </tr>
                          <tr>
                            <th class="valign-center text-center" scope="col">ID B2B</th>
                            <th class="valign-center text-center" scope="col">Asin</th>
                            <th class="valign-center text-center" scope="col">SKU</th>
                            <th class="valign-center text-center" scope="col">Arancel</th>
                            <th class="valign-center text-center" scope="col">Cantidad</th>
                            <th class="valign-center text-center" scope="col">Marca</th>
                            <th class="valign-center text-center" scope="col">Costo</th>
                            <th class="valign-center text-center" scope="col">P Venta</th>
                            <th class="valign-center text-center" scope="col">P Dealer</th>
                            <th class="valign-center text-center" scope="col">P Distribuidor</th>
                          </tr>
                          </thead>
                          <tbody class="text-left">
                          </tbody>
                        </table>
                        <hr>
                        <small class="d-none">
                          {{reqUpdate}}
                        </small>
                        <button type="button" class="btn btn-success btn-xs" ng-click="toUpdateB2B()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                          <i class="fa fa-upload" aria-hidden="true"></i> Actualizar Stock
                        </button>
                      </div>
                      <div class="col-md-6" style="overflow-x: scroll">
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                          <span>Resultado: {{totalDataFail}} productos nuevos</span>
                        </h4>
                        <hr class="mb-4">
                        <table id="tResultFound" class="table table-bordered w-100">
                          <thead class="thead-darke">
                          <tr>
                            <th class="valign-center text-center thead-darke-blue" rowspan="1" colspan="13" scope="col">Productos No registrados ({{totalDataFail}})</th>
                          </tr>
                          <tr>
                            <th class="valign-center text-center" scope="col">Marca</th>
                            <th class="valign-center text-center" scope="col">SKU</th>
                            <th class="valign-center text-center" scope="col">Cantidad</th>
                            <th class="valign-center text-center" scope="col">Costo</th>
                            <th class="valign-center text-center" scope="col">Arancel</th>
                            <th class="valign-center text-center" scope="col">P Venta</th>
                            <th class="valign-center text-center" scope="col">P Dealer</th>
                            <th class="valign-center text-center" scope="col">P Distribuidor</th>
                          </tr>
                          </thead>
                          <tbody class="text-left">
                          </tbody>
                        </table>
                        <hr>
                        <button type="button" class="btn btn-success btn-xs" ng-click="toUpdateB2B" ng-disabled="true">
                          <i class="fa fa-send" aria-hidden="true"></i> Enviar Productos
                        </button>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="col-md-6">
                          <div class="clearfix text-center area-processing loading-products mt-5 mb-5" ng-if="loadingUpd">
                            <img class="mb-2" src="https://anicamboxexpress.com/css/quotation/loading-orange.gif" height="65" alt="Actualizando inventario en B2B ..."  />
                            <h4>Actualizando inventario en B2B ...</h4>
                          </div>
                          <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span>Resultado: {{totalDataUpdate}} productos actualizados</span>
                          </h4>
                          <hr class="mb-4">
                          <table id="tResultUpdate" class="table table-bordered w-100">
                            <thead class="thead-darke">
                            <tr>
                              <th class="valign-center text-center thead-darke-blue" rowspan="1" colspan="13" scope="col">Productos Actualizados ({{totalDataUpdate}})</th>
                            </tr>
                            <tr>
                              <th class="valign-center text-center" scope="col">ID B2B</th>
                              <th class="valign-center text-center" scope="col">SKU</th>
                              <th class="valign-center text-center" scope="col">Estado</th>
                            </tr>
                            </thead>
                            <tbody class="text-left">
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>

                  </div>


                </div>

              </div>

              <div ng-controller="pyleAudioCtrl" class="tab-pane fade" id="pyleStock">

                <!-- Page Heading -->
                <h4 class="d-flex justify-content-between align-items-center mb-4">
                  <span>Pyle>Actualizar Inventario</span>
                </h4>
                <hr class="mb-4">

                <div class="col-md-12 p-0">

                    <div class="row">
                      <div class="col-md-4 order-md-2 mb-4">
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                          <span>{{'Last files'|translate}}</span>
                          <span class="badge badge-secondary badge-pill">1</span>
                        </h4>
                        <hr class="mb-4">
                        <ul class="list-group mb-3">
                          <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                              <h6 class="my-0">{{'Example file.xls'|translate}}</h6>
                              <small class="text-muted">{{'Uploaded on'|translate}} 22/03/2020 11:00</small>
                            </div>
                            <a href="https://ws.anicamstore.com:3005/examples/stockpyle/template_pylestock_update.xlsx" download="ejemploStockPyle" class="btn btn-success"><i class="fa fa-download" aria-hidden="true"></i></a>
                          </li>

                        </ul>

                      </div>
                      <div class="col-md-8 order-md-1">

                        <div class="col-md-12 order-md-1">
                          <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span>{{'Requirements'|translate}}</span>
                          </h4>
                          <hr class="mb-4">

                          <div class="row">

                            <div class="col-md-6 mb-3">
                              <label for="customFile">Archivo Excel (2007 o superior)<sup style="color: red !important">*</sup></label>
                              <div class="custom-file">
                                <input type="file" nv-file-select="" uploader="uploader" class="custom-file-input" name="customFile" id="customFile" ng-model="cost.file"
                                       ng-required="true" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" filters="excelFile">
                                <label class="custom-file-label" for="customFile">Seleccionar archivo...</label>
                              </div>
                              <div ng-show="stockForm.customFile.$invalid && submitted" class="invalid-feedback">Por favor selecciona un archivo de excel</div>
                            </div>

                            <!--<div class="col-md-12 pull-right">
                                <button class="btn btn-primary pull-right" ng-click="resetForm()" type="reset"><i class="fa fa-refresh"></i> Intentarlo de nuevo</button>
                            </div>-->
                          </div>



                        </div>

                        <div class="col-md-12 order-md-2">

                          <!--<h4 class="mb-3">Upload queue</h4>
                          <small>Queue length: {{ uploader.queue.length }}</small>
                          <hr class="mb-4">-->


                          <div class="col-md-12 m-0 p-0" ng-show="uploader.queue.length===0">
                            <hr class="mb-4">
                            <div class="alert alert-primary" role="alert">
                              <strong class="alert-heading"><i class="fa fa-info-circle"></i> INFORMACIÓN IMPORTANTE</strong>
                              <br>
                              <br>
                              <strong>*</strong> Seleccione unicamente un archivo en <i class="fa fa-file-excel-o" aria-hidden="true"></i> Excel con version 2007 o superior, este debera tener el formato de la plantilla ejemplo que podras descargar en la parte superior derecha.
                              <br>

                            </div>
                          </div>


                          <hr class="mb-4">
                          <table class="table table table-borderless" ng-show="uploader.queue.length>0">
                            <thead class="thead-darke-blue">
                            <tr>
                              <th width="50%">Nombre de archivo</th>
                              <th ng-show="uploader.isHTML5">Tamaño</th>
                              <th ng-show="uploader.isHTML5">Progreso</th>
                              <th>Estado</th>
                              <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in uploader.queue">
                              <td><strong>{{ item.file.name }}</strong></td>
                              <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                              <td ng-show="uploader.isHTML5">
                                <div class="progress" style="margin-bottom: 0;">
                                  <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                </div>
                              </td>
                              <td class="text-center">
                                <span ng-show="item.isSuccess"><i class="fa fa-check" aria-hidden="true"></i></span>
                                <span ng-show="item.isCancel"><i class="fa fa-ban" aria-hidden="true"></i></span>
                                <span ng-show="item.isError"><i class="fa fa-times" aria-hidden="true"></i></span>
                              </td>
                              <td nowrap>
                                <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                  <i class="fa fa-upload" aria-hidden="true"></i> Subir y procesar
                                </button>
                                <button type="button" class="d-none btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                  <i class="fa fa-ban" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="d-none btn btn-danger btn-xs" ng-click="item.remove()">
                                  <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                              </td>
                            </tr>
                            </tbody>
                          </table>

                          <div class="d-none">
                            <div>
                              Queue progress:
                              <div class="progress" style="">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                              </div>
                            </div>
                            <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                              <span class="glyphicon glyphicon-upload"></span> Upload all
                            </button>
                            <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                              <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                            </button>
                            <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                              <span class="glyphicon glyphicon-trash"></span> Remove all
                            </button>
                          </div>

                        </div>

                      </div>
                    </div>

                  <div class="col-md-12 mt-lg-2">

                    <div class=" alert alert-primary" role="alert" ng-if="!loading && !success && !fail">
                      <strong><i class="fa fa-info-circle" aria-hidden="true"></i></strong>
                      Debes cargar un documento en excel para ver los resultados.
                    </div>

                    <div class="clearfix text-center area-processing loading-products mt-3 mb-3" ng-if="loading">
                      <hr class="mb-4">
                      <img class="mb-2" src="https://anicamboxexpress.com/css/quotation/loading-orange.gif" height="65" alt="Procesando ..." />
                      <h4>Procesando Excel, este proceso podria tardar varios minutos ...</h4>
                      <hr class="mb-4">
                    </div>

                    <div class="alert alert-warning" role="alert" ng-if="noFound">
                      <strong class="alert-warning"><i class="fa fa-minus-circle" aria-hidden="true"></i></strong>
                      La información ingresada, no está registrada. Verifica e intenta nuevamente.
                    </div>

                    <div class="row">
                      <div class="col-md-6" style="overflow-x: scroll">
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                          <span>Resultado: {{totalDataSuccess}} productos encontrados</span>
                        </h4>
                        <hr class="mb-4">
                        <table id="tResultB2B" class="table table-bordered w-100">
                          <thead class="thead-darke">
                          <tr>
                            <th class="valign-center text-center thead-darke-blue" rowspan="1" colspan="13" scope="col">Productos en B2B ({{totalDataSuccess}})</th>
                          </tr>
                          <tr>
                            <th class="valign-center text-center" scope="col">ID B2B</th>
                            <th class="valign-center text-center" scope="col">Asin</th>
                            <th class="valign-center text-center" scope="col">SKU</th>
                            <th class="valign-center text-center" scope="col">Arancel</th>
                            <th class="valign-center text-center" scope="col">Cantidad</th>
                            <th class="valign-center text-center" scope="col">Marca</th>
                            <th class="valign-center text-center" scope="col">Costo</th>
                            <th class="valign-center text-center" scope="col">P Venta</th>
                            <th class="valign-center text-center" scope="col">P Dealer</th>
                            <th class="valign-center text-center" scope="col">P Distribuidor</th>
                          </tr>
                          </thead>
                          <tbody class="text-left">
                          </tbody>
                        </table>
                        <hr>
                        <small class="d-none">
                          {{reqUpdate}}
                        </small>
                        <button type="button" class="btn btn-success btn-xs" ng-click="toUpdateB2B()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                          <i class="fa fa-upload" aria-hidden="true"></i> Actualizar Stock
                        </button>
                      </div>
                      <div class="col-md-6" style="overflow-x: scroll">
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                          <span>Resultado: {{totalDataFail}} productos nuevos</span>
                        </h4>
                        <hr class="mb-4">
                        <table id="tResultNOB2B" class="table table-bordered w-100">
                          <thead class="thead-darke">
                          <tr>
                            <th class="valign-center text-center thead-darke-blue" rowspan="1" colspan="13" scope="col">Productos No registrados ({{totalDataFail}})</th>
                          </tr>
                          <tr>
                            <th class="valign-center text-center" scope="col">Marca</th>
                            <th class="valign-center text-center" scope="col">SKU</th>
                            <th class="valign-center text-center" scope="col">Cantidad</th>
                            <th class="valign-center text-center" scope="col">Costo</th>
                            <th class="valign-center text-center" scope="col">Arancel</th>
                            <th class="valign-center text-center" scope="col">P Venta</th>
                            <th class="valign-center text-center" scope="col">P Dealer</th>
                            <th class="valign-center text-center" scope="col">P Distribuidor</th>
                          </tr>
                          </thead>
                          <tbody class="text-left">
                          </tbody>
                        </table>
                        <hr>
                        <button type="button" class="btn btn-success btn-xs" ng-click="toUpdateB2B" ng-disabled="true">
                          <i class="fa fa-send" aria-hidden="true"></i> Enviar Productos
                        </button>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="col-md-6">
                          <div class="clearfix text-center area-processing loading-products mt-5 mb-5" ng-if="loadingUpd">
                            <img class="mb-2" src="https://anicamboxexpress.com/css/quotation/loading-orange.gif" height="65" alt="Actualizando inventario en B2B ..."  />
                            <h4>Actualizando inventario en B2B ...</h4>
                          </div>
                          <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span>Resultado: {{totalDataUpdate}} productos actualizados</span>
                          </h4>
                          <hr class="mb-4">
                          <table id="tResultUpdate" class="table table-bordered w-100">
                            <thead class="thead-darke">
                            <tr>
                              <th class="valign-center text-center thead-darke-blue" rowspan="1" colspan="13" scope="col">Productos Actualizados ({{totalDataUpdate}})</th>
                            </tr>
                            <tr>
                              <th class="valign-center text-center" scope="col">ID B2B</th>
                              <th class="valign-center text-center" scope="col">SKU</th>
                              <th class="valign-center text-center" scope="col">Estado</th>
                            </tr>
                            </thead>
                            <tbody class="text-left">
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>

                  </div>


                </div>

              </div>

            <div class="tab-pane fade" id="massiveUpdate">

              <!-- Page Heading -->
              <h4 class="d-flex justify-content-between align-items-center mb-4">
                <span>Descarga Masiva</span>
              </h4>
              <hr class="mb-4">

              <div class="col-md-12">

                        <form novalidate id="massiveUpdateForm" name="massiveUpdateForm" ng-submit="submitUpdateForm(massiveUpdateForm.$valid)">

                          <div class="row">
                            <div class="col-md-4 mb-3">
                              <label for="cat">Marca<sup style="color: red !important">*</sup></label>
                              <select ng-class="{ 'is-invalid' : massiveUpdateForm.cat.$invalid && submitted}"
                                      id="cat" name="cat" class="form-control"
                                      ng-model="ms.cat" ng-required="true"
                                      ng-change="updateSubCats(ms.cat)" ng-disabled="qCategories.length===0"
                                      ng-options="ca.value as ca.name for ca in qCategories">
                                <option value="">Seleccionar</option>
                              </select>
                              <div ng-show="massiveUpdateForm.cat.$invalid && submitted" class="invalid-feedback">Por favor seleccionar una categoria principal</div>
                            </div>

                            <div class="col-md-4 mb-3">
                              <label for="subcat">Categoria<sup style="color: red !important">*</sup></label>
                              <select ng-class="{ 'is-invalid' : massiveUpdateForm.subcat.$invalid && submitted}"
                                      id="subcat" name="subcat" class="form-control"
                                      ng-model="ms.subcat" ng-required="true" ng-change="updateSubCats(ms.subcat,true)" ng-disabled="qSubCategories.length===0"
                                      ng-options="sca.value as sca.name for sca in qSubCategories">
                                <option value="">Seleccionar</option>
                              </select>
                              <div ng-show="massiveUpdateForm.subcat.$invalid && submitted" class="invalid-feedback">Por favor seleccionar una subcategoria para poder buscar</div>
                            </div>

                            <div class="col-md-4 mb-3" ng-show="qSubCategories2.length>0">
                              <label for="subcat2">Subcategoria<sup style="color: red !important">*</sup></label>
                              <select ng-class="{ 'is-invalid' : massiveUpdateForm.subcat2.$invalid && submitted}"
                                      id="subcat2" name="subcat2" class="form-control"
                                      ng-model="ms.subcat2" ng-required="qSubCategories2.length>0" ng-disabled="qSubCategories2.length===0"
                                      ng-options="sca2.value as sca2.name for sca2 in qSubCategories2">
                                <option value="">Seleccionar</option>
                              </select>
                              <div ng-show="massiveUpdateForm.subcat2.$invalid && submitted" class="invalid-feedback">Por favor seleccionar una subcategoria para poder buscar</div>
                            </div>

                          </div>

                          <div class="row">
                          <div class="col-md-4 mb-3 mt-3" ng-if="ms.cat">
                            <div class="card border-left-primary shadow h-100 py-2">
                              <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                  <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Marca a buscar</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ms.cat}}</div>
                                  </div>
                                  <div class="col-auto">
                                    <button ng-click="searchProducts(ms.cat)" class="btn btn-primary" type="button">
                                      <i class="fas fa-search fa-sm" aria-hidden="true"></i>
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="col-md-4 mb-3 mt-3" ng-if="ms.subcat">
                            <div class="card border-left-primary shadow h-100 py-2">
                              <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                  <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Categoria a buscar</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ms.subcat}}</div>
                                  </div>
                                  <div class="col-auto">
                                    <button ng-click="searchProducts(ms.subcat)" class="btn btn-primary" type="button">
                                      <i class="fas fa-search fa-sm" aria-hidden="true"></i>
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="col-md-4 mb-3 mt-3" ng-if="ms.subcat2">
                            <div class="card border-left-primary shadow h-100 py-2">
                              <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                  <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Subcategoria a buscar</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ms.subcat2}}</div>
                                  </div>
                                  <div class="col-auto">
                                    <button ng-click="searchProducts(ms.subcat2)" class="btn btn-primary" type="button">
                                      <i class="fas fa-search fa-sm" aria-hidden="true"></i>
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          </div>

                        </form>

                <hr class="mb-4">
                <div class="clearfix text-center area-processing loading-products mt-5 mb-5" ng-if="ms.loadingDown">
                  <img class="mb-2" src="https://anicamboxexpress.com/css/quotation/loading-orange.gif" height="65" alt="Actualizando inventario en B2B ..."  />
                  <h4>Descargando productos de B2B ...</h4>
                </div>
                <hr class="mb-4" ng-if="ms.loadingDown">
                <div class="row">
                  <div class="col-md-12">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                      <span>Resultado: {{ms.totalProductsCatAva}} productos encontrados de {{ms.totalProductsCat}}</span>
                    </h4>
                    <hr class="mb-4">
                    <table id="tResultCat" class="table table-bordered w-100">
                      <thead class="thead-darke">
                      <tr>
                        <th class="valign-center text-center thead-darke-blue" rowspan="1" colspan="13" scope="col">Resultado de Productos</th>
                      </tr>
                      <tr>
                        <th class="valign-center text-center" scope="col">ID B2B</th>
                        <th class="valign-center text-center" scope="col">BRAND</th>
                        <th class="valign-center text-center" scope="col">SKU</th>
                        <th class="valign-center text-center" scope="col">QUANTITY</th>
                        <th class="valign-center text-center" scope="col">COST</th>
                        <th class="valign-center text-center" scope="col">ARANCEL</th>
                        <th class="valign-center text-center" scope="col">SALE PRICE</th>
                        <th class="valign-center text-center" scope="col">DEALER PRICE</th>
                        <th class="valign-center text-center" scope="col">DISTRIBUTOR PRICE</th>
                      </tr>
                      </thead>
                      <tbody class="text-left">
                      </tbody>
                    </table>
                    <hr class="mb-4">
                    <button type="button" class="btn btn-success btn-xs" ng-click="toUpdateB2B()">
                      <i class="fa fa-upload" aria-hidden="true"></i> Actualizar Stock
                    </button>
                    <hr class="mb-4">
                  </div>
                </div>


              </div>

            </div>

            <div class="tab-pane fade" ng-controller="amzDownCtrl" id="downAmazon">

              <!-- Page Heading -->
              <h4 class="d-flex justify-content-between align-items-center mb-4">
                <span>Descarga Amazon</span>
              </h4>
              <hr class="mb-4">

              <div class="col-md-12 p-0">

                    <div class="row">
                      <div class="col-md-4 order-md-2 mb-4">
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                          <span>{{'Last files'|translate}}</span>
                          <span class="badge badge-secondary badge-pill">1</span>
                        </h4>
                        <hr class="mb-4">
                        <ul class="list-group mb-3">
                          <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                              <h6 class="my-0">{{'Example file.xls'|translate}}</h6>
                              <small class="text-muted">{{'Uploaded on'|translate}} 22/03/2020 11:00</small>
                            </div>
                            <a href="https://ws.anicamstore.com:3005/examples/stockpyle/template_pylestock_update.xlsx" download="ejemploStockPyle" class="btn btn-success"><i class="fa fa-download" aria-hidden="true"></i></a>
                          </li>

                        </ul>

                      </div>
                      <div class="col-md-8 order-md-1">

                        <div class="col-md-12 order-md-1">
                          <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span>{{'Requirements'|translate}}</span>
                          </h4>
                          <hr class="mb-4">

                            <div class="row">

                              <div class="col-md-6 mb-3">
                                <label for="customFile">Archivo Excel (2007 o superior)<sup style="color: red !important">*</sup></label>
                                <div class="custom-file">
                                  <input type="file" nv-file-select="" uploader="uploader" class="custom-file-input" name="customFile" id="customFile" ng-model="cost.file"
                                         ng-required="true" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" filters="excelFile">
                                  <label class="custom-file-label" for="customFile">Seleccionar archivo...</label>
                                </div>
                                <div ng-show="stockForm.customFile.$invalid && submitted" class="invalid-feedback">Por favor selecciona un archivo de excel</div>
                              </div>

                              <!--<div class="col-md-12 pull-right">
                                  <button class="btn btn-primary pull-right" ng-click="resetForm()" type="reset"><i class="fa fa-refresh"></i> Intentarlo de nuevo</button>
                              </div>-->
                            </div>



                        </div>

                        <div class="col-md-12 order-md-2">

                          <!--<h4 class="mb-3">Upload queue</h4>
                          <small>Queue length: {{ uploader.queue.length }}</small>
                          <hr class="mb-4">-->


                          <div class="col-md-12 m-0 p-0" ng-show="uploader.queue.length===0">
                            <hr class="mb-4">
                            <div class="alert alert-primary" role="alert">
                              <strong class="alert-heading"><i class="fa fa-info-circle"></i> INFORMACIÓN IMPORTANTE</strong>
                              <br>
                              <br>
                              <strong>*</strong> Seleccione unicamente un archivo en <i class="fa fa-file-excel-o" aria-hidden="true"></i> Excel con version 2007 o superior, este debera tener el formato de la plantilla ejemplo que podras descargar en la parte superior derecha.
                              <br>

                            </div>
                          </div>

                          <hr class="mb-4">
                          <table class="table table table-borderless" ng-show="uploader.queue.length>0">
                            <thead class="thead-darke-blue">
                            <tr>
                              <th width="50%">Nombre de archivo</th>
                              <th ng-show="uploader.isHTML5">Tamaño</th>
                              <th ng-show="uploader.isHTML5">Progreso</th>
                              <th>Estado</th>
                              <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in uploader.queue">
                              <td><strong>{{ item.file.name }}</strong></td>
                              <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                              <td ng-show="uploader.isHTML5">
                                <div class="progress" style="margin-bottom: 0;">
                                  <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                </div>
                              </td>
                              <td class="text-center">
                                <span ng-show="item.isSuccess"><i class="fa fa-check" aria-hidden="true"></i></span>
                                <span ng-show="item.isCancel"><i class="fa fa-ban" aria-hidden="true"></i></span>
                                <span ng-show="item.isError"><i class="fa fa-times" aria-hidden="true"></i></span>
                              </td>
                              <td nowrap>
                                <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                  <i class="fa fa-upload" aria-hidden="true"></i> Subir y procesar
                                </button>
                                <button type="button" class="d-none btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                  <i class="fa fa-ban" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="d-none btn btn-danger btn-xs" ng-click="item.remove()">
                                  <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                              </td>
                            </tr>
                            </tbody>
                          </table>

                        </div>

                      </div>
                    </div>

                <div class="col-md-12 mt-lg-2">

                  <div class=" alert alert-primary" role="alert" ng-if="!loading && !success && !fail">
                    <strong><i class="fa fa-info-circle" aria-hidden="true"></i></strong>
                    Debes cargar un documento en excel para ver los resultados.
                  </div>

                  <div class="clearfix text-center area-processing loading-products mt-3 mb-3" ng-if="loading">
                    <hr class="mb-4">
                    <img class="mb-2" src="https://anicamboxexpress.com/css/quotation/loading-orange.gif" height="65" alt="Procesando ..." />
                    <h4>Validando productos, este proceso podria tardar varios minutos ...</h4>
                    <hr class="mb-4">
                  </div>

                  <div class="alert alert-warning" role="alert" ng-if="noFound">
                    <strong class="alert-warning"><i class="fa fa-minus-circle" aria-hidden="true"></i></strong>
                    La información ingresada, no está registrada. Verifica e intenta nuevamente.
                  </div>

                  <div class="row">
                    <div class="col-md-6" style="overflow-x: scroll">
                      <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span>Resultado: {{totalDataSuccess}} productos encontrados</span>
                      </h4>
                      <hr class="mb-4">
                      <table id="tResultAmzDown" class="table table-bordered w-100">
                        <thead class="thead-darke">
                        <tr>
                          <th class="valign-center text-center thead-darke-blue" rowspan="1" colspan="13" scope="col">Productos en Amazon encontrados ({{totalDataSuccess}})</th>
                        </tr>
                        <tr>
                          <th class="valign-center text-center" scope="col">Asin</th>
                          <th class="valign-center text-center" scope="col">Order Number</th>
                          <th class="valign-center text-center" scope="col">Order ID</th>
                          <th class="valign-center text-center" scope="col">Item ID</th>
                          <th class="valign-center text-center" scope="col">Package ID</th>
                          <th class="valign-center text-center" scope="col">Image 1</th>
                          <th class="valign-center text-center" scope="col">Image 2</th>
                          <th class="valign-center text-center" scope="col">Image 3</th>
                          <th class="valign-center text-center" scope="col">Image 4</th>
                          <th class="valign-center text-center" scope="col">Largo</th>
                          <th class="valign-center text-center" scope="col">Alto</th>
                          <th class="valign-center text-center" scope="col">Ancho</th>
                          <th class="valign-center text-center" scope="col">Peso</th>
                          <th class="valign-center text-center" scope="col">Precio</th>
                        </tr>
                        </thead>
                        <tbody class="text-left">
                        </tbody>
                      </table>
                      <hr>
                    </div>
                    <div class="col-md-6" style="overflow-x: scroll">
                      <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span>Resultado: {{totalDataFail}} productos fallidos</span>
                      </h4>
                      <hr class="mb-4">
                      <table id="tResultAmzDownN" class="table table-bordered w-100">
                        <thead class="thead-darke">
                        <tr>
                          <th class="valign-center text-center thead-darke-blue" rowspan="1" colspan="13" scope="col">Productos no encontrados ({{totalDataFail}})</th>
                        </tr>
                        <tr>
                          <th class="valign-center text-center" scope="col">Asin</th>
                          <th class="valign-center text-center" scope="col">Order Number</th>
                          <th class="valign-center text-center" scope="col">Order ID</th>
                          <th class="valign-center text-center" scope="col">Item ID</th>
                          <th class="valign-center text-center" scope="col">Package ID</th>
                          <th class="valign-center text-center" scope="col">Image 1</th>
                          <th class="valign-center text-center" scope="col">Image 2</th>
                          <th class="valign-center text-center" scope="col">Image 3</th>
                          <th class="valign-center text-center" scope="col">Image 4</th>
                          <th class="valign-center text-center" scope="col">Largo</th>
                          <th class="valign-center text-center" scope="col">Alto</th>
                          <th class="valign-center text-center" scope="col">Ancho</th>
                          <th class="valign-center text-center" scope="col">Peso</th>
                          <th class="valign-center text-center" scope="col">Precio</th>
                        </tr>
                        </thead>
                        <tbody class="text-left">
                        </tbody>
                      </table>
                      <hr>
                    </div>
                  </div>
                  <hr>
                </div>


              </div>


            </div>

          </div>


        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-gray">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span class="text-gray-100">Copyright &copy; Anicam Enterprises Inc. 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Seguro de salir ?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Selecciona "Cerrar Sesion" si está listo para finalizar su sesión actual.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
          <a class="btn btn-primary" href="login.html">Cerrar Sesion</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
<!--  <script src="vendor/chart.js/Chart.js"></script>-->

  <!-- Page level custom scripts -->
  <!--<script src="js/demo/chart-area-demo.js"></script>
  <script src="js/demo/chart-pie-demo.js"></script>-->

  <script src="https://anicamboxexpress.com/js/quotation/popper.min.js"></script>
  <!--<script src="https://anicamboxexpress.com/js/quotation/bootstrap/bootstrap.min.js"></script>-->

  <script src="https://anicamboxexpress.com/js/quotation/bootstrap-datepicker.js"></script>
  <script src="https://anicamboxexpress.com/js/quotation/jquery.priceformat.js"></script>

  <!-- Main Angular scripts-->
  <script src="https://anicamboxexpress.com/js/quotation/angular/angular.min.js"></script>
  <script src="https://anicamboxexpress.com/js/quotation/angular/angular-sanitize.js"></script>
  <script src="https://anicamboxexpress.com/js/quotation/plugins/oclazyload/dist/ocLazyLoad.min.js"></script>

  <!-- Upload angular files real -->
  <script src="https://anicamboxexpress.com/js/quotation/plugins/file-upload/angular-file-upload.js"></script>

  <!-- Upload angular files QUITAR ESTOS-->
  <script src="https://anicamboxexpress.com/js/quotation/plugins/file-upload/ng-file-upload.js"></script>
  <script src="https://anicamboxexpress.com/js/quotation/plugins/file-upload/ng-file-upload-all.js"></script>
  <script src="https://anicamboxexpress.com/js/quotation/plugins/file-upload/ng-file-upload-shim.js"></script>

  <!-- ui-select files -->
  <script src="https://anicamboxexpress.com/js/quotation/select2.js"></script>

  <script src="https://kit.fontawesome.com/274a24b580.js" crossorigin="anonymous"></script>

  <script src="https://anicamboxexpress.com/js/quotation/angular-translate/angular-translate.min.js"></script>
  <script src="https://anicamboxexpress.com/js/quotation/ui-router/angular-ui-router.min.js"></script>
  <script src="https://anicamboxexpress.com/js/quotation/bootstrap/ui-bootstrap-tpls-1.1.2.min.js"></script>
  <script src="https://anicamboxexpress.com/js/quotation/plugins/angular-idle/angular-idle.js"></script>

  <!-- Anglar App Script -->
  <script src="https://anicamboxexpress.com/js/quotation/app.js"></script>
  <!--<script src=".https://anicamboxexpress.com/js/config.js"></script>-->
  <script src="https://anicamboxexpress.com/js/quotation/translations.js"></script>
  <script src="https://anicamboxexpress.com/js/quotation/directives.js"></script>
  <script src="https://anicamboxexpress.com/js/quotation/controllers.js?V=2"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
<!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>-->

  <!-- Data Tables Plugin-->
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>

  <script>
    $(document).ready( function () {
        $('#tResultNew').DataTable({
            "iDisplayLength": 50,
            dom: 'Bfrtip',
            lengthMenu: [
                [ 10, 25, 50, 100, -1 ],
                [ '10 registros', '25 registros', '50 registros','100 registros', 'Ver todo' ]
            ],
            buttons: [
                'pageLength','copy', 'csv', 'excel'
            ]
        });
        $('#tResultFound').DataTable({
            "iDisplayLength": 50,
            dom: 'Bfrtip',
            lengthMenu: [
                [ 10, 25, 50, 100, -1 ],
                [ '10 registros', '25 registros', '50 registros','100 registros', 'Ver todo' ]
            ],
            buttons: [
                'pageLength','copy', 'csv', 'excel'
            ]
        });
      $('#tResultB2B').DataTable({
        "iDisplayLength": 50,
        dom: 'Bfrtip',
        lengthMenu: [
          [ 10, 25, 50, 100, -1 ],
          [ '10 registros', '25 registros', '50 registros','100 registros', 'Ver todo' ]
        ],
        buttons: [
          'pageLength','copy', 'csv', 'excel'
        ]
      });
      $('#tResultAmzDown').DataTable({
        "iDisplayLength": 50,
        dom: 'Bfrtip',
        lengthMenu: [
          [ 10, 25, 50, 100, -1 ],
          [ '10 registros', '25 registros', '50 registros','100 registros', 'Ver todo' ]
        ],
        buttons: [
          'pageLength','copy', 'csv', 'excel'
        ]
      });
      $('#tResultAmzDownN').DataTable({
        "iDisplayLength": 50,
        dom: 'Bfrtip',
        lengthMenu: [
          [ 10, 25, 50, 100, -1 ],
          [ '10 registros', '25 registros', '50 registros','100 registros', 'Ver todo' ]
        ],
        buttons: [
          'pageLength','copy', 'csv', 'excel'
        ]
      });

      $('#tResultCat').DataTable({
        "iDisplayLength": 50,
        dom: 'Bfrtip',
        lengthMenu: [
          [ 10, 25, 50, 100, -1 ],
          [ '10 registros', '25 registros', '50 registros','100 registros', 'Ver todo' ]
        ],
        buttons: [
          'pageLength','copy', 'csv', 'excel'
        ]
      });
      $('#tResultNOB2B').DataTable({
        "iDisplayLength": 50,
        dom: 'Bfrtip',
        lengthMenu: [
          [ 10, 25, 50, 100, -1 ],
          [ '10 registros', '25 registros', '50 registros','100 registros', 'Ver todo' ]
        ],
        buttons: [
          'pageLength','copy', 'csv', 'excel'
        ]
      });
      $('#tResultUpdate').DataTable({
        "iDisplayLength": 50,
        dom: 'Bfrtip',
        lengthMenu: [
          [ 10, 25, 50, 100, -1 ],
          [ '10 registros', '25 registros', '50 registros','100 registros', 'Ver todo' ]
        ],
        buttons: [
          'pageLength','copy', 'csv', 'excel'
        ]
      });
    } );
  </script>

</body>

</html>
