﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
	var home = @CurrentPage.Site();
}

<!DOCTYPE html>
<html lang="en" ng-app="anicamquote">
  <head>

    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="@CurrentPage.siteDescription">

    <title>@CurrentPage.Name | @CurrentPage._siteTitle</title>
	
	<!-- Fonts -->
	<link href="//fonts.googleapis.com/css?family=Merriweather:400,700,300,900" rel="stylesheet" type="text/css">
	<link href="//fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet" type="text/css">
	
    <!-- CSS -->

    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/fanoe.css?v=3.5">
    <link rel="stylesheet" type="text/css" href="../css/style.css">

    <link rel="stylesheet" href="../css/quotation/bootstrap.css">
    <link rel="stylesheet" href="../css/quotation/font-awesome.css">

      <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/examples/album/album.css">


    <script src="../js/quotation/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>

    <script src="../js/quotation/jquery-2.2.3.min.js"></script>
    <script src="../js/quotation/bootstrap/bootstrap.min.js"></script>

    <script src="../js/quotation/bootstrap-datepicker.js"></script>
    <script src="../js/quotation/jquery.priceformat.js"></script>
    <script src="../js/quotation/date-and-time.js"></script>

    <!-- Main Angular scripts-->
    <script src="../js/quotation/angular/angular.min.js"></script>
    <script src="../js/quotation/angular/angular-sanitize.js"></script>
    <script src="../js/quotation/plugins/oclazyload/dist/ocLazyLoad.min.js"></script>

    <!-- Upload angular files real -->
    <script src="../js/quotation/plugins/file-upload/angular-file-upload.js"></script>

    <!-- Upload angular files -->
    <!--<script src="../js/quotation/plugins/file-upload/ng-file-upload.js"></script>
    <script src="../js/quotation/plugins/file-upload/ng-file-upload-all.js"></script>
    <script src="../js/quotation/plugins/file-upload/ng-file-upload-shim.js"></script>-->

    <!-- ui-select files -->
    <script src="../js/quotation/select2.js"></script>
    <link rel="stylesheet" href="../css/quotation/select2.css">

    <script src="../js/quotation/angular-translate/angular-translate.min.js"></script>
    <script src="../js/quotation/ui-router/angular-ui-router.min.js"></script>
    <script src="../js/quotation/bootstrap/ui-bootstrap-tpls-1.1.2.min.js"></script>
    <script src="../js/quotation/plugins/angular-idle/angular-idle.js"></script>

    <!-- Anglar App Script -->
    <script src="../js/quotation/app.js?@DateTime.Now.Ticks"></script>
<!--    <script src="../js/quotation/config.js"></script>-->
    <script src="../js/quotation/translations.js"></script>
    <script src="../js/quotation/directives.js"></script>
    <script src="../js/quotation/controllers.js?@DateTime.Now.Ticks"></script>

    <!-- themes -->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/quotation/selectize.default.css">-->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/quotation/selectize.bootstrap2.css"> -->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/quotation/selectize.bootstrap3.css">-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Start of anicamenterprises Zendesk Widget script -->
    <!--<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=006ed9fd-e7f3-4e74-adda-ddc517c61657"> </script>-->
    <!-- End of anicamenterprises Zendesk Widget script -->

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../css/favicon.ico">
    <link rel="icon" type="image/png" href="../css/favicon.ico">

    <!-- Start of Async Drift Code -->
    <!--<script>
      "use strict";

      !function() {
        var t = window.driftt = window.drift = window.driftt || [];
        if (!t.init) {
          if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
          t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
                  t.factory = function(e) {
                    return function() {
                      var n = Array.prototype.slice.call(arguments);
                      return n.unshift(e), t.push(n), t;
                    };
                  }, t.methods.forEach(function(e) {
            t[e] = t.factory(e);
          }), t.load = function(t) {
            var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
            o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
            var i = document.getElementsByTagName("script")[0];
            i.parentNode.insertBefore(o, i);
          };
        }
      }();
      drift.SNIPPET_VERSION = '0.3.1';
      drift.load('95n5nyxk24he');
    </script>-->
    <!-- End of Async Drift Code -->

  </head>

  <body ng-cloak >
    <header style="background:#@(home.SiteBackground) !important; border-bottom: 2px solid">
      <div class="container">
        <div class="row">
          <div class="col-10 col-md-4">
			<a href="@home.Url" style="position: relative; display: block; z-index: 1000;">
            	<div class="brand" style="background-image:url('@(home.SiteLogo)')"></div>
            	<!--<div class="brand" style="background-image:url('@(home.SiteLogo)?height=65&width=205&bgcolor=000')"></div>-->
			</a>
          </div>
          <div class="col-12 col-md-8">
            <nav>
			  
              @{ Html.RenderPartial("MainNavigation"); }

            </nav>
          </div>
        </div>
      </div>

      <div id="toggle" class="toggle">
        <a href="#" class="cross"><i class="fa fa-bars"></i></a>
      </div>
    </header>
	
    @RenderBody()

    <footer class="field dark" style="background:#000000 !important">
      <div class="container">
        <div class="row">
			
		  @{ Html.RenderPartial("BottomNavigation"); }

        </div>
      </div>
    </footer>
    
    <!-- Javascripts -->
    <!--<script src="../js/jquery.min.js"></script>-->
    <script src="../js/bootstrap.min.js"></script>
	<script src="../scripts/fanoe.js"></script>
	
    <script>
        function resizeIframe(obj) {
            var newheight;
            var newwidth;

            if(document.getElementById){
                newheight = document.getElementById(obj).contentWindow.document .body.scrollHeight;
                newwidth = document.getElementById(obj).contentWindow.document .body.scrollWidth;
            }

            document.getElementById(obj).height = (newheight) + "px";
            document.getElementById(obj).width = (newwidth) + "px";
        }
    </script>

  </body>
</html>
