﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
<div ng-controller="AlertCtrl" class="container">

    <div class="row mb-5 mt-4">

        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <h2>PRE ALERTA DE PAQUETES</h2>
        </div>

    </div>
<hr>
        <div class="row mb-4 mt-4" >


            <div class="col-md-8 col-xs-12 col-sm-12" ng-if="!loadingAlr && !terminateAlr" style="border-right: 1px solid rgba(0, 0, 0, .1)">
                        <form novalidate id="alertForm" name="alertForm" ng-submit="submitalertForm(alertForm.$valid)">

                            <h5>Ubicación de Origen:</h5>
                            <hr>
                            <div class="form-row">
                                <div class="form-group col-md-4 col-sm-12 col-xs-12">
                                    <label for="countryOrg">Pais<sup style="color: red !important">*</sup></label>
                                    <select ng-class="{ 'is-invalid' : alertForm.countryOrg.$invalid && submittedalert}" id="countryOrg" ng-disabled="true" name="countryOrg" class="form-control" ng-model="aditionals.countryOrg" ng-required="true">
                                        <option selected value="US">United States</option>
                                    </select>
                                    <div ng-show="alertForm.countryOrg.$invalid && submittedalert" class="invalid-feedback">El pais de origen es requerido.</div>
                                </div>
                                <div class="form-group col-md-4 col-sm-12 col-xs-12">
                                    <label for="stateOrg">Estado/Provincia<sup style="color: red !important">*</sup></label>
                                    <select ng-class="{ 'is-invalid' : alertForm.stateOrg.$invalid && submittedalert}" id="stateOrg" name="stateOrg" ng-disabled="true" class="form-control" ng-model="aditionals.stateOrg" ng-required="true">
                                        <option selected value="FL">Florida</option>
                                    </select>
                                    <div ng-show="alertForm.stateOrg.$invalid && submittedalert" class="invalid-feedback">El departamento o estado de envío es requerido.</div>
                                </div>
                                <div class="form-group col-md-4 col-sm-12 col-xs-12">
                                    <label for="cityOrg">Ciudad<sup style="color: red !important">*</sup></label>
                                    <select ng-class="{ 'is-invalid' : alertForm.cityOrg.$invalid && submittedalert}" id="cityOrg" name="cityOrg" ng-disabled="true" class="form-control" ng-model="aditionals.cityOrg" ng-required="true">
                                        <option selected value="555324">Miami</option>
                                    </select>
                                    <div ng-show="alertForm.cityOrg.$invalid && submittedalert" class="invalid-feedback">La ciudad de envío es requerida.</div>
                                </div>
                            </div>

                            <br>
                            <h5>Información de Usuario:</h5>
                            <hr>
                            <div class="form-row">
                                <div class="col-md-6 col-sm-12 col-xs-12 hidden" ng-class="{ 'has-error' : alertForm.user_id.$invalid && submittedalert }">
                                    <label for="user_id">user_id<sup style="color: red !important">*</sup></label>
                                    <input ng-class="{ 'is-invalid' : alertForm.user_id.$invalid && submittedalert}" id="user_id" type="hidden" name="user_id" class="form-control" ng-model="alert.user_id" ng-required="true">
                                    <div ng-show="alertForm.user_id.$invalid && submittedalert" class="invalid-feedback">The user_id number is required.</div>
                                </div>
                                <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                    <label for="email">Correo Electronico<sup style="color: red !important">*</sup></label>
                                    <div class="input-group mb-3">
                                        <input ng-class="{ 'is-invalid' : (alertForm.email.$invalid && submittedalert) || (alertForm.user_id.$invalid && submittedalert) || (!errMsg && !sucMsg && submittedalert)}" id="email"
                                               type="email" name="email" class="form-control" ng-model="aditionals.email" ng-required="true">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" ng-disabled="alertForm.email.$invalid" ng-click="validUsr()" type="button">
                                                <img ng-if="loadVal" style="height: 25px" src="/css/quotation/giphy.gif" alt="Cargando..."> {{btnVal}}</button>
                                        </div>
                                        <div ng-show="!errMsg && !sucMsg && submittedalert" class="invalid-feedback">Debe validar el e-mail antes de pre alertar.</div>
                                        <div ng-show="alertForm.user_id.$invalid" class="invalid-feedback">Debes estar registrado para concluir la pre alerta.</div>
                                        <div ng-show="alertForm.email.$invalid && submittedalert" class="invalid-feedback">El nombre de usuario es requerido.</div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12" ng-if="!errMsg && !sucMsg">
                                    <div class=" alert alert-primary" role="alert">
                                        <span><i class="fa fa-info-circle" aria-hidden="true"></i> Si ya posees una cuenta con nosotros ingresa el correo electronico y haz clic en validar.</span>
                                    </div>
                                </div>

                                <!-- Message when the email don´t exists -->
                                <div class="col-md-6 col-sm-12 col-xs-12 mt-lg-4" ng-if="errMsg && !sucMsg">
                                    <div class=" alert alert-danger" role="alert">
                                        <strong>Error: </strong><span>{{errMsg}}</span>
                                    </div>
                                </div>

                                <!-- Message when the email is valid -->
                                <div class="col-md-6 col-sm-12 col-xs-12" ng-if="sucMsg && !errMsg">
                                    <div class="alert alert-success" role="alert" style="display: flex">

                                        <div class="col-md-3 col-sm-6 col-xs-6 no-padding text-center">
                                            <img ng-src="{{imgProfile}}" style="min-width: 60px;height: 60px;border-radius: 30px">
                                        </div>
                                        <div class="col-md-9 col-sm-6 col-xs-6">
                                            <strong>Exito: </strong><span>{{sucMsg}}</span><br>
                                            <strong style="font-size: 12px; color: #dc3545;">{{msgCost}}</strong>
                                        </div>

                                    </div>
                                </div>


                                    <div class="form-group col-md-6 col-sm-12 col-xs-12" ng-if="sucMsg && !errMsg">
                                        <label for="order_type">Tipo de Carga<sup style="color: red !important">*</sup></label>
                                        <select ng-class="{ 'is-invalid' : alertForm.order_type.$invalid && submittedalert}" id="order_type" name="order_type" class="form-control"
                                                ng-model="alert.order_type" ng-required="true"
                                                ng-options="ot.value as ot.name for ot in qOrderTypes">
                                            <option value="">Seleccionar</option>
                                        </select>
                                        <div ng-show="alertForm.order_type.$invalid && submittedalert" class="invalid-feedback">El tipo de carga es requerido.</div>
                                    </div>

                            </div>
                            <hr>


                            <h5>Información de envío a destino:</h5>
                            <!--<hr>-->
                            <div class="form-row" ng-if="!validUsrStatus && !sucMsg">
                                <div class="col-md-12 col-xs-12 col-sm-12 alert alert-warning" role="alert">
                                    <i class="fa fa-warning" aria-hidden="true"></i> Debes validar el correo electronico del casillero para completar esta información.
                                </div>
                            </div>
                            <!--<div class="form-row" ng-if="validUsrStatus && sucMsg && !errMsg">
                                <div class="form-group col-md-4 col-sm-12 col-xs-12">
                                    <label for="shipping_country">Pais<sup style="color: red !important">*</sup></label>
                                    <select ng-class="{ 'is-invalid' : alertForm.shipping_country.$invalid && submittedalert}" id="shipping_country" name="shipping_country" class="form-control" ng-model="alert.shipping[0].country_locale" ng-required="true" ng-change="updateStates(alert.shipping[0].country_locale)" ng-options="cou.value as cou.name for cou in qCountries">
                                        <option value="">Seleccionar</option>
                                    </select>
                                    <div ng-show="alertForm.shipping_country.$invalid && submittedalert" class="invalid-feedback">El pais destino es requerido.</div>
                                </div>
                                <div class="form-group col-md-4 col-sm-12 col-xs-12">
                                    <label for="shipping_state">Estado/Provincia<sup style="color: red !important">*</sup></label>
                                    <select ng-class="{ 'is-invalid' : alertForm.shipping_state.$invalid && submittedalert}" id="shipping_state" name="shipping_state" class="form-control" ng-model="alert.shipping[0].state" ng-required="true" ng-if="noState===false" ng-options="sta.value as sta.name for sta in qStates" ng-change="updateCities(alert.shipping[0].state)">
                                        <option value="">Seleccionar</option>
                                    </select>
                                    <input ng-class="{ 'is-invalid' : alertForm.shipping_state.$invalid && submittedalert}" id="shipping_state" type="text" name="shipping_state" class="form-control" ng-model="alert.shipping[0].state" ng-required="true" ng-if="noState" placeholder="Ingresa el Estado, Departamento o Provincia manualmente">
                                    <div ng-show="alertForm.shipping_state.$invalid && submittedalert" class="invalid-feedback">El departamento o estado destino es requerido.</div>
                                </div>
                                <div class="form-group col-md-4 col-sm-12 col-xs-12">
                                    <label for="shipping_city">Ciudad<sup style="color: red !important">*</sup></label>
                                    <select ng-class="{ 'is-invalid' : alertForm.shipping_city.$invalid && submittedalert}" id="shipping_city" name="shipping_city" class="form-control" ng-model="alert.shipping[0].city" ng-if="noCity===false" ng-required="true"
                                            ng-options="cit.value as cit.name for cit in qCities">
                                        <option value="">Seleccionar</option>
                                    </select>
                                    <input ng-class="{ 'is-invalid' : alertForm.shipping_city.$invalid && submittedalert}" id="shipping_city" type="text" name="shipping_city" class="form-control" ng-model="alert.shipping[0].city" ng-required="true" ng-if="noCity" placeholder="Ingresa la Ciudad manualmente">
                                    <div ng-show="alertForm.shipping_city.$invalid && submittedalert" class="invalid-feedback">La ciudad destino es requerida.</div>
                                </div>

                                <div class="form-group col-md-4 col-sm-12 col-xs-12">
                                    <label for="shipping_identification">Numero de identificación<sup style="color: red !important">*</sup></label>
                                    <input id="shipping_identification" ng-class="{ 'is-invalid' : alertForm.shipping_identification.$invalid && submittedalert}" type="text" name="shipping_identification" class="form-control" ng-model="alert.shipping[0].identification" ng-required="true">
                                    <div ng-show="alertForm.shipping_identification.$invalid && submittedalert" class="invalid-feedback">El número de identificación es requerido</div>
                                </div>

                                <div class="form-group col-md-8 col-sm-12 col-xs-12">
                                    <label for="shipping_customer">Nombre Completo<sup style="color: red !important">*</sup></label>
                                    <input id="shipping_customer" ng-class="{ 'is-invalid' : alertForm.shipping_customer.$invalid && submittedalert}" type="text" name="shipping_customer" class="form-control" ng-model="alert.shipping[0].customer" ng-required="true">
                                    <div ng-show="alertForm.shipping_customer.$invalid && submittedalert" class="invalid-feedback">El nombre del receptor es requerido</div>
                                </div>

                                <div class="form-group col-md-4 col-sm-12 col-xs-12">
                                    <label for="shipping_address">Dirección<sup style="color: red !important">*</sup></label>
                                    <input id="shipping_address" ng-class="{ 'is-invalid' : alertForm.shipping_address.$invalid && submittedalert}" type="text" name="shipping_address" class="form-control" ng-model="alert.shipping[0].address" ng-required="true">
                                    <div ng-show="alertForm.shipping_address.$invalid && submittedalert" class="invalid-feedback">La dirección de destino del articulo es requerida</div>
                                </div>

                                <div class="form-group col-md-4 col-sm-12 col-xs-12">
                                    <label for="shipping_zip_code">Codigo Postal</label>
                                    <input id="shipping_zip_code" type="text" name="shipping_zip_code" class="form-control" ng-model="alert.shipping[0].zip_code">
                                </div>

                                <div class="form-group col-md-4 col-sm-12 col-xs-12">
                                    <label for="shipping_phone_1">Telefono Principal<sup style="color: red !important">*</sup></label>
                                    <input id="shipping_phone_1" ng-class="{ 'is-invalid' : alertForm.shipping_phone_1.$invalid && submittedalert}" type="text" name="shipping_phone_1" class="form-control" ng-model="alert.shipping[0].phone_1" ng-required="true">
                                    <div ng-show="alertForm.shipping_phone_1.$invalid && submittedalert" class="invalid-feedback">Un telefono principal es requerido</div>
                                </div>

                                <div class="form-group col-md-4 col-sm-12 col-xs-12">
                                    <label for="shipping_phone_2">Telefono Secundario</label>
                                    <input id="shipping_phone_2" type="text" name="shipping_phone_2" class="form-control" ng-model="alert.shipping[0].phone_2">
                                </div>

                            </div>-->
                            <hr>

                            <div id="products-product" ng-repeat="n in qProducts track by $index">
                                <br>
                                <h5>Información de paquete {{n.value}}:</h5>
                                <hr>

                                <div class="form-row" ng-if="validUsrStatus && sucMsg && !errMsg">
                                    <div class="form-group col-md-4 col-sm-12 col-xs-12">
                                        <label for="consignee_country_{{$index}}">Pais<sup style="color: red !important">*</sup></label>
                                        <select ng-class="{ 'is-invalid' : alertForm['consignee_country_'+$index].$invalid && submittedalert}" id="consignee_country_{{$index}}" name="consignee_country_{{$index}}" class="form-control"
                                                ng-model="product[$index].consignee_country" ng-required="true" ng-change="updateStates(product[$index].consignee_country,$index)"
                                                ng-options="cou.value as cou.name for cou in qCountries[{{$index}}]">
                                            <option value="">Seleccionar</option>
                                        </select>
                                        <div ng-show="alertForm['consignee_country_'+$index].$invalid && submittedalert" class="invalid-feedback">El pais destino es requerido.</div>
                                    </div>
                                    <div class="form-group col-md-4 col-sm-12 col-xs-12">
                                        <label for="consignee_state_{{$index}}">Estado/Provincia<sup style="color: red !important">*</sup></label>
                                        <select ng-class="{ 'is-invalid' : alertForm['consignee_state_'+$index].$invalid && submittedalert}" id="consignee_state_{{$index}}" name="consignee_state_{{$index}}" class="form-control"
                                                ng-model="product[$index].consignee_state" ng-required="true" ng-if="noState===false" ng-disabled="!product[$index].consignee_country" ng-options="sta.value as sta.name for sta in qStates[{{$index}}]"
                                                ng-change="updateCities(product[$index].consignee_state,$index)">
                                            <option value="">Seleccionar</option>
                                        </select>
                                        <input ng-class="{ 'is-invalid' : alertForm.consignee_state.$invalid && submittedalert}" id="consignee_state_{{$index}}" type="text" name="consignee_state_{{$index}}" class="form-control"
                                               ng-model="product[$index].consignee_state" ng-required="true" ng-if="noState" placeholder="Ingresa el Estado, Departamento o Provincia manualmente">
                                        <div ng-show="alertForm['consignee_state_'+$index].$invalid && submittedalert" class="invalid-feedback">El departamento o estado destino es requerido.</div>
                                    </div>
                                    <div class="form-group col-md-4 col-sm-12 col-xs-12">
                                        <label for="consignee_city_{{$index}}">Ciudad <sup style="color: red !important">*</sup></label>
                                        <select ng-class="{ 'is-invalid' : alertForm['consignee_city_'+$index].$invalid && submittedalert}" id="consignee_city_{{$index}}" name="consignee_city_{{$index}}" class="form-control"
                                                ng-model="product[$index].consignee_city" ng-if="noCity===false" ng-disabled="!product[$index].consignee_state && !qCities[$index]" ng-required="true"
                                                ng-options="cit.value as cit.name for cit in qCities[{{$index}}]">
                                            <option value="">Seleccionar</option>
                                        </select>
                                        <input ng-class="{ 'is-invalid' : alertForm.consignee_city.$invalid && submittedalert}" id="consignee_city_{{$index}}" type="text" name="consignee_city_{{$index}}" class="form-control"
                                               ng-model="product[$index].consignee_city" ng-required="true" ng-if="noCity" placeholder="Ingresa la Ciudad manualmente">
                                        <div ng-show="alertForm['consignee_city_'+$index].$invalid && submittedalert" class="invalid-feedback">La ciudad destino es requerida.</div>
                                    </div>

                                    <div class="form-group col-md-4 col-sm-12 col-xs-12">
                                        <label for="consignee_identification_{{$index}}">Numero de identificación<sup style="color: red !important">*</sup></label>
                                        <input id="consignee_identification_{{$index}}" ng-class="{ 'is-invalid' : alertForm['consignee_identification_'+$index].$invalid && submittedalert}" type="text" name="consignee_identification_{{$index}}" class="form-control"
                                               ng-model="product[$index].consignee_identification" ng-required="true">
                                        <div ng-show="alertForm['consignee_identification_'+$index].$invalid && submittedalert" class="invalid-feedback">El número de identificación es requerido</div>
                                    </div>

                                    <div class="form-group col-md-8 col-sm-12 col-xs-12">
                                        <label for="consignee_customer_{{index}}">Nombre Completo<sup style="color: red !important">*</sup></label>
                                        <input id="consignee_customer_{{index}}" ng-class="{ 'is-invalid' : alertForm['consignee_customer_'+$index].$invalid && submittedalert}" type="text" name="consignee_customer_{{index}}" class="form-control"
                                               ng-model="product[$index].consignee_customer" ng-required="true">
                                        <div ng-show="alertForm['consignee_customer_'+$index].$invalid && submittedalert" class="invalid-feedback">El nombre del receptor es requerido</div>
                                    </div>

                                    <div class="form-group col-md-4 col-sm-12 col-xs-12">
                                        <label for="consignee_address_{{$index}}">Dirección<sup style="color: red !important">*</sup></label>
                                        <input id="consignee_address_{{$index}}" ng-class="{ 'is-invalid' : alertForm['consignee_address_'+$index].$invalid && submittedalert}" type="text"
                                               name="consignee_address_{{$index}}" class="form-control" ng-model="product[$index].consignee_address" ng-required="true">
                                        <div ng-show="alertForm['consignee_address_'+$index].$invalid && submittedalert" class="invalid-feedback">La dirección de destino del articulo es requerida</div>
                                    </div>

                                    <div class="form-group col-md-4 col-sm-12 col-xs-12">
                                        <label for="consignee_zip_code_{{$index}}">Codigo Postal</label>
                                        <input id="consignee_zip_code_{{$index}}" type="text" name="consignee_zip_code_{{$index}}" class="form-control" ng-model="product[$index].consignee_zip_code">
                                    </div>

                                    <div class="form-group col-md-4 col-sm-12 col-xs-12">
                                        <label for="consignee_phone_{{$index}}">Telefono <sup style="color: red !important">*</sup></label>
                                        <input id="consignee_phone_{{$index}}" ng-class="{ 'is-invalid' : alertForm['consignee_phone_'+$index].$invalid && submittedalert}" type="text"
                                               name="consignee_phone_{{$index}}" class="form-control" ng-model="product[$index].consignee_phone" ng-required="true">
                                        <div ng-show="alertForm['consignee_phone_'+$index].$invalid && submittedalert" class="invalid-feedback">Un telefono principal es requerido</div>
                                    </div>

                                </div>
                                
                                <div class="form-row">

                                    <div class="form-group col-12">
                                        <label for="category_{{$index}}">Arancel<sup style="color: red !important">*</sup></label>
                                        <ui-select ng-class="{ 'is-invalid' : alertForm['category_'+$index].$invalid && submittedalert}" ng-model="product[$index].category" id="category_{{$index}}" name="category_{{$index}}"
                                                   ng-change="changeIVA(this)" ng-required="true" theme="select2" class="form-control" title="Selecciona una categoria de la lista">
                                            <ui-select-match placeholder="Selecciona una categoria de la lista">{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices repeat="item in qCategories | filter: $select.search">
                                                <div class="row col-md-12">
                                                    <small class="col-md-6" ng-bind-html="item.name | highlight: $select.search"></small>
                                                    <small class="col-md-3" ng-bind-html="item.ivaHtml | highlight: $select.search"></small>
                                                    <small class="col-md-3" ng-bind-html="item.arancelHtml | highlight: $select.search"></small>
                                                </div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <div ng-show="alertForm['category_'+$index].$invalid && submittedalert" class="invalid-feedback">La posición arancelaria es requerida.</div>
                                    </div>
                                    <div class="col-md-12 col-xs-12 col-sm-12 ">

                                        <div class="alert alert-primary" role="alert">
                                            <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Selecciona de manera correcta el tipo de mercancia(Arancel) que se enviara al pais destino, si ya conoces las medidas del paquete activa la casilla inferior.
                                        </div>
                                    </div>


                                    <div class="form-group col-md-12 col-sm-12" ng-show="alert.order_type === '260221E9-D6B7-4517-A103-5D6C47058CC3'">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="haveAtr_{{$index}}" ng-model="haveAtr_$index">
                                            <label class="custom-control-label" for="haveAtr_{{$index}}">Conozco las medidas del paquete</label>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-4 col-sm-12" ng-show="haveAtr_$index || alert.order_type === '6E81648D-3A37-4BD3-B349-2FE7D169A479'">
                                        <label for="unidadPeso_{{$index}}">Unidades de peso<sup style="color: red !important">*</sup></label>
                                        <div class="input-group">
                                            <select ng-class="{ 'is-invalid' : alertForm['unidadPeso_'+$index].$invalid && submittedalert}" id="unidadPeso_{{$index}}" name="unidadPeso_{{$index}}" class="form-control" ng-model="product[$index].unidadPeso"
                                                    ng-required="haveAtr_$index || alert.order_type === '6E81648D-3A37-4BD3-B349-2FE7D169A479'" ng-options="cou.value as cou.name for cou in qUnidadesPeso" ng-change="changeWeight($index)"></select>
                                            <div ng-show="alertForm['unidadPeso_'+$index].$invalid && submittedalert" class="invalid-feedback">Se debe escoger una unidad de peso para el calculo.</div>
                                        </div>
                                    </div>


                                    <div class="form-group col-md-3 col-sm-6" ng-show="haveAtr_$index || alert.order_type === '6E81648D-3A37-4BD3-B349-2FE7D169A479'">
                                        <label for="weight_{{$index}}">Peso<sup style="color: red !important">*</sup></label>
                                        <div class="input-group">
                                            <input type="number" class="form-control" id="weight_{{$index}}" name="weight_{{$index}}"
                                                   ng-model="product[$index].weight" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" ng-required="haveAtr_$index || alert.order_type === '6E81648D-3A37-4BD3-B349-2FE7D169A479'"
                                                   ng-class="{ 'is-invalid' : alertForm['weight_'+$index].$invalid && submittedalert}">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">{{type[$index].weight}}</span>
                                            </div>
                                            <div ng-show="!alertForm['weight_'+$index].$valid && !alertForm['weight_'+$index].$pristine" class="help-block">Número invalido (maximo dos decimales).</div>
                                            <div ng-show="alertForm['weight_'+$index].$invalid && submittedalert" class="invalid-feedback">El peso del producto es requerido.</div>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-5 col-sm-6" ng-show="haveAtr_$index || alert.order_type === '6E81648D-3A37-4BD3-B349-2FE7D169A479'">

                                    </div>

                                    <div class="form-group col-md-4 col-sm-12" ng-show="haveAtr_$index || alert.order_type === '6E81648D-3A37-4BD3-B349-2FE7D169A479'">
                                        <label for="unidadMedida_{{$index}}">Unidades de medida<sup style="color: red !important">*</sup></label>
                                        <div class="input-group">
                                            <select ng-class="{ 'is-invalid' : alertForm['unidadMedida_'+$index].$invalid && submittedalert}" id="unidadMedida_{{$index}}" name="unidadMedida_{{$index}}" class="form-control" ng-model="product[$index].unidadMedida"
                                                    ng-required="haveAtr_$index || alert.order_type === '6E81648D-3A37-4BD3-B349-2FE7D169A479'" ng-options="cou.value as cou.name for cou in qUnidadesMedida" ng-change="changeMeasure($index)"></select>
                                            <div ng-show="alertForm['unidadMedida_'+$index].$invalid && submittedalert" class="invalid-feedback">Se debe escoger una unidad de medida para el calculo.</div>
                                        </div>

                                    </div>

                                    <div class="form-row col-md-8" ng-show="haveAtr_$index || alert.order_type === '6E81648D-3A37-4BD3-B349-2FE7D169A479'" style="padding-right: 0 !important;">

                                        <div class="form-group col-md-4 col-sm-12">
                                            <label for="height_{{$index}}">Alto<sup style="color: red !important">*</sup></label>
                                            <div class="input-group">
                                                <input type="number" class="form-control" id="height_{{$index}}" name="height_{{$index}}"
                                                       ng-model="product[$index].height" ng-required="haveAtr_$index || alert.order_type === '6E81648D-3A37-4BD3-B349-2FE7D169A479'" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" ng-class="{ 'is-invalid' : alertForm['height_'+$index].$invalid && submittedalert}">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">{{type[$index].measure}}</span>
                                                </div>
                                                <div ng-show="!alertForm['height_'+$index].$valid && !alertForm['height_'+$index].$pristine" class="help-block">Número invalido (maximo dos decimales).</div>
                                                <div ng-show="alertForm['height_'+$index].$invalid && submittedalert" class="invalid-feedback">El alto del producto es requerido.</div>
                                            </div>
                                        </div>

                                        <div class="form-group col-md-4 col-sm-12">
                                            <label for="width_{{$index}}">Ancho<sup style="color: red !important">*</sup></label>
                                            <div class="input-group">
                                                <input type="number" class="form-control" id="width_{{$index}}" name="width_{{$index}}"
                                                       ng-model="product[$index].width" ng-required="haveAtr_$index || alert.order_type === '6E81648D-3A37-4BD3-B349-2FE7D169A479'" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" ng-class="{ 'is-invalid' : alertForm['width_'+$index].$invalid && submittedalert}">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">{{type[$index].measure}}</span>
                                                </div>
                                                <div ng-show="!alertForm['width_'+$index].$valid && !alertForm['width_'+$index].$pristine" class="help-block">Número invalido (maximo dos decimales).</div>
                                                <div ng-show="alertForm['width_'+$index].$invalid && submittedalert" class="invalid-feedback">El ancho del producto es requerido.</div>
                                            </div>
                                        </div>

                                        <div class="form-group col-md-4 col-sm-12">
                                            <label for="length_{{$index}}">Largo<sup style="color: red !important">*</sup></label>
                                            <div class="input-group">
                                                <input type="number" class="form-control" id="length_{{$index}}" name="length_{{$index}}"
                                                       ng-model="product[$index].length" ng-required="haveAtr_$index || alert.order_type === '6E81648D-3A37-4BD3-B349-2FE7D169A479'" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" ng-class="{ 'is-invalid' : alertForm['length_'+$index].$invalid && submittedalert}">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">{{type[$index].measure}}</span>
                                                </div>
                                                <div ng-show="!alertForm['length_'+$index].$valid && !alertForm['length_'+$index].$pristine" class="help-block">Número invalido (maximo dos decimales).</div>
                                                <div ng-show="alertForm['length_'+$index].$invalid && submittedalert" class="invalid-feedback">El largo del producto es requerido.</div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <hr>
                                <div class="form-row">

                                    <!--<div class="form-group col-md-4 col-sm-12 col-xs-12">
                                        <label for="carrier_{{$index}}">Courier<sup style="color: red !important">*</sup></label>
                                        <select ng-class="{ 'is-invalid' : alertForm['carrier_'+$index].$invalid && submittedalert}" id="carrier_{{$index}}" name="carrier_{{$index}}" class="form-control" ng-model="product[$index].carrier" ng-required="true" ng-options="cou.value as cou.name for cou in qBusiness">
                                            <option value="">Seleccionar</option>
                                        </select>
                                        <div ng-show="alertForm['carrier_'+$index].$invalid && submittedalert" class="invalid-feedback">Local Tracking es requerido.</div>
                                        <small>* Compañia Courier que realiza el envío del paquete</small>
                                    </div>-->

                                    <div class="form-group col-md-4 col-sm-12 col-xs-12">
                                        <label for="reference_{{$index}}">Tipo de Empaque<sup style="color: red !important">*</sup></label>
                                        <select ng-class="{ 'is-invalid' : alertForm['reference_'+$index].$invalid && submittedalert}" id="reference_{{$index}}" name="reference_{{$index}}" class="form-control" ng-model="product[$index].reference" ng-required="true" ng-options="cou.value as cou.name for cou in qReferences">
                                            <option value="">Seleccionar</option>
                                        </select>
                                        <div ng-show="alertForm['reference_'+$index].$invalid && submittedalert" class="invalid-feedback">El Tipo de Empaque es requerido.</div>
                                        <small>* Embalaje o tipo de paquete </small>
                                    </div>



                                    <div class="form-group col-md-4 col-sm-12 col-xs-12">
                                        <label for="shipper_{{$index}}">Shipper<sup style="color: red !important">*</sup></label>
                                        <div class="input-group">
                                            <input id="shipper_{{$index}}" ng-class="{ 'is-invalid' : alertForm['shipper_'+$index].$invalid && submittedalert}" type="text" name="shipper_{{$index}}" class="form-control" ng-model="product[$index].shipper" ng-required="true">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button" data-toggle="popover" data-placement="top"
                                                        title="Que significa esto ?" data-content="Debes ingresar el nombre del sitio web o tienda donde se realizo la compra. Ejemplo: Amazon, E-Buy, Wlamart etc.">
                                                    <i class="fa fa-question-circle" aria-hidden="true"></i> </button>
                                            </div>
                                            <div ng-show="alertForm['shipper_'+$index].$invalid && submittedalert" class="invalid-feedback">El nombre del sitio donde realizo la compra es requerido.</div>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-4 col-sm-12 col-xs-12">
                                        <label for="tracking_{{$index}}">Tracking<sup style="color: red !important">*</sup></label>
                                        <input ng-class="{ 'is-invalid' : alertForm['tracking_'+$index].$invalid && submittedalert}" id="tracking_{{$index}}" type="text"
                                               name="tracking_{{$index}}" class="form-control" ng-model="product[$index].tracking" ng-required="true" ng-minlength="12">
                                        <div ng-show="alertForm['tracking_'+$index].$invalid && submittedalert" class="invalid-feedback">El número de tracking es requerido.</div>
                                        <div ng-show="alertForm['tracking_'+$index].$error.minlength && submittedalert" class="invalid-feedback">El número de tracking debe ser minimo de 12 caracteres.</div>
                                        <small>* Tracking proporcionado por el Shipper para trazabilidad del paquete hasta Bodega Miami</small>
                                    </div>

                                    <div class="form-group col-md-4 col-sm-12 col-xs-12">
                                        <label for="external_id_{{$index}}">Referencia de Paquete</label>
                                        <div class="input-group">
                                            <input id="external_id_{{$index}}" ng-class="{ 'is-invalid' : alertForm['external_id_'+$index].$invalid && submittedalert}" type="text" name="external_id_{{$index}}" class="form-control"
                                                   ng-model="product[$index].external_id">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button" data-toggle="popover" data-placement="top"
                                                        title="Que significa esto ?" data-content="Si cuentas con un número de referencia que identifique tu compra y número de paquete en tu sistema digitalo aqui.">
                                                    <i class="fa fa-question-circle" aria-hidden="true"></i> </button>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <!--<div class="form-group col-md-4 col-sm-12 col-xs-12">
                                        <label for="carrierLoc_{{$index}}">Carrier<sup style="color: red !important">*</sup></label>
                                        <div class="input-group">
                                            <input id="carrierLoc_{{$index}}" ng-class="{ 'is-invalid' : alertForm['carrierLoc_'+$index].$invalid && submittedalert}" type="text" name="carrierLoc_{{$index}}" class="form-control" ng-model="product[$index].carrier" ng-required="true">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button" data-toggle="popover" data-placement="top"
                                                        title="Que significa esto ?" data-content="Debes ingresar el nombre del operador logistico de tu pais que se encargara de hacer el redespacho.">
                                                    <i class="fa fa-question-circle" aria-hidden="true"></i> </button>
                                            </div>
                                            <div ng-show="alertForm['carrierLoc_'+$index].$invalid && submittedalert" class="invalid-feedback">El operador logistico nacional es requerido.</div>
                                        </div>
                                    </div>-->
                                    
                                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                        <label for="declare_value_{{$index}}">Valor declarado<sup style="color: red !important">*</sup></label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">USD $ </span>
                                            </div>
                                            <input ng-class="{ 'is-invalid' : alertForm['declare_value_'+$index].$invalid && submittedalert}" type="number"
                                                   class="form-control" id="declare_value_{{$index}}" name="declare_value_{{$index}}"
                                                   ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"
                                                   ng-model="product[$index].declare_value" placeholder="Digite el valor de compra" ng-required="true">
                                            <div ng-show="alertForm['declare_value_'+$index].$invalid && submittedalert" class="invalid-feedback">El valor declarado del producto es requerido.</div>
                                            <div ng-show="!alertForm['declare_value_'+$index].$valid && !alertForm['declare_value_'+$index].$pristine" class="help-block">Número invalido (maximo dos decimales).</div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                    <div class="form-row">


                                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                        <label for="image_{{$index}}">Foto de producto (Opcional)</label>
                                    <div class="custom-file">
                                        <input ng-class="{ 'is-invalid' : alertForm['image_'+$index].$error.maxSize}"
                                               id="image_{{$index}}"
                                               nv-file-select=""
                                               type="file"
                                               filters="image"
                                               accept="image/*"
                                               name="image_{{$index}}" class="form-control custom-file-input"
                                               uploader="uplPicture"
                                               lang="es"
                                               ng-disabled="uplPicture.queue[$index].file.name"
                                               ng-model="product[$index].image">
                                        <label class="custom-file-label" for="image_{{$index}}">Escoger archivo...</label>
                                        <div ng-show="alertForm['image_'+$index].$error.maxSize" class="invalid-feedback">El tamaño de {{errFile.name}} es de {{(errFile.size/1000000).toFixed(2)}} MB. Max 1Mb </div>
                                        <small ng-show="!uplPicture.queue[$index].file.name" ng-if="!errFile">* Solo archivos con extension .jpg, .jpeg, .png<br>
                                            * El peso maximo es de 1Mb</small>
                                        <span ng-show="uplPicture.queue[$index].file.name"><strong>{{'Archivo'|translate}}:</strong> {{uplPicture.queue[$index].file.name}}</span>
                                        <button ng-show="uplPicture.queue[$index].file.name" type="button" class="btn btn-danger btn-xs mt-2" ng-click="uplPicture.queue[$index].remove()">
                                            <i class="fa fa-remove"></i> Remover
                                        </button>
<!--                                        <div ng-show="uplPicture.isHTML5">{{ uplPicture.queue[0].file.size/1024/1024|number:2 }} MB</div>-->
                                        <!--<div ng-repeat="item in uplPicture.queue">
                                                <div ng-show="uplPicture.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                                                <div>
                                                    <span ng-if="$index===$index2"><strong>{{item.file.name}}</strong></span>
                                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                                        <span class="glyphicon glyphicon-trash"></span> Remover
                                                    </button>
                                                </div>
                                        </div>-->

                                    </div>
                                    </div>

                                        <div class="form-group col-md-6 col-sm-12 col-xs-12" ng-show="alert.shipping[0].country_locale==='CO'">
                                            <label for="carrier_{{$index}}" ng-if="alert.order_type === '260221E9-D6B7-4517-A103-5D6C47058CC3'">Carrier Local<sup style="color: red !important">*</sup></label>
                                            <label for="carrier_{{$index}}" ng-if="alert.order_type === '6E81648D-3A37-4BD3-B349-2FE7D169A479'">Carrier / VESSEL<sup style="color: red !important">*</sup></label>
                                            <select ng-class="{ 'is-invalid' : alertForm['carrier_'+$index].$invalid && submittedalert}" id="carrier_{{$index}}" name="carrier_{{$index}}" class="form-control"
                                                    ng-model="product[$index].carrier" ng-required="alert.shipping[0].country_locale==='CO'"
                                                    ng-options="cou.value as cou.name for cou in qCouriers">
                                                <option value="">Seleccionar</option>
                                            </select>
                                            <div ng-show="alertForm['carrier_'+$index].$invalid && submittedalert" class="invalid-feedback">El carrier es requerido.</div>
                                            <small>* Operador logistico nacional que se encargara del redespacho. <br>
                                                <b ng-if="product[$index].carrier!=='REDSERVI'" style="color: #dc3545;">* Tenga presente que la decisión en efectividad para última milla depende del cliente.</b>
                                                <b ng-if="product[$index].carrier==='REDSERVI'" style="color: #dc3545;">* Redservi solo llega a ciudades principales y puede llegar a tercerizar el envío, por tal razón
                                                    las pruebas de entrega pueden tardar mas de lo esperado en visualizarse.</b>
                                            </small>
                                        </div>

                                        <div class="form-group col-md-6 col-sm-12 col-xs-12" ng-show="alert.shipping[0].country_locale==='CO1'">
                                            <label for="url_attached_{{$index}}">Guia Adjunta </label>
                                            <div class="custom-file">
                                                <input ng-class="{ 'is-invalid' : alertForm['url_attached_'+$index].$error.maxSize}"
                                                       id="url_attached_{{$index}}"
                                                       nv-file-select=""
                                                       type="file"
                                                       accept="application/pdf"
                                                       name="url_attached_{{$index}}" class="form-control custom-file-input"
                                                       uploader="uplAttach"
                                                       lang="es"
                                                       ng-disabled="uplAttach.queue[$index].file.name"
                                                       ng-model="product[$index].url_attached">
                                                <label class="custom-file-label" for="url_attached_{{$index}}">Escoger archivo...</label>
                                                <div ng-show="alertForm['url_attached_'+$index].$error.maxSize" class="invalid-feedback">El tamaño de {{errFile.name}} es de {{(errFile.size/1000000).toFixed(2)}} MB. Max 1Mb </div>
                                                <small ng-show="!uplAttach.queue[$index].file.name" ng-if="!errFile">* Solo archivos con extension .pdf<br>
                                                    * El peso maximo es de 1Mb</small>
                                                <span ng-show="uplAttach.queue[$index].file.name"><strong>{{'Archivo'|translate}}:</strong> {{uplAttach.queue[$index].file.name}}</span>
                                                <button ng-show="uplAttach.queue[$index].file.name" type="button" class="btn btn-danger btn-xs mt-2" ng-click="uplAttach.queue[$index].remove()">
                                                    <i class="fa fa-remove"></i> Remover
                                                </button>
                                            </div>
                                        </div>

                                        <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                            <label for="external_guide_{{$index}}">Número de Guía </label>
                                            <div class="input-group">
                                                <input id="external_guide_{{$index}}" ng-class="{ 'is-invalid' : alertForm['external_guide_'+$index].$invalid && submittedalert}" type="text" name="external_guide_{{$index}}" class="form-control"
                                                       ng-model="product[$index].external_guide">
                                                       <!--ng-required="alert.shipping[0].country_locale==='CO' &&  (product[$index].carrier==='MERCADO ENVIOS' || product[$index].carrier==='MERCADO ENVIOS SERVIENTREGA' || product[$index].carrier==='MERCADO ENVIOS ENVIA')"-->
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-secondary" type="button" data-toggle="popover" data-placement="top"
                                                            title="Que significa esto ?" data-content="Si ya cuentas con un número de guia de tu operador local digitalo aqui.">
                                                        <i class="fa fa-question-circle" aria-hidden="true"></i> </button>
                                                </div>
                                                <div ng-show="alertForm['external_guide_'+$index].$invalid && submittedalert" class="invalid-feedback">El número de guia y la guia adjunta son requeridos para Mercado Envios.</div>
                                            </div>
                                        </div>



                                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                        <label for="description_{{$index}}">Descripción breve del producto<sup style="color: red !important">*</sup></label>
                                        <textarea ng-class="{ 'is-invalid' : alertForm['description_'+$index].$invalid && submittedalert}" id="description_{{$index}}" type="text" name="description_{{$index}}" class="form-control" ng-model="product[$index].description"
                                                  ng-required="true"></textarea>
                                        <div ng-show="alertForm['description_'+$index].$invalid && submittedalert" class="invalid-feedback">La descripción de la compra es requerida.</div>
                                    </div>



                                    <!--<div class="form-group col-md-6 col-sm-12 col-xs-12">
                                        <img ng-show="alertForm['image_'+$index].$valid" ngf-thumbnail="product[$index].image" class="thumb">
                                        <button class="btn btn-danger pull-right mt-2" ng-click="product[$index].image = null; errFile=null; f=null" type="button" ng-show="product[$index].image"><i class="fa fa-times" aria-hidden="true"></i> Remover</button>
                                        <label>Archivo seleccionado</label>
                                        <div><small ng-if="!errFile">{{f.name}}</small> <small ng-if="errFile" style="color: #dc3545">Error al cargar el archivo!</small>
                                            <span class="progress" ng-show="f.progress >= 0">
                                        <div style="width:{{f.progress}}%" ng-bind="f.progress + '%'"></div>
                                        </span>
                                        </div>
                                        {{errorMsg}}
                                    </div>-->

                                </div>
                            </div>

                            <br>
                            <h5>Información adicional:</h5>
                            <hr>
                            <div class="form-row">

                                <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                    <label for="customer_reference">Referencia de Cliente</label>
                                    <div class="input-group">
                                        <input id="customer_reference" ng-class="{ 'is-invalid' : alertForm.customer_reference.$invalid && submittedalert}" type="text" name="customer_reference" class="form-control"
                                               ng-model="alert.customer_reference">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="button" data-toggle="popover" data-placement="top"
                                                    title="Que significa esto ?" data-content="Si cuentas con un número de referencia que identifique tu compra digitalo aqui.">
                                                <i class="fa fa-question-circle" aria-hidden="true"></i> </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                    <label ng-if="alert.order_type === '260221E9-D6B7-4517-A103-5D6C47058CC3'" for="bill">Factura de compra (Opcional)</label>
                                    <label ng-if="alert.order_type === '6E81648D-3A37-4BD3-B349-2FE7D169A479'" for="bill">Factura de compra (Obligatorio)</label>
                                    <div class="custom-file">
                                        <input ng-class="{ 'is-invalid' : alertForm.bill.$error.maxSize}" id="bill"
                                               type="file"
                                               nv-file-select="sDeloc()"
                                               accept="image/*,application/pdf"
                                               uploader="uplPurchase"
                                               name="bill" class="form-control custom-file-input"
                                               lang="es"
                                               ng-disabled="uplPurchase.queue[0].file.name"
                                               ng-model="alert.bill">
                                        <label class="custom-file-label" for="bill">Escoger archivo...</label>
                                        <div ng-show="alertForm.bill.$error.maxSize" class="invalid-feedback">El tamaño de {{errBill.name}} es de {{(errBill.size/1000000).toFixed(2)}} MB. Max 1Mb </div>
                                        <small ng-show="!uplPurchase.queue[0].file.name" ng-if="!errBill">* Solo archivos con extension .jpg, .jpeg, .png, .pdf<br>
                                            * El peso maximo es de 1Mb</small>
                                        <span ng-show="uplPurchase.queue[0].file.name"><strong>{{'Archivo'|translate}}:</strong> {{uplPurchase.queue[0].file.name}}</span>
                                        <button ng-show="uplPurchase.queue[0].file.name" type="button" class="btn btn-danger btn-xs mt-2" ng-click="uplPurchase.queue[0].remove()">
                                            <i class="fa fa-remove"></i> Remover
                                        </button>
                                    </div>
                                </div>

                                <div class="form-group col-md-6 col-sm-12">
                                    <label for="comment">Comentarios adicionales</label>
                                        <textarea class="form-control" id="comment" name="comment" ng-model="alert.comment" ng-required="false"
                                                  ng-class="{ 'is-invalid' : alertForm.comment.$invalid && submittedalert}"></textarea>
                                        <div ng-show="alertForm.comment.$invalid && submittedalert" class="invalid-feedback">El comentario adicional es requerido.</div>
                                </div>



                                    <div class="form-group col-md-6 col-sm-12" ng-if="alert.order_type === '6E81648D-3A37-4BD3-B349-2FE7D169A479'">
                                        <label for="charge_type">Tipo de carga</label>
                                        <select ng-class="{ 'is-invalid' : alertForm.charge_type.$invalid && submittedalert}" id="charge_type" name="charge_type"
                                                class="form-control"
                                                ng-model="alert.charge_type" ng-required="true"
                                                ng-options="ot.value as ot.name for ot in qChargeTypes">
                                            <option value="">Seleccionar</option>
                                        </select>
                                        <div ng-show="alertForm.charge_type.$invalid && submittedalert" class="invalid-feedback">El tipo de carga es requerido.</div>
                                    </div>

                                    <div class="form-group col-md-6 col-sm-12" ng-if="alert.order_type === '6E81648D-3A37-4BD3-B349-2FE7D169A479'">
                                        <label for="notify">Notify</label>
                                        <textarea class="form-control" id="notify" name="notify" ng-model="alert.notify" ng-required="false"
                                                  ng-class="{ 'is-invalid' : alertForm.notify.$invalid && submittedalert}"></textarea>
                                        <div ng-show="alertForm.notify.$invalid && submittedalert" class="invalid-feedback">Notify es requerido.</div>
                                    </div>

                                    <div class="form-group col-md-6 col-sm-12" ng-if="alert.order_type === '6E81648D-3A37-4BD3-B349-2FE7D169A479'">
                                        <label for="hi">Handling Information</label>
                                        <textarea class="form-control" id="hi" name="hi" ng-model="alert.hi" ng-required="false"
                                                  ng-class="{ 'is-invalid' : alertForm.hi.$invalid && submittedalert}"></textarea>
                                        <div ng-show="alertForm.hi.$invalid && submittedalert" class="invalid-feedback">Handling information es requerido.</div>
                                    </div>


                                <!--<div class="form-group col-md-6 col-sm-12 col-xs-12">
                                    <img ng-show="alertForm['bill_'+$index].$valid" ngf-thumbnail="product[$index].bill" class="thumb">
                                    <button class="btn btn-danger pull-right mt-2" ng-click="product[$index].bill = null; errBill=null; f=null" type="button" ng-show="product[$index].bill"><i class="fa fa-times" aria-hidden="true"></i> Remover</button>
                                    <label>Factura seleccionada</label>
                                    <div><small ng-if="!errBill">{{fBill.name}}</small> <small ng-if="errBill" style="color: #dc3545">Error al cargar la factura!</small>
                                        <span class="progress" ng-show="fBill.progress >= 0">
                                        <div style="width:{{fBill.progress}}%" ng-bind="fBill.progress + '%'"></div>
                                        </span>
                                    </div>
                                    {{errorBillMsg}}
                                </div>-->

                            </div>

                            <!-- <br>-->
                            <h5 class="hidden">Información tributaria:</h5>
                            <hr>
                            <div class="form-row hidden">

                                <div class="form-group col-md-3 col-sm-6">
                                    <label for="iva">IVA<sup style="color: red !important">*</sup></label>
                                    <div class="input-group">
                                        <input type="number" class="form-control" id="iva" name="iva" ng-disabled="true" ng-model="aditionals.iva" ng-required="true" ng-class="{ 'is-invalid' : alertForm.iva.$invalid && submittedalert}">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> %</span>
                                        </div>
                                        <div ng-show="alertForm.iva.$invalid && submittedalert" class="invalid-feedback">El impuesto de IVA es requerido.</div>
                                    </div>
                                </div>

                                <div class="form-group col-md-3 col-sm-6">
                                    <label for="trm">TRM<sup style="color: red !important">*</sup></label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">COP $</span>
                                        </div>
                                        <input type="text" class="form-control" id="trm" name="trm" ng-model="aditionals.trm" ng-disabled="true" ng-required="true" ng-class="{ 'is-invalid' : alertForm.trm.$invalid && submittedalert}">
                                        <div ng-show="alertForm.trm.$invalid && submittedalert" class="invalid-feedback">El largo del producto es requerido.</div>
                                    </div>
                                </div>

                            </div>



                            <div class="form-group mt-3 mb-4">
                                <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                    <input id="tycalert" name="tycalert" ng-class="{ 'is-invalid' : alertForm.tycalert.$invalid && submittedalert}" type="checkbox" class="custom-control-input" ng-model="aditionals.tycalert" ng-required="true">
                                    <label for="tycalert" class="custom-control-label"> He leido y acepto los <a href="https://goo.gl/Ze8S5Q" target="_blank">terminos y condiciones</a></label>
                                    <div ng-show="alertForm.tycalert.$invalid && submittedalert" class="invalid-feedback">Para continuar es necesario aceptar los terminos y condiciones</div>
                                </div>
                            </div>



                            <div class="form-row m-b-4" style="margin-bottom: 25px">
                                <div class="col-4 text-left">
                                    <strong><sup style="color: red !important">*</sup> Campos Requeridos</strong>
                                </div>
                                <div class="col-8 text-right">
                                    <button type="submit" ng-disabled="!validUsrStatus && !sucMsg" class="btn btn-warning pull-right ml-2">Pre alertar</button>

                                    <button ng-if="alert.order_type === '260221E9-D6B7-4517-A103-5D6C47058CC3'"
                                            type="button" ng-disabled="!validUsrStatus && !sucMsg" class="btn btn-success pull-right" ng-click="addProduct()">
                                        <i class="fa fa-plus" aria-hidden="true"></i> Añadir producto</button>

                                    <div ng-if="alert.order_type === '6E81648D-3A37-4BD3-B349-2FE7D169A479'" class="input-group pull-right col-9">
                                        <input id="clone" ng-disabled="cloned"
                                               type="number" name="clone" class="form-control" ng-model="aditionals.clone" ng-required="true">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" ng-disabled="!aditionals.clone || cloned" ng-click="cloneProduct(aditionals.clone)" type="button">
                                                Clonar producto</button>
                                        </div>
                                        <div ng-show="aditionals.clone.$invalid" class="invalid-feedback">Debes digitar la cantidad de productos a clonar.</div>
                                    </div>

                                </div>
                            </div>

                        </form>

                    </div>

            <div class="col-md-8 col-xs-12 col-sm-12" ng-if="loadingAlr">
                <h5>Procesando Pre Alerta:</h5>
                <hr>
                <div class="clearfix text-center area-processing loading-products">
                    <img src="../css/quotation/loading-alert.gif" alt="Generando pre alerta ..." style="height: 310px; margin-top: -15px"/>
                    <h5 style="margin-left: 18px; margin-top: -50px">Enviando Pre alerta ...</h5>
                </div>
            </div>

            <div class="col-md-8 col-xs-12 col-sm-12" ng-if="terminateAlr">
                <h5>Proceso terminado:</h5>
                <hr>
                <div class="form-row">

                    <div class="col-md-12 col-sm-12" ng-if="alrSuc">
                        <div class="alert alert-success" role="alert">
                        <strong class="alert-heading"><i class="fa fa-check-circle" aria-hidden="true"></i> EXITO</strong>
                        <hr>
                        <br>
                        {{alrMsg}}
                            <br>
                            <br>
                            <hr>
                        </div>
                        <button type="button" class="btn btn-primary" ng-click="refresh()">
                            <i class="fa fa-bell" aria-hidden="true"></i> Realizar otra Pre Alerta</button>
                    </div>



                    <div class="col-md-12 col-sm-12" ng-if="alrFail">
                        <div class="alert alert-danger" role="alert">
                        <strong class="alert-heading"><i class="fa fa-minus-circle" aria-hidden="true"></i> ERROR</strong>
                        <hr>
                            <br>
                        No se logro realizar la Pre Alerta. {{alrMsg}}
                            <br>
                            <br>
                            <hr>
                        </div>
                        <button type="button" class="btn btn-primary" ng-click="refresh()">
                            <i class="fa fa-refresh" aria-hidden="true"></i> Intentarlo de nuevo</button>
                    </div>
                </div>
            </div>

                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <h5>Resultado de Pre Alerta:</h5>
                        <hr>

                        <div class="alert alert-primary" role="alert" ng-if="!loading && !fail">
                            <strong class="alert-heading"><i class="fa fa-info-circle"></i> PRE ALERTA MASIVA</strong>
                            <br>
                            <br>
                            <p>
                                <span>Si deseas pre alertar de forma masiva <a href="http://www.anicamboxexpress.com/prealertplus.html" target="_blank"> Clic Aqui </a> </span>
                            </p>
                        </div>

                        <div class="alert alert-primary" role="alert" ng-if="!loading && !fail">
                            <strong class="alert-heading"><i class="fa fa-info-circle"></i> INFORMACIÓN</strong>
                            <br>
                            <br>
                            <p>
                                <span>Completa los datos y pre alerta tu envío</span>
                            </p>
                        </div>


                        <div class="clearfix col-sm-12 col-xs-12 col-md-12" ng-if="!loading && !fail && terminate" style="padding: 0 !important;">

                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Origen</th>
                                    <th scope="col">Destino</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><img src="../css/quotation/united-states.png" alt="USA"> Florida, Miami</td>
                                    <td>
                                        <img ng-if="quote.country==='CO'" src="../css/quotation/colombia.png" alt="{{quote.country}}">
                                        <img ng-if="quote.country==='PY'" src="../css/quotation/paraguay.png" alt="{{quote.country}}">
                                        <img ng-if="quote.country==='MX'" src="../css/quotation/mexico.png" alt="{{quote.country}}">
                                        <img ng-if="quote.country==='BR'" src="../css/quotation/brasil.png" alt="{{quote.country}}">
                                        <img ng-if="quote.country==='EC'" src="../css/quotation/ecuador.png" alt="{{quote.country}}">
                                        <img ng-if="quote.country==='HN'" src="../css/quotation/honduras.png" alt="{{quote.country}}">
                                        <img ng-if="quote.country==='VE'" src="../css/quotation/venezuela.png" alt="{{quote.country}}">
                                        <img ng-if="quote.country==='US'" src="../css/quotation/united-states.png" alt="{{quote.country}}">
                                        <img ng-if="quote.country==='CN'" src="../css/quotation/china.png" alt="{{quote.country}}">
                                        <img ng-if="quote.country==='AR'" src="../css/quotation/argentina.png" alt="{{quote.country}}">
                                        {{redesState}}, {{redesCity}}</td>
                                </tr>
                                </tbody>
                            </table>

                            <table class="table table-striped mt-1">
                                <tbody>
                                <!--<tr>
                                    <th class="p-t-15" scope="row">Origen</th>
                                    <td class="text-right">US, Florida, Miami</td>
                                </tr>
                                <tr>
                                    <th scope="row">Destino</th>
                                    <td class="text-right">COL, {{redesState}}, {{redesCity}}</td>
                                </tr>-->
                                <tr>
                                    <th scope="row">Valor Declarado</th>
                                    <td class="text-right"><strong>$ {{alert.declare_value}} USD</strong></td>
                                </tr>
                                </tbody>
                            </table>

                            <button type="button" ng-if="!terminateAlr" class="btn btn-primary pull-left btn-md" ng-click="toQuote()">
                                <i class="fa fa-arrow-left" aria-hidden="true"></i> Verificar cotización</button>

                        </div>
                        
                    </div>


        </div>


    <span class="hidden" id="BusinessLineId">8B3771ED-F0F4-463C-B0D4-E73DBFDBCBB6</span>
    <span class="hidden" id="UserId">DAFE0317-B3DE-4697-973C-A0CD0E475141</span>
    <span class="hidden" id="APIClient">DAFE0317-B3DE-4697-973C-A0CD0E475141</span>
    <span class="hidden" id="APISecret">u2xp72C8DQiddXCf80OM4oBdud56dUFk</span>


</div> <!-- /container -->
<script>
    (function($) {
        $(document).ready(function() {


            $('[data-toggle="popover"]').popover({
                container: 'body',
                trigger: 'hover'
                //delay: { "show": 500, "hide": 100 }
            });

            // Para la trm
            $('#trm').priceFormat({
                prefix: '',
                thousandsSeparator: ',',
                clearOnEmpty: true,
                limit: 8,
                centsLimit: 2
            });

        });
    })(jQuery);
</script>
