﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

@* the fun starts here *@


<!-- Timeline css -->
<!--<link rel="stylesheet" href="//www.anicamboxexpress.com/css/quotation/timeline.css?v=1.5">-->


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
	  integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

<style>

	.modal-lg {
		max-width: 99% !important
	}

	.min-h {
		min-height: 648px;
	}

    .a-recovery {
        color: #415698 !important;
        cursor: pointer;
    }

    .a-recovery:hover {
        text-decoration: underline !important;
    }

</style>
<div class="container min-h" ng-controller="RecoveryCtrl">

<div class="RecoveryCtrl row mb-5 mt-4">

	<div class="col-md-12 mt-lg-5 text-center mb-lg-5">
		<h1 class="jumbotron-heading">RASTREO Y SEGUIMIENTO DE TU ORDEN</h1>
		<small>TRACK AND TRACE YOUR PACKAGE</small>

		<p class="lead text-muted pt-5">Esta es la forma más rápida de verificar el estado de su envío. No necesita llamar al Servicio al
			cliente: nuestros resultados en línea le brindan un progreso detallado en tiempo real a medida que su envío
			se acelera a través de la red.</p>
		<small> Here’s the fastest way to check the status of your shipment. No need to call
			Customer Service – our online results give you real-time, detailed progress as your shipment speeds through
			the network.
		</small>

		<div class="col-md-12 text-center p-0">
			<form class="mb-5" novalidate id="trackingForm" name="trackingForm"
				  ng-submit="submitTrackingForm(trackingForm.$valid)">

				<div class="form-row mt-5 row justify-content-center">
					<div class="col-md-5" style="margin-left: 1%">
						<div class="input-group">
							<input id="id" name="id"
								   ng-class="{ 'is-invalid' : trackingForm.id.$invalid && submittedrecovery}"
								   type="text" class="form-control pull-right" ng-model="tracking.id" ng-required="true"
								   placeholder="Order Number, Guide Number or Tracking Number">
							<div class="input-group-prepend">
								<button type="submit" class="btn btn-primary pull-left input-group-button"><i
										class="fa fa-search" aria-hidden="true"></i> Search
								</button>
							</div>
						</div>

					</div>
				</div>

			</form>

			<div class="col-md-12 p-0 " ng-if="loading">
				<hr>
				<div class="clearfix text-center area-processing loading-products mt-5 mb-5" ng-if="loading">
					<img class="mb-2" src="//www.anicamboxexpress.com/css/quotation/loading-orange.gif"
						 alt="Procesando ..." style="height: 160px !important;"/>
					<h4 style="margin-left: 18px">Processing ...</h4>
				</div>
				<hr>
			</div>

			<div class="col-md-12 p-0 " ng-if="!loading && fail">
				<hr>
				<div class="alert alert-warning" role="alert">
					<strong class="alert-warning"><i class="fa fa-minus-circle" aria-hidden="true"></i></strong>
					The information entered, is not registered. Please verify and try again.<br>
					<small>La información ingresada, no está registrada. Verifica e intenta nuevamente.</small>
				</div>
				<hr>
			</div>

			<div class="col-md-12 p-0 " ng-if="!loading && success && !fail">
				<hr>
				<h2>Result Summary</h2>
				<small>Resumen de los resultados</small>
				<br>
				<hr>
				<div class="alert alert-danger" ng-if="reclaim===true" role="alert">
					<strong class="alert-heading"><i class="fa fa-warning" aria-hidden="true"></i> Missing
						Shipment</strong>
					<br>
					<br>
					This package is not yet recognized, if you are the person in charge of sending this package <a class="a-recovery"
						ng-click="toChangeForm('recovery')" data-backdrop="true" data-target="#modalRecovery"
						data-toggle="modal">Click here</a><br>
					<small>Este paquete aun no se encuentra reconocido, si usted es la persona encargada de este paquete
						hacer click arriba
					</small>
				</div>

				<div class="row">
					<div class="col-md-6">
						<table class="table table-striped table-bordered" style="margin-bottom: 0 !important;">
							<tbody>
							<tr>
								<th class="bg-primary" style="background-color: #415698 !important; width: 50%"
									scope="row">ID Number
								</th>
								<td class="text-right"><strong>{{listTracking[0].order_number}}</strong></td>
							</tr>
							</tbody>
						</table>
					</div>

					<div class="col-md-6">
						<table class="table table-striped table-bordered" style="margin-bottom: 0 !important;">
							<tbody>
							<tr>
								<th class="bg-primary" style="background-color: #415698 !important; width: 50%"
									scope="row">Total Packages
								</th>
								<td class="text-right"><strong>{{qProducts.length}} package(s)</strong></td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
				<hr>

				<div class="row">
					<div ng-repeat="pac in qProducts track by $index" class="col-md-12 col-sm-12 col-xs-12">

						<div class="row">
							<div class="col-md-6 col-sm-12 col-xs-12">

								<table class="table">
									<thead class="thead-gray">
									<tr>
										<th colspan="3" scope="col">{{pac.description}}
										</th>
									</tr>
									</thead>
									<tbody>
									<tr>
										<th class="text-center" style="vertical-align: middle !important; " rowspan="5"
											scope="row">
											<img class="mb-3" height="100" style="height: 100px"
												 src="//www.anicamboxexpress.com/css/quotation/package.png"><br>
											<small><strong> Package {{$index+1}}</strong></small>
											<!--<br>
                                            <small style="color: green"><strong><i class="fa fa-plane" aria-hidden="true"></i>
                                                Dispatched</strong></small>-->
										</th>
										<!--<td colspan="2"><span style="color: #415698; font-weight: bold; font-size: 18px">{{pac.description}}</span>-->
										</td>
									</tr>
									<tr>
										<td><strong>Width</strong>
											<small>(Ancho)</small>
											<br> {{pac.width_in}} In
										</td>
										<td><strong>Height</strong>
											<small>(Alto)</small>
											<br> {{pac.height_in}} In
										</td>
									</tr>
									<tr>
										<td><strong>Length</strong>
											<small>(Largo)</small>
											<br> {{pac.length_in}} In
										</td>
										<td><strong>Weight</strong>
											<small>(Peso)</small>
											<br> {{pac.weight_lb}} Lb
										</td>
									</tr>
									<tr class="hidden">
										<td><strong>Carrier </strong>
											<small>(Operador logistico)</small>
											<br> <span ng-style="pac.carrier && {'color':'green'} || {'color': '#721c24'}">{{pac.carrier ? pac.carrier : 'No registered'}}</span>
										</td>
										<td><strong>Guide Number</strong>
											<small>(Número de guía)</small>
											<br> <span
													ng-style="pac.external_guide && {'color':'green'} || {'color': '#721c24'}">{{pac.external_guide ? pac.external_guide : 'No generated'}}</span>
										</td>
									</tr>
									<tr ng-if="editPackage && pac.declare_value <= 1 && pac.need_update===true && reclaim!==true">
										<td colspan="2">
											<button ng-if="editPackage && pac.declare_value <= 1"
													ng-click="toChangeForm('edit')" data-toggle="modal"
													 data-target="#modalRecovery" type="button" class="btn btn-danger pull-right">
												<i class="fa fa-edit" aria-hidden="true"></i> Edit
											</button>
										</td>

										<!--<td><strong>Declared value</strong>
                                            <small>(Valor declarado)</small>
                                        </td>
                                        <td ng-if="pac.declare_value > 1 && pac.need_update===false"> {{pac.declare_value |
                                            currency : '$ ':2}} USD
                                        <td class="table-danger alert-danger alert-heading"
                                            ng-if="pac.declare_value < 1 && pac.need_update===false"> {{pac.declare_value |
                                            currency : '$ ':2}} USD
                                        <td ng-if="editPackage && pac.declare_value <= 1 && pac.need_update===true"
                                            class="table-danger alert-danger alert-heading" style="width: 40%">
                                            <i class="fa fa-warning" aria-hidden="true"></i> <strong>{{pac.declare_value |
                                            currency : '$ ':2}} USD </strong>
                                            <button ng-if="editPackage && pac.declare_value <= 1"
                                                    ng-click="toChangeForm('edit')" data-toggle="modal"
                                                    href="#modalRecovery" type="button" class="btn btn-danger pull-right">
                                                <i class="fa fa-edit" aria-hidden="true"></i> Edit
                                            </button>
                                        </td>-->
									</tr>
									</tbody>
								</table>
							</div>

							<div class="col-md-6 col-sm-12 col-xs-12">

								<table class="table table-striped table-bordered" style="margin-bottom: -5px">
									<tbody>
									<tr>
										<th class="thead-dark" scope="row">Package Tracking - {{pac.guide_number}}
										</th>
									</tr>
									</tbody>
								</table>

								<div class="row">
									<div class="main-timeline10" style="margin: 0 auto !important;padding-top: 5px">
										<div class="col-md-3 col-sm-6 timeline">
											<div class="timeline-inner">
												<div class="year" ng-class="{ 'bac-alerted' : (pac.date_published| date:'yyyy') > 1900 }"><i class="fas fa-bell"></i> Alerted
													<br>
													<small style="font-size: 12px">Alertado</small></div>
												<div class="timeline-content mb-4">
													<div ng-if="(pac.date_published|date:'yyyy') > 1900" class="post">{{pac.date_published | date:'dd/MM/yyyy hh:mm a':'es_CO'}} </div>
													<div ng-if="(pac.date_published|date:'yyyy') <= 1900" class="post-bad"> Pending <br> (Pendiente)</div>
												</div>
												<!--<div class="timeline-icon" >
                                                    <i class="fas fa-bell"></i>
                                                </div>-->
											</div>
										</div>
										<div class="col-md-3 col-sm-6 timeline">
											<div class="timeline-inner">
												<div ng-class="{ 'bac-arrived' : (pac.date_arrived| date:'yyyy') > 1900 }" class="year"><i class="fas fa-truck-loading"></i> Arrived
													<br>
													<small style="font-size: 12px">Arribo</small>
												</div>
												<div class="timeline-content mb-4">
													<div ng-if="(pac.date_arrived|date:'yyyy') > 1900" class="post">{{pac.date_arrived | date:'dd/MM/yyyy hh:mm a':'es_CO'}}</div>
													<div ng-if="(pac.date_arrived|date:'yyyy') <= 1900" class="post-bad"> Pending <br> (Pendiente)</div>

												</div>
												<!--<div class="timeline-icon" >
                                                    <i class="fas fa-plane-arrival"></i>
                                                </div>-->
											</div>
										</div>
										<div class="col-md-3 col-sm-6 timeline">
											<div class="timeline-inner">
												<div ng-class="{ 'bac-enlistment' : (pac.date_enlistment| date:'yyyy') > 1900 }" class="year"><i class="fas fa-clipboard-check"></i> Enlistment
													<br>
													<small style="font-size: 12px">Alistado</small>
												</div>
												<div class="timeline-content mb-4">
													<div ng-if="(pac.date_enlistment|date:'yyyy') > 1900" class="post">{{pac.date_enlistment | date:'dd/MM/yyyy hh:mm a':'es_CO'}}</div>
													<div ng-if="(pac.date_enlistment|date:'yyyy') <= 1900" class="post-bad"> Pending <br> (Pendiente)</div>

												</div>
												<!-- <div class="timeline-icon" >
                                                     <i class="fas fa-clipboard-check"></i>
                                                 </div>-->
											</div>
										</div>
										<div class="col-md-3 col-sm-6 timeline">
											<div class="timeline-inner">
												<div ng-class="{ 'bac-dispatch' : (pac.date_send| date:'yyyy') > 1900 }" class="year"> <i class="fas fa-plane-departure"></i> Dispatch
													<br>
													<small style="font-size: 12px">Despachado</small>
												</div>
												<div class="timeline-content mb-4">
													<div ng-if="(pac.date_send|date:'yyyy') > 1900" class="post">{{pac.date_send | date:'dd/MM/yyyy hh:mm a':'es_CO'}}</div>
													<div ng-if="(pac.date_send|date:'yyyy') <= 1900" class="post-bad"> Pending <br> (Pendiente)</div>

												</div>
												<!--<div class="timeline-icon" >
                                                    <i class="fas fa-plane-departure"></i>
                                                </div>-->
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>

					<hr>

					<div class="col-md-12 text-left hidden">
						<hr>
						<small style="color: green"><i class="fa fa-plane" aria-hidden="true"></i> Dispatched:</small>
						<small> The package was already sent to the destination country (El paquete fue enviado al pais
							destino.)
						</small>
						<br>
						<small style="color: red !important"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>
							Warning:
						</small>
						<small> The package has an inconsistency and needs an urgent edition so it can be dispatched.
							(El paquete tiene una inconsistencia y necesita una edición de carácter urgente para que
							pueda ser despachado.)
						</small>
						<br>
						<hr>
					</div>

				</div>


				<table class="table table-hover table-bordered" ng-if="!noFound">
					<thead class="thead-dark">
					<tr>
						<th scope="col">Tracking <br>
							<small>Seguimiento</small>
						</th>
						<th scope="col">Guide <br>
							<small>Guia</small>
						</th>
						<th scope="col" style="width: 215px">Date (Day/Month/Year)<br>
							<small>Fecha (Dia/Mes/Año)</small>
						</th>
						<th scope="col">Comment <br>
							<small>Comentario</small>
						</th>
						<th scope="col">Attached <br>
							<small>Adjunto</small>
						</th>
					</tr>
					</thead>
					<tbody class="text-left">
					<tr ng-repeat="r in listTracking track by $index">
						<th scope="row">{{r.tracking_name}}</th>
						<td>{{r.guide}}</td>
						<td>{{r.date_published | date:'dd/MM/yyyy hh:mm a':'es_CO'}}</td>
						<td ng-bind-html="myHTML[$index]"></td>
						<td><a target="_blank" ng-if="r.attached_file" href="{{r.attached_file}}"><img
								style="height: 35px" src="//www.anicamboxexpress.com/css/quotation/attach.png" alt="">
							Ver</a></td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>

	<div id="modalRecovery" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
		 aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header" style="background-color: #ef7f1a !important; color: #fff;">
					<h5 class="modal-title">{{title}} <br>
						<small>{{sTitle}}</small>
					</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span style="color: #fff; font-weight: bolder" aria-hidden="true">&times;</span>
					</button>
				</div>
				<form novalidate id="recoveryForm" name="recoveryForm"
					  ng-submit="submitRecoveryForm(recoveryForm.$valid)">
					<div class="modal-body" ng-if="!terminateAlr && !loadingAlr">
						<br>
						<div class="row">

							<div class="col-md-6" style="border-right: 1px solid rgba(0, 0, 0, .1)">
								<h5>User Validation<br>
									<small>Validación de usuario</small>
								</h5>
								<hr>
								<div class="form-row">
									<div class="col-md-6 col-sm-12 col-xs-12 hidden"
										 ng-class="{ 'has-error' : recoveryForm.user_id.$invalid && submittedrecovery }">
										<label for="user_id">user_id<sup style="color: red !important">*</sup></label>
										<input ng-class="{ 'is-invalid' : recoveryForm.user_id.$invalid && submittedrecovery}"
											   id="user_id" type="hidden" name="user_id" class="form-control"
											   ng-model="recovery.user_id" ng-required="true">
										<div ng-show="recoveryForm.user_id.$invalid && submittedrecovery"
											 class="invalid-feedback">The user_id number is required.
										</div>
									</div>
									<div class="form-group col-md-6 col-sm-12 col-xs-12">
										<label for="email">E-mail<sup style="color: red !important">*</sup></label>
										<div class="input-group mb-3">
											<input ng-class="{ 'is-invalid' : (recoveryForm.email.$invalid && submittedrecovery) || (recoveryForm.user_id.$invalid && submittedrecovery) || (!errMsg && !sucMsg && submittedrecovery)}"
												   id="email"
												   type="email" name="email" class="form-control"
												   ng-model="aditionals.email" ng-required="true">
											<div class="input-group-append">
												<button class="btn btn-outline-secondary"
														ng-disabled="recoveryForm.email.$invalid" ng-click="validUsr()"
														type="button">
													<img ng-if="loadVal" style="height: 25px"
														 src="//www.anicamboxexpress.com/css/quotation/giphy.gif"
														 alt="Cargando..."> {{btnVal}}
												</button>
											</div>
											<div ng-show="!errMsg && !sucMsg && submittedrecovery"
												 class="invalid-feedback">You must validate the email before pre-alert.
											</div>
											<div ng-show="recoveryForm.user_id.$invalid" class="invalid-feedback">You
												must be registered to conclude the pre-alert.
											</div>
											<div ng-show="recoveryForm.email.$invalid && submittedrecovery"
												 class="invalid-feedback">The username is required.
											</div>
										</div>
									</div>
									<div class="col-md-6 col-sm-12 col-xs-12" ng-if="!errMsg && !sucMsg">
										<div class=" alert alert-primary" role="alert" style="margin-top:1.5em">
											<span><i class="fa fa-info-circle" aria-hidden="true"></i> Enter your email and validate the locker number</span>
										</div>
									</div>

									<!-- Message when the email don´t exists -->
									<div class="col-md-6 col-sm-12 col-xs-12 mt-lg-4" ng-if="errMsg && !sucMsg">
										<div class=" alert alert-danger" role="alert">
											<strong>Error: </strong><span>{{errMsg}}</span>
										</div>
									</div>

									<!-- Message when the email is valid -->
									<div class="col-md-12 col-sm-12 col-xs-12" ng-if="sucMsg && !errMsg">
										<div class="alert alert-success" role="alert">
											<div class="row col-md-12 col-sm-12 col-xs-12">
												<div class="col-md-3 col-sm-6 col-xs-6 text-center">
													<img ng-src="{{imgProfile}}" style="min-width: 50px;height: 60px;border-radius: 30px">
												</div>
												<div class="col-md-9 col-sm-6 col-xs-6">
													<strong>Success: </strong><span>{{sucMsg}}</span><br>
													<strong style="font-size: 12px; color: #dc3545;">{{msgCost}}</strong>
												</div>
											</div>

										</div>
									</div>
								</div>

								<br>
								<h5>Warehouse Information - Departure<br>
									<small>Información de bodega - Salida</small>
								</h5>
								<hr>
								<div class="form-row">
									<div class="form-group col-md-4 col-sm-12 col-xs-12">
										<label for="countryOrg">Country<sup
												style="color: red !important">*</sup></label>
										<select ng-class="{ 'is-invalid' : recoveryForm.countryOrg.$invalid && submittedrecovery}"
												id="countryOrg" ng-disabled="true" name="countryOrg"
												class="form-control" ng-model="aditionals.countryOrg"
												ng-required="true">
											<option selected value="US">United States</option>
										</select>
										<div ng-show="recoveryForm.countryOrg.$invalid && submittedrecovery"
											 class="invalid-feedback">The country of origin is required.
										</div>
									</div>
									<div class="form-group col-md-4 col-sm-12 col-xs-12">
										<label for="stateOrg">State/Province<sup
												style="color: red !important">*</sup></label>
										<select ng-class="{ 'is-invalid' : recoveryForm.stateOrg.$invalid && submittedrecovery}"
												id="stateOrg" name="stateOrg" ng-disabled="true" class="form-control"
												ng-model="aditionals.stateOrg" ng-required="true">
											<option selected value="FL">Florida</option>
										</select>
										<div ng-show="recoveryForm.stateOrg.$invalid && submittedrecovery"
											 class="invalid-feedback">The department/state of ship.
										</div>
									</div>
									<div class="form-group col-md-4 col-sm-12 col-xs-12">
										<label for="cityOrg">City<sup style="color: red !important">*</sup></label>
										<select ng-class="{ 'is-invalid' : recoveryForm.cityOrg.$invalid && submittedrecovery}"
												id="cityOrg" name="cityOrg" ng-disabled="true" class="form-control"
												ng-model="aditionals.cityOrg" ng-required="true">
											<option selected value="555324">Miami</option>
										</select>
										<div ng-show="recoveryForm.cityOrg.$invalid && submittedrecovery"
											 class="invalid-feedback">The shipping city is required.
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-6">
								<h5>Sender Information - Origin<br>
									<small>Información del remitente - Orígen</small>
								</h5>
								<hr>
								<div class="form-row">
									<span><i class="fas fa-info-circle"></i> Enter here the personal information of the manager who sends and is responsible for the shipment.</span>
									<small>Ingresa aqui la información personal del encargado que remite y se hace responsable del envío.</small>
								</div>
								<hr>
								<div class="form-row" ng-if="!validUsrStatus && !sucMsg">
									<div class="col-md-12 col-xs-12 col-sm-12 alert alert-warning" role="alert">
										<i class="fa fa-exclamation-circle" aria-hidden="true"></i> You must validate
										your email address in the box to complete this information.
									</div>
								</div>
								<div class="form-row" ng-if="validUsrStatus && sucMsg && !errMsg">
									<div class="form-group col-md-4 col-sm-12 col-xs-12">
										<label for="billing_country">Country<sup
												style="color: red !important">*</sup></label>
										<select ng-class="{ 'is-invalid' : recoveryForm.billing_country.$invalid && submittedrecovery}"
												id="billing_country" name="billing_country" class="form-control"
												ng-model="recovery.billing[0].country_locale" ng-required="true"
												ng-change="updateStates(recovery.billing[0].country_locale)"
												ng-options="cou.value as cou.name for cou in qCountries">
											<option value="">Select</option>
										</select>
										<div ng-show="recoveryForm.billing_country.$invalid && submittedrecovery"
											 class="invalid-feedback">Your country is required.
										</div>
									</div>
									<div class="form-group col-md-4 col-sm-12 col-xs-12">
										<label for="billing_state">State/Province<sup
												style="color: red !important">*</sup></label>
										<select ng-class="{ 'is-invalid' : recoveryForm.billing_state.$invalid && submittedrecovery}"
												id="billing_state" name="billing_state" class="form-control"
												ng-model="recovery.billing[0].state"
												ng-required="true" ng-options="sta.value as sta.name for sta in qStates"
												ng-change="updateCities(recovery.billing[0].state)"
												ng-if="noState===false">
											<option value="">Select</option>
										</select>
										<input ng-class="{ 'is-invalid' : recoveryForm.billing_state.$invalid && submittedrecovery}"
											   id="billing_state" type="text" name="billing_state" class="form-control"
											   ng-model="recovery.billing[0].state" ng-required="true" ng-if="noState"
											   placeholder="Enter your state or province manually">
										<div ng-show="recoveryForm.billing_state.$invalid && submittedrecovery"
											 class="invalid-feedback">Your state or province is required.
										</div>
									</div>
									<div class="form-group col-md-4 col-sm-12 col-xs-12">
										<label for="billing_city">City<sup style="color: red !important">*</sup></label>
										<select ng-class="{ 'is-invalid' : recoveryForm.billing_city.$invalid && submittedrecovery}"
												id="billing_city" name="billing_city" class="form-control"
												ng-model="recovery.billing[0].city" ng-required="true"
												ng-if="noCity===false"
												ng-options="cit.value as cit.name for cit in qCities">
											<option value="">Select</option>
										</select>
										<input ng-class="{ 'is-invalid' : recoveryForm.billing_city.$invalid && submittedrecovery}"
											   id="billing_city" type="text" name="billing_city" class="form-control"
											   ng-model="recovery.billing[0].city" ng-required="true" ng-if="noCity"
											   placeholder="Enter your city or village manually">
										<div ng-show="recoveryForm.billing_city.$invalid && submittedrecovery"
											 class="invalid-feedback">Your city is required.
										</div>
									</div>

									<div class="form-group col-md-4 col-sm-12 col-xs-12">
										<label for="billing_identification">Identification<sup
												style="color: red !important">*</sup></label>
										<input id="billing_identification"
											   ng-class="{ 'is-invalid' : recoveryForm.billing_identification.$invalid && submittedrecovery}"
											   ng-readonly="toEdit"
											   type="text" name="billing_identification" class="form-control"
											   ng-model="recovery.billing[0].identification" ng-required="true">
										<div ng-show="recoveryForm.billing_identification.$invalid && submittedrecovery"
											 class="invalid-feedback">Identification number is required
										</div>
									</div>


									<div class="form-group col-md-4 col-sm-12 col-xs-12">
										<label for="aditionals_first_name">First Name<sup style="color: red !important">*</sup></label>
										<input id="aditionals_first_name"
											   ng-class="{ 'is-invalid' : recoveryForm.aditionals_first_name.$invalid && submittedrecovery}"
											   ng-readonly="toEdit"
											   type="text" name="aditionals_first_name" class="form-control"
											   ng-model="aditionals.first_name" ng-required="true">
										<div ng-show="recoveryForm.aditionals_first_name.$invalid && submittedrecovery"
											 class="invalid-feedback">First name is required
										</div>
									</div>

									<div class="form-group col-md-4 col-sm-12 col-xs-12">
										<label for="aditionals_last_name">Last Name<sup
												style="color: red !important">*</sup></label>
										<input id="aditionals_last_name"
											   ng-class="{ 'is-invalid' : recoveryForm.aditionals_last_name.$invalid && submittedrecovery}"
											   ng-readonly="toEdit"
											   type="text" name="aditionals_last_name" class="form-control"
											   ng-model="aditionals.last_name" ng-required="true">
										<div ng-show="recoveryForm.aditionals_last_name.$invalid && submittedrecovery"
											 class="invalid-feedback">Last name is required
										</div>
									</div>

									<div class="form-group col-md-8 col-sm-12 col-xs-12 hidden">
										<label for="billing_customer">Full Name<sup
												style="color: red !important">*</sup></label>
										<input id="billing_customer"
											   ng-class="{ 'is-invalid' : recoveryForm.billing_customer.$invalid && submittedrecovery}"
											   type="text" name="billing_customer" class="form-control"
											   ng-model="recovery.billing[0].customer"
											   ng-value="{{aditionals.first_name}} {{aditionals.last_name}}"
											   ng-required="true">
										<div ng-show="recoveryForm.billing_customer.$invalid && submittedrecovery"
											 class="invalid-feedback">The full name is required
										</div>
									</div>

									<div class="form-group col-md-4 col-sm-12 col-xs-12">
										<label for="billing_zip_code">Zip Code</label>
										<input id="billing_zip_code" type="text" name="billing_zip_code"
											   class="form-control" ng-model="recovery.billing[0].zip_code">
									</div>

									<div class="form-group col-md-4 col-sm-12 col-xs-12">
										<label for="billing_phone_1">Main phone<sup
												style="color: red !important">*</sup></label>
										<input id="billing_phone_1"
											   ng-class="{ 'is-invalid' : recoveryForm.billing_phone_1.$invalid && submittedrecovery}"
											   type="text" name="billing_phone_1" class="form-control"
											   ng-model="recovery.billing[0].phone_1" ng-required="true">
										<div ng-show="recoveryForm.billing_phone_1.$invalid && submittedrecovery"
											 class="invalid-feedback">Main phone is required
										</div>
									</div>

									<div class="form-group col-md-4 col-sm-12 col-xs-12">
										<label for="billing_phone_2">Secondary Phone</label>
										<input id="billing_phone_2" type="text" name="billing_phone_2"
											   class="form-control" ng-model="recovery.billing[0].phone_2">
									</div>

								</div>
							</div>


						</div>


						<div class="row" ng-if="validUsrStatus && sucMsg && !errMsg">
							<div class="col-md-12">
								<br>
								<h5>Package(s) Information <br>
									<small>Información de paquete(s)</small>
								</h5>
								<hr>
							</div>

							<div class="col-md-6 col-sm-12 col-xs-12" ng-if="qProducts.length===0">
								<div class=" alert alert-primary" role="alert" style="margin-top:1.5em">
									<span><i class="fa fa-info-circle" aria-hidden="true"></i> This order does not have associated packages</span>
								</div>
							</div>


							<div class="col-md-6" id="products-product"
								 ng-style="$even && {'border-right':'1px solid rgba(0, 0, 0, .1)'}"
								 ng-if="qProducts.length>0"
								 ng-repeat="n in qProducts track by $index">
								<table class="table table-striped table-bordered mt-1">
									<tbody>
									<tr>
										<td class="bg-primary" style="background-color: #415698 !important"><strong>Package
											{{$index+1}}</strong> - {{n.description}}
										</td>
									</tr>
									</tbody>
								</table>
								<hr>

								<div class="col-sm-12 col-xs-12" ng-if="validUsrStatus && sucMsg && !errMsg && n.need_update===false">
									<div class=" alert alert-primary" role="alert" style="margin-top:1.5em">
										<span><i class="fa fa-info-circle" aria-hidden="true"></i> It is not necessary to modify this package</span>
									</div>
								</div>


								<div ng-if="n.need_update===true" class="form-row">
									<div class="form-group col-md-4 col-sm-12 col-xs-12">
										<label for="consignee_country_{{$index}}">Country<sup
												style="color: red !important">*</sup></label>
										<select ng-class="{ 'is-invalid' : recoveryForm['consignee_country_'+$index].$invalid && submittedrecovery}"
												id="consignee_country_{{$index}}" name="consignee_country_{{$index}}"
												class="form-control" ng-model="product[$index].consignee_country"
												ng-required="true"
												ng-change="updateStates(product[$index].consignee_country,true,$index)"
												ng-options="cou.value as cou.name for cou in qCountries">
											<option value="">Select</option>
										</select>
										<div ng-show="recoveryForm['consignee_country_'+$index].$invalid && submittedrecovery"
											 class="invalid-feedback">Your country is required.
										</div>
									</div>
									<div class="form-group col-md-4 col-sm-12 col-xs-12">
										<label for="consignee_state_{{$index}}">State/Province<sup
												style="color: red !important">*</sup></label>
										<select ng-class="{ 'is-invalid' : recoveryForm['consignee_state_'+$index].$invalid && submittedrecovery}"
												id="consignee_state_{{$index}}" name="consignee_state_{{$index}}"
												class="form-control"
												ng-model="product[$index].consignee_state"
												ng-required="true"
												ng-options="sta.value as sta.name for sta in qStatesArr[$index]"
												ng-change="updateCities(product[$index].consignee_state,true,$index)"
												ng-if="noState===false">
											<option value="">Select</option>
										</select>
										<input ng-class="{ 'is-invalid' : recoveryForm['consignee_state_'+$index].$invalid && submittedrecovery}"
											   id="consignee_state_{{$index}}" type="text"
											   name="consignee_state_{{$index}}" class="form-control"
											   ng-model="product[$index].consignee_state" ng-required="true"
											   ng-if="noState" placeholder="Enter your state or province manually">
										<div ng-show="recoveryForm['consignee_state_'+$index].$invalid && submittedrecovery"
											 class="invalid-feedback">Your state or province is required.
										</div>
									</div>
									<div class="form-group col-md-4 col-sm-12 col-xs-12">
										<label for="consignee_city_{{$index}}">City<sup
												style="color: red !important">*</sup></label>
										<select ng-class="{ 'is-invalid' : recoveryForm['consignee_city_'+$index].$invalid && submittedrecovery}"
												id="consignee_city_{{$index}}" name="consignee_city_{{$index}}"
												class="form-control"
												ng-model="product[$index].consignee_city" ng-required="true"
												ng-if="noCity===false"
												ng-options="cit.value as cit.name for cit in qCitiesArr[$index]">
											<option value="">Select</option>
										</select>
										<input ng-class="{ 'is-invalid' : recoveryForm['consignee_city_'+$index].$invalid && submittedrecovery}"
											   id="consignee_city_{{$index}}" type="text"
											   name="consignee_city_{{$index}}" class="form-control"
											   ng-model="product[$index].consignee_city" ng-required="true"
											   ng-if="noCity" placeholder="Enter your city or village manually">
										<div ng-show="recoveryForm['consignee_city_'+$index].$invalid && submittedrecovery"
											 class="invalid-feedback">Your city is required.
										</div>
									</div>

									<div class="form-group col-md-4 col-sm-12 col-xs-12">
										<label for="consignee_identification_{{$index}}">Identification<sup
												style="color: red !important">*</sup></label>
										<input id="consignee_identification_{{$index}}"
											   ng-class="{ 'is-invalid' : recoveryForm['consignee_identification_'+$index].$invalid && submittedrecovery}"
											   type="text" name="consignee_identification_{{$index}}"
											   class="form-control" ng-model="product[$index].consignee_identification"
											   ng-required="true">
										<div ng-show="recoveryForm['consignee_identification_'+$index].$invalid && submittedrecovery"
											 class="invalid-feedback">Identification number is required
										</div>
									</div>


									<div class="form-group col-md-4 col-sm-12 col-xs-12">
										<label for="aditionals_first_name_{{$index}}">First Name<sup
												style="color: red !important">*</sup></label>
										<input id="aditionals_consignee_first_name_{{$index}}"
											   ng-class="{ 'is-invalid' : recoveryForm['aditionals_consignee_first_name_'+$index].$invalid && submittedrecovery}"
											   type="text" name="aditionals_consignee_first_name_{{$index}}"
											   class="form-control" ng-model="aditionals_consignee[$index].first_name"
											   ng-required="true">
										<div ng-show="recoveryForm['aditionals_consignee_first_name_'+$index].$invalid && submittedrecovery"
											 class="invalid-feedback">First name is required
										</div>
									</div>

									<div class="form-group col-md-4 col-sm-12 col-xs-12">
										<label for="aditionals_consignee_last_name_{{$index}}">Last Name<sup
												style="color: red !important">*</sup></label>
										<input id="aditionals_consignee_last_name_{{$index}}"
											   ng-class="{ 'is-invalid' : recoveryForm['aditionals_consignee_last_name_'+$index].$invalid && submittedrecovery}"
											   type="text" name="aditionals_consignee_last_name_{{$index}}"
											   class="form-control" ng-model="aditionals_consignee[$index].last_name"
											   ng-required="true">
										<div ng-show="recoveryForm['aditionals_consignee_last_name_'+$index].$invalid && submittedrecovery"
											 class="invalid-feedback">Last name is required
										</div>
									</div>

									<div class="form-group col-md-8 col-sm-12 col-xs-12 hidden">
										<label for="consignee_name_{{$index}}">Full Name<sup
												style="color: red !important">*</sup></label>
										<input id="consignee_name_{{$index}}"
											   ng-class="{ 'is-invalid' : recoveryForm['consignee_name_'+$index].$invalid && submittedrecovery}"
											   type="text" name="consignee_name_{{$index}}" class="form-control"
											   ng-model="product[$index].consignee_name"
											   ng-value="{{aditionals_consignee[$index].first_name}} {{aditionals_consignee[$index].last_name}}"
											   ng-required="true">
										<div ng-show="recoveryForm['consignee_name_'+$index].$invalid && submittedrecovery"
											 class="invalid-feedback">The full name is required
										</div>
									</div>

									<div class="form-group col-md-4 col-sm-12 col-xs-12">
										<label for="consignee_email_{{$index}}">E-mail </label>
										<input id="consignee_email_{{$index}}"
											   ng-class="{ 'is-invalid' : recoveryForm['consignee_email_'+$index].$invalid && submittedrecovery}"
											   type="text" name="consignee_email_{{$index}}" class="form-control"
											   ng-model="product[$index].consignee_email">
										<div ng-show="recoveryForm['consignee_email_'+$index].$invalid && submittedrecovery"
											 class="invalid-feedback">E-mail is required
										</div>
									</div>

									<div class="form-group col-md-4 col-sm-12 col-xs-12">
										<label for="consignee_address_{{$index}}">Address<sup
												style="color: red !important">*</sup></label>
										<input id="consignee_address_{{$index}}"
											   ng-class="{ 'is-invalid' : recoveryForm['consignee_address_'+$index].$invalid && submittedrecovery}"
											   type="text" name="consignee_address_{{$index}}" class="form-control"
											   ng-model="product[$index].consignee_address" ng-required="true">
										<div ng-show="recoveryForm['consignee_address_'+$index].$invalid && submittedrecovery"
											 class="invalid-feedback">Address is required
										</div>
									</div>

									<div class="form-group col-md-4 col-sm-12 col-xs-12">
										<label for="consignee_zip_code_{{$index}}">Zip Code</label>
										<input id="consignee_zip_code_{{$index}}" type="text"
											   name="consignee_zip_code_{{$index}}" class="form-control"
											   ng-model="product[$index].consignee_zip_code">
									</div>

									<div class="form-group col-md-4 col-sm-12 col-xs-12">
										<label for="consignee_phone_{{$index}}">Main phone<sup
												style="color: red !important">*</sup></label>
										<input id="consignee_phone_{{$index}}"
											   ng-class="{ 'is-invalid' : recoveryForm['consignee_phone_'+$index].$invalid && submittedrecovery}"
											   type="text" name="consignee_phone_{{$index}}" class="form-control"
											   ng-model="product[$index].consignee_phone" ng-required="true">
										<div ng-show="recoveryForm['consignee_phone_'+$index].$invalid && submittedrecovery"
											 class="invalid-feedback">Main phone is required
										</div>
									</div>

									<div class="form-group col-md-4 col-sm-12 col-xs-12">
										<label for="consignee_phone2_{{$index}}">Secondary phone </label>
										<input id="consignee_phone2_{{$index}}"
											   ng-class="{ 'is-invalid' : recoveryForm['consignee_phone2_'+$index].$invalid && submittedrecovery}"
											   type="text" name="consignee_phone2_{{$index}}" class="form-control"
											   ng-model="product[$index].consignee_phone2">
										<div ng-show="recoveryForm['consignee_phone2_'+$index].$invalid && submittedrecovery"
											 class="invalid-feedback">Secondary phone is required
										</div>
									</div>

								</div>


								<div ng-if="n.need_update===true" class="form-row">

									<div class="form-group col-12">
										<label for="category_{{$index}}">Shipping content<sup
												style="color: red !important">*</sup></label>
										<ui-select
												ng-class="{ 'is-invalid' : recoveryForm['category_'+$index].$invalid && submittedrecovery}"
												ng-model="product[$index].category" id="category_{{$index}}"
												name="category_{{$index}}"
												ng-change="changeIVA(this)" ng-required="true" theme="select2"
												class="form-control" title="Selecciona una categoria de la lista">
											<ui-select-match placeholder="Selecciona una categoria de la lista">
												{{$select.selected.name}}
											</ui-select-match>
											<ui-select-choices repeat="item in qCategories | filter: $select.search">
												<div class="row col-md-12">
													<small class="col-md-6"
														   ng-bind-html="item.name | highlight: $select.search"></small>
													<small class="col-md-3"
														   ng-bind-html="item.ivaHtml | highlight: $select.search"></small>
													<small class="col-md-3"
														   ng-bind-html="item.arancelHtml | highlight: $select.search"></small>
												</div>
											</ui-select-choices>
										</ui-select>
										<div ng-show="recoveryForm['category_'+$index].$invalid && submittedrecovery"
											 class="invalid-feedback">La posición arancelaria es requerida.
										</div>
									</div>


									<div class="form-group col-md-4 col-sm-12">
										<label for="unidadPeso_{{$index}}">Weight Unit<sup
												style="color: red !important">*</sup></label>
										<div class="input-group">
											<select ng-class="{ 'is-invalid' : recoveryForm['unidadPeso_'+$index].$invalid && submittedrecovery}"
													id="unidadPeso_{{$index}}" name="unidadPeso_{{$index}}"
													class="form-control" ng-model="product[$index].unidadPeso"
													ng-disabled="true" ng-readonly="true"
													ng-options="cou.value as cou.name for cou in qUnidadesPeso"
													ng-change="changeWeight($index)"></select>
											<div ng-show="recoveryForm['unidadPeso_'+$index].$invalid && submittedrecovery"
												 class="invalid-feedback">Se debe escoger una unidad de peso para el
												calculo.
											</div>
										</div>
									</div>


									<div class="form-group col-md-3 col-sm-6">
										<label for="weight_{{$index}}">Weight<sup style="color: red !important">*</sup></label>
										<div class="input-group">
											<input type="text" class="weight form-control" id="weight_{{$index}}"
												   name="weight_{{$index}}" ng-model="product[$index].weight"
												   ng-readonly="true"
												   ng-class="{ 'is-invalid' : recoveryForm['weight_'+$index].$invalid && submittedrecovery}">
											<div class="input-group-prepend">
												<span class="input-group-text">{{type[$index].weight}}</span>
											</div>
											<div ng-show="recoveryForm['weight_'+$index].$invalid && submittedrecovery"
												 class="invalid-feedback">El peso del producto es requerido.
											</div>
										</div>
									</div>

									<div class="form-group col-md-5 col-sm-6">

									</div>

									<div class="form-group col-md-4 col-sm-12">
										<label for="unidadMedida_{{$index}}">Measurement Units<sup
												style="color: red !important">*</sup></label>
										<div class="input-group">
											<select ng-class="{ 'is-invalid' : recoveryForm['unidadMedida_'+$index].$invalid && submittedrecovery}"
													id="unidadMedida_{{$index}}" name="unidadMedida_{{$index}}"
													class="form-control" ng-model="product[$index].unidadMedida"
													ng-disabled="true" ng-readonly="true"
													ng-options="cou.value as cou.name for cou in qUnidadesMedida"
													ng-change="changeMeasure($index)"></select>
											<div ng-show="recoveryForm['unidadMedida_'+$index].$invalid && submittedrecovery"
												 class="invalid-feedback">Se debe escoger una unidad de medida para el
												calculo.
											</div>
										</div>

									</div>

									<div class="form-row col-md-8" style="padding-right: 0 !important;">

										<div class="form-group col-md-4 col-sm-12">
											<label for="height_{{$index}}">Height<sup
													style="color: red !important">*</sup></label>
											<div class="input-group">
												<input type="text" class="height form-control" id="height_{{$index}}"
													   name="height_{{$index}}" ng-model="product[$index].height"
													   ng-readonly="true"
													   ng-class="{ 'is-invalid' : recoveryForm['height_'+$index].$invalid && submittedrecovery}">
												<div class="input-group-prepend">
													<span class="input-group-text">{{type[$index].measure}}</span>
												</div>
												<div ng-show="recoveryForm['height_'+$index].$invalid && submittedrecovery"
													 class="invalid-feedback">El alto del producto es requerido.
												</div>
											</div>
										</div>

										<div class="form-group col-md-4 col-sm-12">
											<label for="width_{{$index}}">Width<sup
													style="color: red !important">*</sup></label>
											<div class="input-group">
												<input type="text" class="width form-control" id="width_{{$index}}"
													   name="width_{{$index}}" ng-model="product[$index].width"
													   ng-readonly="true"
													   ng-class="{ 'is-invalid' : recoveryForm['width_'+$index].$invalid && submittedrecovery}">
												<div class="input-group-prepend">
													<span class="input-group-text">{{type[$index].measure}}</span>
												</div>
												<div ng-show="recoveryForm['width_'+$index].$invalid && submittedrecovery"
													 class="invalid-feedback">El ancho del producto es requerido.
												</div>
											</div>
										</div>

										<div class="form-group col-md-4 col-sm-12">
											<label for="length_{{$index}}">Length<sup
													style="color: red !important">*</sup></label>
											<div class="input-group">
												<input type="text" class="length form-control" id="length_{{$index}}"
													   name="length_{{$index}}" ng-model="product[$index].length"
													   ng-readonly="true"
													   ng-class="{ 'is-invalid' : recoveryForm['length_'+$index].$invalid && submittedrecovery}">
												<div class="input-group-prepend">
													<span class="input-group-text">{{type[$index].measure}}</span>
												</div>
												<div ng-show="recoveryForm['length_'+$index].$invalid && submittedrecovery"
													 class="invalid-feedback">El largo del producto es requerido.
												</div>
											</div>
										</div>

									</div>

									<div class="form-row col-md-12">
										<div class="form-group col-md-6 col-sm-12 col-xs-12">
											<label for="declare_value_{{$index}}">Declared Value<sup
													style="color: red !important">*</sup></label>
											<div class="input-group">
												<div class="input-group-prepend">
													<span class="input-group-text">USD $ </span>
												</div>
												<input ng-class="{ 'is-invalid' : recoveryForm['declare_value_'+$index].$invalid && submittedrecovery}"
													   type="number" class="form-control" id="declare_value_{{$index}}"
													   ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"
													   name="declare_value_{{$index}}"
													   ng-model="product[$index].declare_value"
													   placeholder="Enter the value of the product" ng-required="true"
													   min="2" max="9999">
												<div ng-show="!recoveryForm['declare_value_'+$index].$valid && !recoveryForm['declare_value_'+$index].$pristine"
													 class="help-block">Invalid declared value (maximum two decimals).
												</div>
												<div ng-show="recoveryForm['declare_value_'+$index].$invalid && submittedrecovery"
													 class="invalid-feedback">The declared value of the product is
													required or greater than 1 USD.
												</div>
											</div>
										</div>

										<div class="form-group col-md-6 col-sm-12">
											<label for="carrier_{{$index}}">Carrier <sup
													style="color: red !important">*</sup></label>
											<div class="input-group">
												<select ng-class="{ 'is-invalid' : recoveryForm['carrier_'+$index].$invalid && submittedrecovery}"
														id="carrier_{{$index}}" name="carrier_{{$index}}"
														class="form-control" ng-model="product[$index].carrier"
														ng-required="true"
														ng-options="cou.value as cou.name for cou in qCouriers">
													<option value="">Select</option>
												</select>
												<div ng-show="recoveryForm['carrier_'+$index].$invalid && submittedrecovery"
													 class="invalid-feedback">The local Carrier is required.
												</div>
											</div>

										</div>


									</div>

									<div class="form-row col-md-12">
										<div class="form-group col-md-12 col-sm-12 col-xs-12">
											<label for="description_{{$index}}">Description<sup
													style="color: red !important">*</sup></label>
											<textarea
													ng-class="{ 'is-invalid' : recoveryForm['description_'+$index].$invalid && submittedrecovery}"
													id="description_{{$index}}" type="text"
													name="description_{{$index}}"
													class="form-control"
													ng-model="product[$index].description" ng-required="true"
													ng-minlength="4" ng-maxlength="50"></textarea>
											<div ng-show="recoveryForm['description_'+$index].$invalid && submittedrecovery"
												 class="invalid-feedback">The description is required.
											</div>
											<div ng-show="recoveryForm['description_'+$index].$error.minlength && submittedrecovery"
												 class="invalid-feedback">The description is very short.
											</div>
											<div ng-show="recoveryForm['description_'+$index].$error.maxlength && submittedrecovery"
												 class="invalid-feedback">The description is very long.
											</div>
										</div>
									</div>

								</div>

							</div>

							<h5 class="hidden">Tributary Information</h5>
							<hr>
							<div class="form-row hidden">

								<div class="form-group col-md-3 col-sm-6">
									<label for="iva">IVA<sup style="color: red !important">*</sup></label>
									<div class="input-group">
										<input type="number" class="form-control" id="iva" name="iva" ng-disabled="true"
											   ng-model="aditionals.iva" ng-required="true"
											   ng-class="{ 'is-invalid' : recoveryForm.iva.$invalid && submittedrecovery}">
										<div class="input-group-prepend">
											<span class="input-group-text"> %</span>
										</div>
										<div ng-show="recoveryForm.iva.$invalid && submittedrecovery"
											 class="invalid-feedback">IVA Tax is requitred.
										</div>
									</div>
								</div>

								<div class="form-group col-md-3 col-sm-6">
									<label for="trm">TRM<sup style="color: red !important">*</sup></label>
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text">COP $</span>
										</div>
										<input type="text" class="form-control" id="trm" name="trm"
											   ng-model="aditionals.trm" ng-disabled="true" ng-required="true"
											   ng-class="{ 'is-invalid' : recoveryForm.trm.$invalid && submittedrecovery}">
										<div ng-show="recoveryForm.trm.$invalid && submittedrecovery"
											 class="invalid-feedback">The TRM is required.
										</div>
									</div>
								</div>

							</div>

							<div class="col-md-12">
								<br>
								<hr>
								<div class="form-row" ng-if="validUsrStatus && sucMsg && !errMsg">
									<div class="form-group col-md-12 col-sm-12">
										<label for="comment">Comment about shipping</label>
										<textarea class="form-control" id="comment" name="comment"
												  ng-model="recovery.comment" ng-required="false"
												  ng-class="{ 'is-invalid' : recoveryForm.comment.$invalid && submittedrecovery}"></textarea>
										<div ng-show="recoveryForm.comment.$invalid && submittedrecovery"
											 class="invalid-feedback">The additional comment is required.
										</div>
									</div>
									<div class="form-group col-md-12 col-sm-12">
										<hr>
										<div class="custom-control custom-checkbox my-1 mr-sm-2">
											<input id="tyc" name="tyc"
												   ng-class="{ 'is-invalid' : recoveryForm.tyc.$invalid && submittedrecovery}"
												   type="checkbox" class="custom-control-input"
												   ng-model="aditionals.tyc" ng-required="true">
											<label for="tyc" class="custom-control-label">I've read and accept the <a
													href="https://goo.gl/Ze8S5Q" target="_blank">terms & conditions</a></label>
											<div ng-show="recoveryForm.tyc.$invalid && submittedrecovery"
												 class="invalid-feedback">To continue, it is necessary to accept the
												terms and conditions
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>


					</div>

					<div class="modal-body" ng-if="terminateAlr || loadingAlr">
						<div class="col-md-12 col-xs-12 col-sm-12" ng-if="loadingAlr && !toEdit">
							<div class="clearfix text-center area-processing loading-products mb-5">
								<img src="//www.anicamboxexpress.com/css/quotation/loading-alert.gif"
									 alt="Generando pre alerta ..." style="height: 310px; margin-top: -15px"/>
								<h5 style="margin-left: 18px; margin-top: -50px">Requesting recovery ...</h5>
							</div>
						</div>

						<div class="col-md-12 col-xs-12 col-sm-12" ng-if="loadingAlr && toEdit">
							<div class="clearfix text-center area-processing loading-products mb-5">
								<img src="//www.anicamboxexpress.com/css/quotation/motion_amz.gif"
									 alt="Actualizando paquete(s) ..." style="height: 310px; margin-top: -15px"/>
								<h5 style="margin-left: 18px; margin-top: -50px"> Updating packages ...</h5>
							</div>
						</div>

						<div class="col-md-12 col-xs-12 col-sm-12" ng-if="terminateAlr">

							<div class="form-row">

								<div class="col-md-12 col-sm-12" ng-if="alrSuc">
									<div class="alert alert-success" role="alert">
										<strong class="alert-heading"><i class="fa fa-check-circle"
																		 aria-hidden="true"></i> SUCCESS</strong>
										<hr>
										Error cause: <strong>{{alrMsg}}</strong>
										<br>
										<hr>
									</div>
								</div>

								<div class="col-md-12 col-sm-12" ng-if="alrFail">
									<div class="alert alert-danger" role="alert">
										<strong class="alert-heading"><i class="fa fa-minus-circle"
																		 aria-hidden="true"></i> ERROR</strong>
										<hr>
										Error cause: <strong>{{alrMsg}}</strong>
										<br>
										<hr>
									</div>
								</div>

								<div class="col-md-12 col-sm-12" ng-if="successGuide">
									<div class="alert alert-success" role="alert">
										<strong class="alert-success"><i class="fa fa-check-circle"></i>
											SUCCESS</strong>
										<hr>
										{{successMsgGuide[0]}}<br>
										<a href="{{uriDwnld}}" class="btn btn-success mt-3"><i class="fa fa-download"
																							   aria-hidden="true"></i>
											Download Guide</a>
										<small>{{successMsgGuide[1]}}</small>
										<br>
										<hr>
									</div>
									<hr>
								</div>

							</div>
						</div>
					</div>

					<div ng-if="!loadingAlr" class="modal-footer">
						<button type="button" class="btn btn-default" ng-if="!terminateAlr" data-dismiss="modal">
							Cancel
						</button>
						<button type="submit" class="btn btn-primary" ng-disabled="!validUsrStatus || errMsg" ng-if="!terminateAlr && !toEdit">Save</button>
						<button type="submit" class="btn btn-primary" ng-disabled="!validUsrStatus || errMsg" ng-if="!terminateAlr && toEdit">Update</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal" ng-if="terminateAlr">Close
						</button>
					</div>


				</form>


			</div>
		</div>
	</div>

	<span class="hidden" id="APIClient">DAFE0317-B3DE-4697-973C-A0CD0E475141</span>
	<span class="hidden" id="APISecret">u2xp72C8DQiddXCf80OM4oBdud56dUFk</span>

</div> <!-- /container -->


<script>
	(function ($) {
		$(document).ready(function () {


			$('[data-toggle="popover"]').popover({
				container: 'body',
				trigger: 'hover'
				//delay: { "show": 500, "hide": 100 }
			});

			// Para la trm
			$('#trm').priceFormat({
				prefix: '',
				thousandsSeparator: ',',
				clearOnEmpty: true,
				limit: 8,
				centsLimit: 2
			});

		});
	})(jQuery);
</script>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</div>

