<html lang="en" ng-app="anicamquote">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <!--  <link rel="stylesheet" href="//anicamboxexpress.com/css/quotation/bootstrap.css">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/examples/album/album.css">
    <link rel="stylesheet" href="//anicamboxexpress.com/css/quotation/font-awesome.css">-->

    <title>Corte de Guias - Anicam Enterprises</title>

    <link rel="stylesheet" href="../css/quotation/bootstrap.css">
    <link rel="stylesheet" href="../css/quotation/font-awesome.css">

    <script src="//anicamboxexpress.com/js/quotation/jquery-3.1.1.min.js"></script>
    <script src="//anicamboxexpress.com/js/quotation/popper.min.js"></script>
    <script src="//anicamboxexpress.com/js/quotation/bootstrap/bootstrap.min.js"></script>


    <script src="//anicamboxexpress.com/js/quotation/bootstrap-datepicker.js"></script>
    <script src="//anicamboxexpress.com/js/quotation/jquery.priceformat.js"></script>

    <!-- Main Angular scripts-->
    <script src="//anicamboxexpress.com/js/quotation/angular/angular.min.js"></script>
    <script src="//anicamboxexpress.com/js/quotation/angular/angular-sanitize.js"></script>
    <script src="//anicamboxexpress.com/js/quotation/plugins/oclazyload/dist/ocLazyLoad.min.js"></script>

    <!-- Upload angular files real -->
    <script src="//anicamboxexpress.com/js/quotation/plugins/file-upload/angular-file-upload.js"></script>

    <!-- Upload angular files -->
    <script src="//anicamboxexpress.com/js/quotation/plugins/file-upload/ng-file-upload.js"></script>
    <script src="//anicamboxexpress.com/js/quotation/plugins/file-upload/ng-file-upload-all.js"></script>
    <script src="//anicamboxexpress.com/js/quotation/plugins/file-upload/ng-file-upload-shim.js"></script>

    <!-- ui-select files -->
    <script src="//anicamboxexpress.com/js/quotation/select2.js"></script>
    <link rel="stylesheet" href="//anicamboxexpress.com/css/quotation/select2.css">

    <script src="//anicamboxexpress.com/js/quotation/angular-translate/angular-translate.min.js"></script>
    <script src="//anicamboxexpress.com/js/quotation/ui-router/angular-ui-router.min.js"></script>
    <script src="//anicamboxexpress.com/js/quotation/bootstrap/ui-bootstrap-tpls-1.1.2.min.js"></script>
    <script src="//anicamboxexpress.com/js/quotation/plugins/angular-idle/angular-idle.js"></script>

    <!-- Anglar App Script -->
    <script src="//anicamboxexpress.com/js/quotation/app.js"></script>
    <!--<script src=".//anicamboxexpress.com/js/config.js"></script>-->
    <script src="//anicamboxexpress.com/js/quotation/translations.js"></script>
    <script src="//anicamboxexpress.com/js/quotation/directives.js"></script>
    <script src="//anicamboxexpress.com/js/quotation/controllers.js?V=2"></script>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../css/favicon.ico">
    <link rel="icon" type="image/png" href="../css/favicon.ico">
    <!-- themes -->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/quotation/selectize.default.css">-->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/quotation/selectize.bootstrap2.css"> -->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/quotation/selectize.bootstrap3.css">-->



</head>

<body ng-controller="CutGuide" style="background-color: transparent !important">
<div class="">

<div class="col-md-12 mt-lg-3 mb-lg-3 pb-5 pt-4 text-center">
    <img style="margin: 0 auto; height: 60px" class="mb-2" src="./css/quotation/redisani.png" alt="Corte de Guia">
    <h2 class="text-center">CORTE DE GUIA VIRTUAL</h2>

</div>

    <div id="cotizador" class="col-md-12 row mb-4 mt-4 ">

        <div class="col-md-4 col-sm-12 col-xs-12" style="border-right: 1px solid rgba(0, 0, 0, .1)">

            <h5>Busqueda de Orden:</h5>
            <hr>
            <p style="font-size: 16px" class="pt-1 text-justify">Ingrese el ID de la orden, verifique la información y proceda a cotizar la guia con el operador logistico</p>

            <form class="mb-5" novalidate id="trackingForm" name="trackingForm" ng-submit="submitTrackingForm(trackingForm.$valid)">

                <div class="form-row mt-5 row justify-content-center">
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <div class="input-group">
                            <input id="id" name="id" ng-class="{ 'is-invalid' : trackingForm.id.$invalid && submittedrecovery}"
                                   type="text" class="form-control pull-right" ng-model="tracking.id" ng-required="true" placeholder="Número de Orden">
                            <div class="input-group-prepend">
                                <button type="submit" class="btn btn-primary pull-left input-group-button"><i class="fa fa-search" aria-hidden="true"></i> Buscar</button>
                            </div>
                        </div>

                    </div>
                </div>





            </form>
        </div>

        <div class="col-md-8 col-xs-12 col-sm-12">
            <h5>Resultado:</h5>
            <hr>


            <div class="col-md-12 p-0 " ng-if="loading">
                <div class="clearfix text-center area-processing loading-products mt-5 mb-5" ng-if="loading">
                    <img class="mb-2" src="//anicamboxexpress.com/css/quotation/loading-orange.gif" alt="Procesando ..." style="height: 160px !important;" />
                    <h4 style="margin-left: 18px">Buscando Órden...</h4>
                </div>
                <hr>
            </div>

            <div class="col-md-12 p-0 " ng-if="!loading && fail">
                <div class="alert alert-warning" role="alert">
                    <strong class="alert-warning"><i class="fa fa-minus-circle" aria-hidden="true"></i></strong>
                    La información ingresada, no está registrada. Verifica e intenta nuevamente.<br>
                    <small>The information entered, is not registered. Please verify and try again.</small>
                </div>
            </div>

            <div class="col-md-12 p-0" ng-if="!terminate && !loading && !loadingOvrr && !failOvrr && !successOvrr">
                <div class="alert alert-info" role="alert">
                    <strong class="alert-info"><i class="fa fa-info" aria-hidden="true"></i></strong>
                    Ingrese el ID de la orden y luego haga clic en buscar para ver el detalle.
                </div>
            </div>

            <div class="col-md-12 p-0 " ng-if="!loadingAlr && !loadingOvrr && failAlr">
                <div class="alert alert-danger" role="alert">
                    <strong class="alert-heading"><i class="fa fa-minus-circle"></i> ERROR</strong>
                    <br>
                    <br>
                    {{failMsgAlr[0]}}<br>
                    <small>{{failMsgAlr[1]}}</small>
                </div>
                <hr>
            </div>

            <div class="col-md-12 col-xs-12 col-sm-12" ng-if="loadingAlr">

                <div class="clearfix text-center area-processing loading-products mt-5 mb-5">
                    <img class="mb-2" src="//anicamboxexpress.com/css/quotation/loading-orange.gif" alt="Procesando ..." style="height: 160px !important;" />
                    <h4 style="margin-left: 18px">Cotizando Guia...</h4>
                </div>

                <hr>
            </div>

            <div class="col-md-12 col-xs-12 col-sm-12" ng-if="loadingGuide">

                <div class="clearfix text-center area-processing loading-products pb-3">
                    <img src="../css/quotation/loading-alert.gif" alt="Generando pre alerta ..." style="height: 310px; margin-top: -15px"/>
                    <h5 style="margin-left: 18px; margin-top: -50px">Generando Guia...</h5>
                </div>

                <hr>
            </div>

            <div class="col-md-12 p-0 " ng-if="loadingOvrr">
                <div class="clearfix text-center area-processing loading-products mt-5 mb-5">
                    <img class="mb-2" src="//anicamboxexpress.com/css/quotation/loading-orange.gif" alt="Anulando ..." style="height: 160px !important;" />
                    <h4 style="margin-left: 18px">Anulando Guia ...</h4>
                </div>
                <hr>
            </div>

            <div class="col-md-12 p-0 " ng-if="!loadingGuide && !loadingOvrr && failOvrr">
                <div class="alert alert-danger" role="alert">
                    <strong class="alert-heading"><i class="fa fa-minus-circle"></i> ERROR</strong>
                    <br>
                    <br>
                    {{failMsgOvrr}}. Verifica el número de guia e intenta nuevamente.
                </div>
                <hr>
            </div>

            <div class="col-md-12 p-0 " ng-if="!loadingGuide && !loadingOvrr && successOvrr">
                <div class="alert alert-success" role="alert">
                    <strong class="alert-success"><i class="fa fa-check"></i> EXITO</strong>
                    <br>
                    <br>
                    {{successMsgOvrr}}
                </div>
                <hr>
            </div>

            <div class="col-md-12 p-0 " ng-if="!loadingGuide && !loadingOvrr && failGuide">
                <div class="alert alert-danger" role="alert">
                    <strong class="alert-heading"><i class="fa fa-minus-circle"></i> ERROR</strong>
                    <br>
                    <br>
                    {{failMsgGuide[0]}}<br>
                    <small>{{failMsgGuide[1]}}</small>
                </div>
                <hr>
            </div>

            <div class="col-md-12 p-0 " ng-if="!loadingGuide && !loadingOvrr && successGuide">
            <div class="alert alert-success" role="alert">
                <strong class="alert-success"><i class="fa fa-check"></i> EXITO</strong>
                <br>
                <br>
                {{successMsgGuide[0]}}<br>
                <a href="{{uriDwnld}}" class="btn btn-success mt-3"><i class="fa fa-download" aria-hidden="true"></i> Descargar Guia</a>
                <small>{{successMsgGuide[1]}}</small>
            </div>
                <hr>
            </div>

            <div class="col-md-12 p-0 " ng-if="!loadingGuide && !loadingOvrr && successCost">
                <div class="alert alert-success" role="alert">
                    <strong class="alert-success"><i class="fa fa-check"></i> EXITO</strong>
                    <br>
                    <br>
                    {{successMsgCost[0]}}<br>
                    <small>{{successMsgCost[1]}}</small>
                </div>
                <hr>
            </div>

            <div class="col-md-12 p-0 " ng-if="!loadingGuide && !loadingOvrr && failCost">
                <div class="alert alert-danger" role="alert">
                    <strong class="alert-heading"><i class="fa fa-minus-circle"></i> ERROR</strong>
                    <br>
                    <br>
                    {{failMsgCost[0]}}<br>
                    <small>{{failMsgCost[1]}}</small>
                </div>
                <hr>
            </div>

            <div class="clearfix col-sm-12 col-xs-12 col-md-12 " ng-if="successAlr && !loadingAlr && !loadingGuide && !loadingOvrr && !terminateGuide" style="padding: 0 !important;">

                <div class="alert alert-success" role="alert">
                    <strong class="alert-success"><i class="fa fa-check"></i> EXITO</strong>
                    <br>
                    <br>
                    {{successMsgAlr[0]}}<br>
                    <small>{{successMsgAlr[1]}}</small>
                </div>
                <hr>

                <table class="table mt-3 table-bordered" style="font-size: 12px">
                    <thead>
                    <tr class="text-center table-dark" style="background-color: #ef7f1a !important;">
                        <th scope="col" class="bg-striped border-0" colspan="2">Origen</th>
                        <th scope="col" class="bg-striped border-0" colspan="2">Destino</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="text-center">
                        <td colspan="2">
                            <img ng-if="shipper.country_locale==='CO'" src="../css/quotation/colombia.png" alt="{{shipper.country_locale}}">
                            <img ng-if="shipper.country_locale==='PY'" src="../css/quotation/paraguay.png" alt="{{shipper.country_locale}}">
                            <img ng-if="shipper.country_locale==='MX'" src="../css/quotation/mexico.png" alt="{{shipper.country_locale}}">
                            <img ng-if="shipper.country_locale==='BR'" src="../css/quotation/brasil.png" alt="{{shipper.country_locale}}">
                            <img ng-if="shipper.country_locale==='EC'" src="../css/quotation/ecuador.png" alt="{{shipper.country_locale}}">
                            <img ng-if="shipper.country_locale==='HN'" src="../css/quotation/honduras.png" alt="{{shipper.country_locale}}">
                            <img ng-if="shipper.country_locale==='VE'" src="../css/quotation/venezuela.png" alt="{{shipper.country_locale}}">
                            <img ng-if="shipper.country_locale==='US'" src="../css/quotation/united-states.png" alt="{{shipper.country_locale}}">
                            <img ng-if="shipper.country_locale==='CN'" src="../css/quotation/china.png" alt="{{shipper.country_locale}}">
                            <img ng-if="shipper.country_locale==='AR'" src="../css/quotation/argentina.png" alt="{{shipper.country_locale}}">
                            <label style="text-transform: capitalize">{{shipper.state | capitalize}}</label>, <label style="text-transform: capitalize">{{shipper.city | capitalize}}</label></td>
                        
                        <td colspan="2">
                            <img ng-if="consignee.country_locale==='CO'" src="../css/quotation/colombia.png" alt="{{consignee.country_locale}}">
                            <img ng-if="consignee.country_locale==='PY'" src="../css/quotation/paraguay.png" alt="{{consignee.country_locale}}">
                            <img ng-if="consignee.country_locale==='MX'" src="../css/quotation/mexico.png" alt="{{consignee.country_locale}}">
                            <img ng-if="consignee.country_locale==='BR'" src="../css/quotation/brasil.png" alt="{{consignee.country_locale}}">
                            <img ng-if="consignee.country_locale==='EC'" src="../css/quotation/ecuador.png" alt="{{consignee.country_locale}}">
                            <img ng-if="consignee.country_locale==='HN'" src="../css/quotation/honduras.png" alt="{{consignee.country_locale}}">
                            <img ng-if="consignee.country_locale==='VE'" src="../css/quotation/venezuela.png" alt="{{consignee.country_locale}}">
                            <img ng-if="consignee.country_locale==='US'" src="../css/quotation/united-states.png" alt="{{consignee.country_locale}}">
                            <img ng-if="consignee.country_locale==='CN'" src="../css/quotation/china.png" alt="{{consignee.country_locale}}">
                            <img ng-if="consignee.country_locale==='AR'" src="../css/quotation/argentina.png" alt="{{consignee.country_locale}}">
                            <label style="text-transform: capitalize">{{result.State | capitalize}}</label>, <label style="text-transform: capitalize;">{{result.City | capitalize}}</label></td>
                    </tr>
                    <tr>
                        <th class="bg-striped" colspan="1" scope="row">Customer</th>
                        <td colspan="1" class="text-right">{{result.nameShip+' '+result.apShip}}</td>

                        <th class="bg-striped" colspan="1" scope="row">Customer</th>
                        <td colspan="1" class="text-right">{{result.nameDes+' '+result.apDes}}</td>
                    </tr>
                    <tr>
                        <th class="bg-striped" colspan="1" scope="row">Address</th>
                        <td colspan="1" class="text-right">{{shipper.address | capitalize | capitalize}}</td>

                        <th class="bg-striped" colspan="1" scope="row">Address</th>
                        <td colspan="1" class="text-right">{{consignee.address | capitalize | capitalize}}</td>
                    </tr>
                    <tr>
                        <th class="bg-striped" colspan="1" scope="row">Phone</th>
                        <td colspan="1" class="text-right">{{shipper.phone_1}}</td>

                        <th class="bg-striped" colspan="1" scope="row">Phone</th>
                        <td colspan="1" class="text-right">{{consignee.phone_1}}</td>
                    </tr>


                    </tbody>
                </table>

                <table class="table table-striped mt-1">
                    <tbody>
                    <tr>
                        <th scope="row">Valor Declarado</th>
                        <td class="text-right"><strong>{{(packages.declare_value | currency : '$ ':2)}} USD</strong></td>
                    </tr>
                    <tr>
                        <th scope="row">Valor Redespacho</th>
                        <td class="text-right"><strong>{{(result.redespachoUSD | currency : '$ ':2)}} USD</strong></td>
                    </tr>
                    <tr>
                        <th scope="row">Valor Comision</th>
                        <td class="text-right"><strong>{{(result.comisionUSD | currency : '$ ':2)}} USD</strong></td>
                    </tr>
                    <tr style="font-size: 16px; background-color: darkgreen !important;color: #fff;">
                        <th scope="row">GRAN TOTAL </th>
                        <td class="text-right"><strong class="ng-binding">{{(result.totRedespachoUSD | currency : '$ ':2)}} USD</strong><br><small></small></td>
                    </tr>
                    </tbody>
                </table>
                <hr>


                <button type="button" class="btn btn-success pull-right btn-md mt-1" ng-if="!terminateGuide" ng-click="cutGuide()">
                    <img style="margin-top: -5px" src="../css/quotation/redservi.png" alt="Redespacho">
                    Cortar Guia</button>

            </div>



            <div class="col-md-12 p-0" ng-if="success && terminate && !loadingAlr && !successAlr && !loadingOvrr">

                <div class="col-md-12 row">
                <div class="col-md-6 p-0">
                    <table class="table table-striped table-bordered mt-1">
                        <tbody>
                        <tr>
                            <th class="bg-primary" style="background-color: #415698 !important" scope="row">Order Number:</th>
                            <td class="text-right"><strong class="ng-binding">{{result.order_number}}</strong></td>
                        </tr>
                        </tbody>
                    </table>
                </div>


                </div>



                <h5 class="mt-3">Confirma la ubicación de Destino</h5>
                <hr>
                <form novalidate id="cotForm" name="cotForm" ng-submit="submitCotForm(cotForm.$valid)">
                <div class="form-row">
                    <div class="form-group col-md-4 col-sm-12 col-xs-12">
                        <label for="country">Pais<sup style="color: red !important">*</sup></label>
                        <select ng-class="{ 'is-invalid' : cotForm.country.$invalid && submitted}" id="country" name="country" class="form-control" ng-model="aditionals.country_locale"
                                ng-required="true" ng-change="updateStates(aditionals.country_locale)" ng-disabled="true" ng-options="cou.value as cou.name for cou in qCountries">
                            <option value="">Seleccionar</option>
                        </select>
                        <div ng-show="cotForm.country.$invalid && submitted" class="invalid-feedback">El pais destino es requerido.</div>
                    </div>
                    <div class="form-group col-md-4 col-sm-12 col-xs-12">
                        <label for="state">Departamento<sup style="color: red !important">*</sup></label>
                        <select ng-class="{ 'is-invalid' : cotForm.state.$invalid && submitted}" id="state" name="state" class="form-control" ng-model="aditionals.state" ng-required="true" ng-options="sta.value as sta.name for sta in qStates" ng-change="updateCities(aditionals.state)">
                            <option value="">Seleccionar</option>
                        </select>

                        <div ng-show="cotForm.state.$invalid && submitted" class="invalid-feedback">Valida la informacion del departamento de destino con la tabla inferior.</div>
                    </div>
                    <div class="form-group col-md-4 col-sm-12 col-xs-12">
                        <label for="city">Ciudad<sup style="color: red !important">*</sup></label>
                        <select ng-class="{ 'is-invalid' : cotForm.city.$invalid && submitted}" id="city" name="city" class="form-control" ng-model="aditionals.city" ng-required="true" ng-options="cit.value as cit.name for cit in qCities"
                                ng-change="changequoteCity(quote.city,quote.state)">
                            <option value="">Seleccionar</option>
                        </select>

                        <div ng-show="cotForm.city.$invalid && submitted" class="invalid-feedback">Valida la informacion de la ciudad de destino con la tabla inferior.</div>
                    </div>
                </div>
                    <hr>
                    <div class="row col-md-12 mb-2">
                        <div class="col-md-6 p-0">
                            <small>* Por favor valida la informacion de destino con los datos que aparecen en la tabla inferior.</small>
                        </div>
                        <div class="col-md-6 p-0">
                            <button type="submit" class="btn btn-success pull-right btn-md mt-1">
                                <img style="margin-top: -5px" src="../css/quotation/redservi.png" alt="Redespacho">
                                Cotizar Guia</button>
                        </div>
                    </div>

                </form>


                <h3 class="text-center">Des/Consolidate Cargo</h3>
                <hr>

<div class="col-md-12 row p-0">
    <div class="col-md-6 ">
        <h5>Consignee Information</h5>
        <hr>
        <table class="table table-hover mt-3 table-bordered">
            <thead>
            <tr>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th class="bg-striped" scope="row">Identification No.</th>
                <td>{{consignee.identification}}</td>
            </tr>
            <tr>
                <th class="bg-striped" scope="row">Customer</th>
                <td>{{consignee.customer | capitalize}}</td>
            </tr>
            <tr>
                <th class="bg-striped" scope="row">Country</th>
                <td>{{consignee.country_locale}}</td>
            </tr>
            <tr>
                <th class="bg-striped" scope="row">State/Province</th>
                <td>{{consignee.state | capitalize}}</td>
            </tr>
            <tr>
                <th class="bg-striped" scope="row">City</th>
                <td>{{consignee.city | capitalize}}</td>
            </tr>
            <tr>
                <th class="bg-striped" scope="row">Address</th>
                <td>{{consignee.address | capitalize}}</td>
            </tr>
            <tr>
                <th class="bg-striped" scope="row">Zip Code</th>
                <td>{{consignee.address | capitalize}}</td>
            </tr>
            <tr>
                <th class="bg-striped" scope="row">Primary Phone</th>
                <td>{{consignee.phone_1}}</td>
            </tr>
            <tr>
                <th class="bg-striped" scope="row">Secondary Phone</th>
                <td>{{consignee.phone_2}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-6 ">
        <h5>Shipper Information</h5>
        <hr>
        <table class="table table-hover mt-3 table-bordered">
            <thead>
            <tr>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th class="bg-striped" scope="row">Identification No.</th>
                <td>{{shipper.identification}}</td>
            </tr>
            <tr>
                <th class="bg-striped" scope="row">Customer</th>
                <td>{{shipper.customer | capitalize}}</td>
            </tr>
            <tr>
                <th class="bg-striped" scope="row">Country</th>
                <td>{{shipper.country_locale}}</td>
            </tr>
            <tr>
                <th class="bg-striped" scope="row">State/Province</th>
                <td>{{shipper.state | capitalize}}</td>
            </tr>
            <tr>
                <th class="bg-striped" scope="row">City</th>
                <td>{{shipper.city | capitalize}}</td>
            </tr>
            <tr>
                <th class="bg-striped" scope="row">Address</th>
                <td>{{shipper.address | capitalize}}</td>
            </tr>
            <tr>
                <th class="bg-striped" scope="row">Zip Code</th>
                <td>{{shipper.address | capitalize}}</td>
            </tr>
            <tr>
                <th class="bg-striped" scope="row">Primary Phone</th>
                <td>{{shipper.phone_1}}</td>
            </tr>
            <tr>
                <th class="bg-striped" scope="row">Secondary Phone</th>
                <td>{{shipper.phone_2}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

                <h3 class="text-center mt-4">Packages</h3>
                <hr>
                <div class="col-md-12 row">

    <div class="col-md-6 p-0">
        <h5>Package Number 1</h5>
        <hr>
        <table class="table table-hover mt-3 table-bordered">
            <thead>
            <tr>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th class="bg-striped" scope="row">Weight</th>
                <td>{{packages.weight}} Lb</td>
            </tr>
            <tr>
                <th class="bg-striped" scope="row">Height</th>
                <td>{{packages.height}} In</td>
            </tr>
            <tr>
                <th class="bg-striped" scope="row">Lenght</th>
                <td>{{packages.length}} In</td>
            </tr>
            <tr>
                <th class="bg-striped" scope="row">Width</th>
                <td>{{packages.width}} In</td>
            </tr>
            <tr>
                <th class="bg-striped" scope="row">Declared Value</th>
                <td>{{(packages.declare_value | currency : '$ ':0)}} USD</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>



            </div>

        </div>

        <div class="col-md-4 col-sm-12 col-xs-12" style="border-right: 1px solid rgba(0, 0, 0, .1)">

            <h5>Anulación de Guia:</h5>
            <hr>
            <p style="font-size: 16px" class="pt-1 text-justify">Ingresa el número de la guia y presiona el boton anular</p>

            <form class="mb-5" novalidate id="overrideForm" name="overrideForm" ng-submit="submitOverrideForm(overrideForm.$valid)">

                <div class="form-row mt-5 row justify-content-center">
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <div class="input-group">
                            <input id="guide_id" name="guide_id" ng-class="{ 'is-invalid' : overrideForm.id.$invalid && submittedrecovery}"
                                   type="text" class="form-control pull-right" ng-model="guide.id" ng-required="true" placeholder="Número de Guia Red Servi">
                            <div class="input-group-prepend">
                                <button type="submit" class="btn btn-success pull-right btn-md">
                                    <img style="margin-top: -5px" src="../css/quotation/redservi.png" alt="Anular Guia">
                                    Anular Guia</button>
                                <!--<button type="submit" class="btn btn-warning pull-left input-group-button"><i class="fa fa-eraser" aria-hidden="true"></i> Anular</button>-->
                            </div>
                        </div>

                    </div>
                </div>



            </form>
        </div>



    </div>




    <span class="hidden" id="APIClient">DAFE0317-B3DE-4697-973C-A0CD0E475141</span>
    <span class="hidden" id="APISecret">u2xp72C8DQiddXCf80OM4oBdud56dUFk</span>

</div> <!-- /container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>