<!doctype html>
<html lang="en" ng-app="anicamquote">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Servicios Internos - Anicam Enterprises</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/album">
    <link rel="stylesheet" href="https://spark.bootlab.io/css/modern.css">
    <link rel="stylesheet" href="//www.anicamboxexpress.com/css/quotation/font-awesome.css">

    <!-- Bootstrap core CSS -->
    <link href="//getbootstrap.com/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Main Angular scripts-->
    <script src="//www.anicamboxexpress.com/js/quotation/angular/angular.min.js"></script>
    <script src="//www.anicamboxexpress.com/js/quotation/angular/angular-sanitize.js"></script>
    <script src="//www.anicamboxexpress.com/js/quotation/plugins/oclazyload/dist/ocLazyLoad.min.js"></script>

    <!-- Upload angular files real -->
    <script src="//www.anicamboxexpress.com/js/quotation/plugins/file-upload/angular-file-upload.js"></script>

    <!-- Upload angular files -->
    <script src="//www.anicamboxexpress.com/js/quotation/plugins/file-upload/ng-file-upload.js"></script>
    <script src="//www.anicamboxexpress.com/js/quotation/plugins/file-upload/ng-file-upload-all.js"></script>
    <script src="//www.anicamboxexpress.com/js/quotation/plugins/file-upload/ng-file-upload-shim.js"></script>

    <!-- ui-select files -->
    <script src="//www.anicamboxexpress.com/js/quotation/select2.js"></script>
    <link rel="stylesheet" href="//www.anicamboxexpress.com/css/quotation/select2.css">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../css/favicon.ico">
    <link rel="icon" type="image/png" href="../css/favicon.ico">

    <!-- ui-select files -->
    <script src="//www.anicamboxexpress.com/js/quotation/select2.js"></script>
    <link rel="stylesheet" href="//www.anicamboxexpress.com/css/quotation/select2.css">

    <script src="//www.anicamboxexpress.com/js/quotation/angular-translate/angular-translate.min.js"></script>
    <script src="//www.anicamboxexpress.com/js/quotation/ui-router/angular-ui-router.min.js"></script>
    <script src="//www.anicamboxexpress.com/js/quotation/bootstrap/ui-bootstrap-tpls-1.1.2.min.js"></script>
    <script src="//www.anicamboxexpress.com/js/quotation/plugins/angular-idle/angular-idle.js"></script>

    <!-- Anglar App Script -->
    <script src="//www.anicamboxexpress.com/js/quotation/app.js"></script>
    <!--<script src=".//www.anicamboxexpress.com/js/config.js"></script>-->
    <script src="//www.anicamboxexpress.com/js/quotation/translations.js"></script>
    <script src="//www.anicamboxexpress.com/js/quotation/directives.js"></script>
    <script src="//www.anicamboxexpress.com/js/quotation/controllers.js?V=2.3"></script>


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .btn-warning {
            background-color: #f59b3b !important;
            border-color: #f59b3b !important;
            color: #fff !important;
        }

        .card-text {
            height: 85px !important;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="album.css" rel="stylesheet">
</head>
<body ng-cloak ng-controller="internalServicesCtrl">
<header>
    <div class="navbar navbar-light bg-light shadow-sm">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <img src="https://www.anicamboxexpress.com/media/1061/logo_anicam_enterprises.png" height="50" alt="Anicam Enterprises">
            </a>
            <div ng-controller="translateCtrl" class="dropdown pull-right">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><img ng-src="{{language.uriFlag}}" alt="{{lan.code}}"> {{language.text}}
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li ng-if="lan.code!==language.code" ng-repeat="lan in languages track by $index">
                        <a href="#" ng-click="changeLanguage(lan)" data-id="{{lan.code}}"> <img ng-src="{{lan.uriFlag}}" alt="{{lan.code}}">
                            {{lan.text}}</a></li>
                </ul>
            </div>ut
        </div>
    </div>
</header>

<main role="main">

    <section class="jumbotron text-center mb-0">
        <div class="container">
            <h1 class="jumbotron-heading">{{'Internal Services'|translate}}</h1>
            <p class="lead text-muted">{{'Below you will find the list of services developed for internal and exclusive operations aimed at Anicam staff'|translate}}</p>
            <!--<p>
                <a href="#" class="btn btn-primary my-2">Main call to action</a>
                <a href="#" class="btn btn-secondary my-2">Secondary action</a>
            </p>-->
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container" ng-repeat="men in menus">

            <h4 class="d-flex align-items-center mb-3">
                <img ng-src="{{men.icon}}" style="margin-right:10px; height: 28px" alt="{{men.title|translate}}">
                <span class="ng-binding"> {{men.title|translate}}</span>
            </h4>

            <hr class="mb-4">
            <div class="row">
                <div class="col-md-4" ng-repeat="item in men.components">
                    <div class="card mb-4 shadow-sm flex-fill ">
                            <div class="card-header">
                                <h5 class="card-title mb-0">{{item.title|translate}}</h5>
                            </div>
                            <div class="card-body py-3 d-none">
                                <div class="row no-gutters">
                                    <div class="col-12 align-self-center text-right">
                                        <p class="mb-1">{{'Times Used'|translate}}</p>
                                        <h2>{{item.timesUsed}}</h2>
                                    </div>
                                </div>
                            </div>

                        <div class="card-body">
                            <p class="card-text">{{item.description|translate}}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">{{'Uploaded on'|translate}} {{item.uploadDate}}</small>
                                <div class="btn-group">
                                    <a href="{{item.uri}}" target="_blank" class="btn btn-sm btn-warning"><i class="fa fa-sign-in" aria-hidden="true"></i> {{'Go to Module'|translate}}</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</main>

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">{{'Back to Top'|translate}}</a>
        </p>
        <p>Internal Services is &copy;Anicam Enterprises Inc</p>
        <p>New to Anicam? <a href="https://anicamboxexpress.com/">Visit the homepage</a> or read our <a href="https://anicam.ws/">API Beta Documentation</a>.</p>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.3/dist/js/bootstrap.bundle.min.js"><\/script>')</script><script src="https://getbootstrap.com/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script></body>
</html>
