<!DOCTYPE html>
<html lang="en" ng-app="anicamquote">
<head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Pre alerta masivamente paquetes desde USA a Latinoamerica">

    <title>{{'Massive Pre Alert Service - Anicam Box Express'|translate}}</title>

    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/examples/album/album.css">
    <link rel="stylesheet" href="//www.anicamboxexpress.com/css/quotation/font-awesome.css">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css">

    <script src="//www.anicamboxexpress.com/js/quotation/jquery-3.1.1.min.js"></script>
    <script src="//www.anicamboxexpress.com/js/quotation/popper.min.js"></script>
    <script src="//www.anicamboxexpress.com/js/quotation/bootstrap/bootstrap.min.js"></script>

    <script src="//www.anicamboxexpress.com/js/quotation/bootstrap-datepicker.js"></script>
    <script src="//www.anicamboxexpress.com/js/quotation/jquery.priceformat.js"></script>

    <!-- Main Angular scripts-->
    <script src="//www.anicamboxexpress.com/js/quotation/angular/angular.min.js"></script>
    <script src="//www.anicamboxexpress.com/js/quotation/angular/angular-sanitize.js"></script>
    <script src="//www.anicamboxexpress.com/js/quotation/plugins/oclazyload/dist/ocLazyLoad.min.js"></script>

    <!-- Upload angular files real -->
    <script src="//www.anicamboxexpress.com/js/quotation/plugins/file-upload/angular-file-upload.js"></script>

    <!-- Upload angular files QUITAR ESTOS-->
    <script src="//www.anicamboxexpress.com/js/quotation/plugins/file-upload/ng-file-upload.js"></script>
    <script src="//www.anicamboxexpress.com/js/quotation/plugins/file-upload/ng-file-upload-all.js"></script>
    <script src="//www.anicamboxexpress.com/js/quotation/plugins/file-upload/ng-file-upload-shim.js"></script>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../css/favicon.ico">
    <link rel="icon" type="image/png" href="../css/favicon.ico">

    <!-- ui-select files -->
    <script src="//www.anicamboxexpress.com/js/quotation/select2.js"></script>
    <link rel="stylesheet" href="//www.anicamboxexpress.com/css/quotation/select2.css">

    <script src="//www.anicamboxexpress.com/js/quotation/angular-translate/angular-translate.min.js"></script>
    <script src="//www.anicamboxexpress.com/js/quotation/ui-router/angular-ui-router.min.js"></script>
    <script src="//www.anicamboxexpress.com/js/quotation/bootstrap/ui-bootstrap-tpls-1.1.2.min.js"></script>
    <script src="//www.anicamboxexpress.com/js/quotation/plugins/angular-idle/angular-idle.js"></script>

    <!-- Anglar App Script -->
    <script src="//www.anicamboxexpress.com/js/quotation/app.js"></script>
    <!--<script src=".//www.anicamboxexpress.com/js/config.js"></script>-->
    <script src="//www.anicamboxexpress.com/js/quotation/translations.js"></script>
    <script src="//www.anicamboxexpress.com/js/quotation/directives.js"></script>
    <script src="//www.anicamboxexpress.com/js/quotation/controllers.js?V=2.3"></script>

    <!-- Data Tables Plugin-->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>

    <style>
        .thead-darke {
            background-color: #ef7f1a !important;
            color: #fff !important;
        }
        .thead-darke-blue {
            background-color: #415698 !important;
            color: #fff !important;
        }
        .valign-center {
            vertical-align: middle !important;
        }

        .bg-danger {
            background-color: #dc3545!important;
            color: #fff;
            font-weight: bolder;
        }

        .bg-warning {
            background-color: #ffc107!important;
            color: #fff;
            font-weight: bolder;
        }

        .bg-info {
            background-color: #17a2b8!important;
            color: #fff;
            font-weight: bolder;
        }

        body {
            background: linear-gradient(white, #D3D8E8);
        }

    </style>

</head>
<body ng-cloak ng-controller="prealertPlusCtrl" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">

<div class="container ">

        <div class="modal-content">
            <div class="modal-body">
                <div class="col-md-12">

                    <div ng-controller="translateCtrl" class="dropdown pull-right">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><img ng-src="{{language.uriFlag}}" alt="{{lan.code}}"> {{language.text}}
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li ng-if="lan.code!==language.code" ng-repeat="lan in languages track by $index">
                                <a href="#" ng-click="changeLanguage(lan)" data-id="{{lan.code}}"> <img ng-src="{{lan.uriFlag}}" alt="{{lan.code}}">
                                    {{lan.text}}</a></li>
                        </ul>
                    </div>

                    <div class="py-5 text-center">
                        <img class="mx-auto mb-4" src="./css/quotation/bolita.png" alt="" width="100" height="72">
                        <h2 class="jumbotron-heading">{{'MASSIVE PRE-ALERT'|translate}}</h2>
                        <p class="lead text-muted pt-4">{{'In this module you can pre-alert massively, please download the example template in excel, complete the information requested in the document and upload it to be processed in the system and receive the results.'|translate}}</p>
                    </div>

                    <div class="row">
                        <div class="col-md-4 order-md-2 mb-4">
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <span>{{'Last files'|translate}}</span>
                                <span class="badge badge-secondary badge-pill">1</span>
                            </h4>
                            <hr class="mb-4">
                            <ul class="list-group mb-3">
                                <li class="list-group-item d-flex justify-content-between lh-condensed">
                                    <div>
                                        <h6 class="my-0">{{'Example file.xls'|translate}}</h6>
                                        <small class="text-muted">{{'Uploaded on'|translate}} 08/02/2019 11:00</small>
                                    </div>
                                    <a href="https://ws.anicamstore.com:3005/examples/palerts/template_pre_alert_anicam.xlsx" download="ejemploPreAlertaMasiva" class="btn btn-success"><i class="fa fa-download" aria-hidden="true"></i></a>
                                </li>

                                <li class="list-group-item d-flex justify-content-between lh-condensed">
                                    <div>
                                        <h6 class="my-0">{{'Example file consolidate.xls'|translate}}</h6>
                                        <small class="text-muted">{{'Uploaded on'|translate}} 06/12/2019 11:00</small>
                                    </div>
                                    <a href="https://ws.anicamstore.com:3005/examples/palerts/template_pre_alert_consolidate.xlsx" download="ejemploPreAlertaMasivaConsolidada" class="btn btn-success"><i class="fa fa-download" aria-hidden="true"></i></a>
                                </li>

                                <!--<li class="list-group-item d-flex justify-content-between bg-light">
                                    <div class="text-success">
                                        <h6 class="my-0">Promo code</h6>
                                        <small>EXAMPLECODE</small>
                                    </div>
                                    <span class="text-success">-$5</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between">
                                    <span>Total (USD)</span>
                                    <strong>$20</strong>
                                </li>-->
                            </ul>

                            <!--<form class="card p-2">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Promo code">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-secondary">Redeem</button>
                                    </div>
                                </div>
                            </form>-->
                        </div>
                        <div class="col-md-8 order-md-1">

                            <div class="col-md-12 order-md-1">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span>{{'Requirements'|translate}}</span>
                                </h4>
                                <hr class="mb-4">
                                <form novalidate id="alertForm" name="alertForm" ng-submit="submitAlertsForm(alertForm.$valid)">
                                    <div class="row">

                                        <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                            <label for="email">{{'Email'|translate}}<sup style="color: red !important">*</sup></label>
                                            <div class="input-group mb-3">
                                                <input ng-class="{ 'is-invalid' : (alertForm.email.$invalid && submittedalert) || (alertForm.user_id.$invalid && submittedalert) || (!errMsg && !sucMsg && submittedalert)}" id="email"
                                                       type="email" name="email" class="form-control" ng-model="aditionals.email" ng-required="true">
                                                <div class="input-group-append">
                                                    <button id="validateEmail" class="btn btn-outline-secondary" ng-disabled="alertForm.email.$invalid" ng-click="validUsr()" type="button">
                                                        <img ng-if="loadVal" style="height: 25px" src="/css/quotation/giphy.gif" alt="Cargando..."> {{btnVal}}</button>
                                                </div>
                                                <div ng-show="!errMsg && !sucMsg && submittedalert" class="invalid-feedback">{{'You must validate the email before pre-alert'|translate}}</div>
                                                <div ng-show="alertForm.user_id.$invalid" class="invalid-feedback">Debes estar registrado para concluir la pre alerta.</div>
                                                <div ng-show="alertForm.email.$invalid && submittedalert" class="invalid-feedback">El nombre de usuario es requerido.</div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-12 col-xs-12" ng-if="!errMsg && !sucMsg">
                                            <div class=" alert alert-primary" role="alert">
                                                <span><i class="fa fa-info-circle" aria-hidden="true"></i> Si ya posees una cuenta con nosotros ingresa el correo electronico y haz clic en validar.</span>
                                            </div>
                                        </div>

                                        <!-- Message when the email don´t exists -->
                                        <div class="col-md-6 col-sm-12 col-xs-12 mt-lg-4" ng-if="errMsg && !sucMsg">
                                            <div class=" alert alert-danger" role="alert">
                                                <strong>Error: </strong><span>{{errMsg}}</span>
                                            </div>
                                        </div>

                                        <!-- Message when the email is valid -->
                                        <div class="col-md-6 col-sm-12 col-xs-12" ng-if="sucMsg && !errMsg">
                                            <div class="alert alert-success row" role="alert">

                                                <div class="col-md-3 col-sm-6 col-xs-6 no-padding text-center">
                                                    <img ng-src="{{imgProfile}}" style="min-width: 60px;height: 60px;border-radius: 30px">
                                                </div>
                                                <div class="col-md-9 col-sm-6 col-xs-6">
                                                    <strong>Exito: </strong><span>{{sucMsg}}</span><br>
                                                    <strong style="font-size: 12px; color: #dc3545;">{{msgCost}}</strong>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-6 mb-3">
                                            <label for="mode">Modo Pre Alerta<sup style="color: red !important">*</sup></label>
                                            <select ng-class="{ 'is-invalid' : alertForm.mode.$invalid && submitted}"
                                                    id="mode" name="mode" class="form-control"
                                                    ng-model="cost.mode" ng-required="true" ng-change="changeMode()">
                                                <option value="">Seleccionar</option>
                                                <option value="ureg">Pre alerta por registro</option>
                                                <option value="uarc">Pre alerta por archivo</option>
                                                <option value="uarco">Pre alerta para consolidar</option>
                                            </select>
                                            <div ng-show="alertForm.mode.$invalid && submitted" class="invalid-feedback">Por favor selecciona un modo para pre alertar</div>
                                        </div>

                                        <div class="col-md-6 mb-3">
                                            <label for="customFile">Archivo Excel (2007 o superior)<sup style="color: red !important">*</sup></label>
                                            <div class="custom-file">
                                                <input type="file" nv-file-select="" uploader="uploader" class="custom-file-input" name="customFile" id="customFile" ng-model="cost.file"
                                                       ng-disabled="(!sucMsg && errMsg) || !cost.mode || !aditionals.email" ng-required="false" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                                                <label class="custom-file-label" for="customFile">Seleccionar archivo...</label>
                                            </div>
                                            <div ng-show="alertForm.customFile.$invalid && submitted" class="invalid-feedback">Por favor selecciona un archivo de excel</div>
                                        </div>

                                        <div class="col-md-12 pull-right">
                                            <button class="btn btn-primary pull-right" ng-click="resetForm()" type="reset"><i class="fa fa-refresh"></i> Intentarlo de nuevo</button>
                                        </div>
                                    </div>




                                </form>
                            </div>

                            <div class="col-md-12 order-md-2">

                                <!-- <h4 class="mb-3">Upload queue</h4>
                                 <small>Queue length: {{ uploader.queue.length }}</small>
                                 <hr class="mb-4">-->


                                <div class="col-md-12 m-0 p-0" ng-show="uploader.queue.length===0">
                                    <hr class="mb-4">
                                    <div class="alert alert-primary" role="alert">
                                        <strong class="alert-heading"><i class="fa fa-info-circle"></i> INFORMACIÓN IMPORTANTE</strong>
                                        <br>
                                        <br>
                                        <strong>*</strong> El campo <strong>"Modo Pre Alerta"</strong> refiere a:
                                        <br>
                                        <table class="table table-bordered mt-3">
                                            <tbody>
                                                <tr>
                                                    <td width="35%"><strong>Pre alerta por registro:</strong></td>
                                                    <td class="text-justify">Genera una pre alerta unica e independiente por cada fila que contenga el documento de excel cargado</td>
                                                </tr>
                                                <tr>
                                                    <td width="35%"><strong>Pre alerta por archivo:</strong></td>
                                                    <td class="text-justify">Genera una sola pre alerta por el documento cargado, cada fila del documento en excel corresponde a un paquete para la orden</td>
                                                </tr>
                                                <tr>
                                                    <td width="35%"><strong>Pre alerta para consolidar:</strong></td>
                                                    <td class="text-justify">Genera una sola pre alerta por el documento cargado, cada fila del documento en excel corresponde a un paquete para la orden, estas ordenes son especiales para hacer un consolidado</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <strong>*</strong> Seleccione unicamente un archivo en <i class="fa fa-file-excel-o" aria-hidden="true"></i> Excel con version 2007 o superior, este debera tener el formato de la plantilla ejemplo que podras descargar en la parte superior derecha.
                                        <br>

                                    </div>
                                </div>


                                <hr class="mb-4">
                                <table class="table table table-borderless" ng-show="uploader.queue.length>0">
                                    <thead class="thead-darke-blue">
                                    <tr>
                                        <th width="50%">Nombre de archivo</th>
                                        <th ng-show="uploader.isHTML5">Tamaño</th>
                                        <th ng-show="uploader.isHTML5">Progreso</th>
                                        <th>Estado</th>
                                        <th>Acciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="item in uploader.queue">
                                        <td><strong>{{ item.file.name }}</strong></td>
                                        <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                        <td ng-show="uploader.isHTML5">
                                            <div class="progress" style="margin-bottom: 0;">
                                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <span ng-show="item.isSuccess"><i class="fa fa-check" aria-hidden="true"></i></span>
                                            <span ng-show="item.isCancel"><i class="fa fa-ban" aria-hidden="true"></i></span>
                                            <span ng-show="item.isError"><i class="fa fa-times" aria-hidden="true"></i></span>
                                        </td>
                                        <td nowrap>
                                            <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                <i class="fa fa-upload" aria-hidden="true"></i> Subir y procesar
                                            </button>
                                            <button type="button" class="d-none btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                                <i class="fa fa-ban" aria-hidden="true"></i>
                                            </button>
                                            <button type="button" class="d-none btn btn-danger btn-xs" ng-click="item.remove()">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <div class="d-none">
                                    <div>
                                        Queue progress:
                                        <div class="progress" style="">
                                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                                        <span class="glyphicon glyphicon-upload"></span> Upload all
                                    </button>
                                    <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                                    </button>
                                    <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                                        <span class="glyphicon glyphicon-trash"></span> Remove all
                                    </button>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="col-md-12 mt-lg-2">
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span>Resultado de la consulta ({{totalData}} encontrados)</span>
                        </h4>
                        <hr class="mb-4">
                        <div class=" alert alert-primary" role="alert" ng-if="!loading && !success && !fail">
                            <strong><i class="fa fa-info-circle" aria-hidden="true"></i></strong>
                            Debes cargar un documento en excel para ver los resultados.
                        </div>


                        <div class="clearfix text-center area-processing loading-products mt-5 mb-5" ng-if="loading">
                            <img class="mb-2" src="//www.anicamboxexpress.com/css/quotation/loading-orange.gif" alt="Procesando ..." style="height: 160px !important;" />
                            <h4 style="margin-left: 18px">Processing ...</h4>
                        </div>


                        <div class="alert alert-warning" role="alert" ng-if="noFound">
                            <strong class="alert-warning"><i class="fa fa-minus-circle" aria-hidden="true"></i></strong>
                            La información ingresada, no está registrada. Verifica e intenta nuevamente.
                        </div>


                        <!--<div class="row" ng-if="success && !noFound">
                            <div class="col-md-6">
                                <table class="table table-striped table-bordered mt-1">
                                    <tbody>
                                    <tr>
                                        <th class="bg-primary" style="background-color: #415698 !important" scope="row">Order Id</th>
                                        <td class="text-right"><strong>{{listTracking[0].order_number}}</strong></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="col-md-6">
                                <table class="table table-striped table-bordered mt-1 hidden">
                                    <tbody>
                                    <tr>
                                        <th class="bg-primary" style="background-color: #415698 !important" scope="row">Guide No</th>
                                        <td class="text-right"><strong>{{listTracking[0].guide}}</strong></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>-->



                        <table id="tResult" class="table table-bordered">
                            <thead class="thead-darke">
                            <tr>
                                <th class="valign-center text-center thead-darke-blue" scope="col">Resumen</th>
                            </tr>
                            </thead>
                            <tbody class="text-left">

                            </tbody>
                        </table>

                        <hr>

                    </div>

                    <footer class="my-5 pt-5 text-muted text-center text-small">
                        <p class="mb-1">© 2017-2018 Anicam Enterprises Inc</p>
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="#">Privacy</a></li>
                            <li class="list-inline-item"><a href="#">Terms</a></li>
                            <li class="list-inline-item"><a href="#">Support</a></li>
                        </ul>
                    </footer>

                    <span class="d-none" id="BusinessLineId">5BCB2907-E2DB-4324-8924-A36BBE6509AE</span>
                    <span class="d-none" id="UserId">F1CE0D61-3104-44EB-BBFF-9559CF3598A7</span>
                    <span class="d-none" id="APIClient">DAFE0317-B3DE-4697-973C-A0CD0E475141</span>
                    <span class="d-none" id="APISecret">u2xp72C8DQiddXCf80OM4oBdud56dUFk</span>
                </div>
            </div>
        </div>



</div>

<script>
    $(document).ready( function () {
        $('#tResult').DataTable({
            "iDisplayLength": 25,
            dom: 'Bfrtip',
            lengthMenu: [
                [ 10, 25, 50, -1 ],
                [ '10 registros', '25 registros', '50 registros', 'Ver todo' ]
            ],
            buttons: [
                'pageLength','copy', 'csv', 'excel', 'print',{
                    extend: 'pdfHtml5',
                    orientation: 'landscape',
                    pageSize: 'LEGAL'
                }
            ]
        });
    } );
</script>
</body>
</html>