﻿<!DOCTYPE html>
<html lang="en" ng-app="anicamquote">
<head>
    <!-- Meta tags -->

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Cotiza tu envio desde USA a Latinoamerica">

    <title>Cotizar envio - Anicam Box Express</title>

    <link rel="stylesheet" href="//www.anicamboxexpress.com/css/quotation/bootstrap.css?@DateTime.Now.Ticks">

    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/examples/album/album.css?@DateTime.Now.Ticks">
    <link rel="stylesheet" href="//www.anicamboxexpress.com/css/quotation/font-awesome.css">

    <script src="//www.anicamboxexpress.com/js/quotation/jquery-3.1.1.min.js"></script>
    <script src="//www.anicamboxexpress.com/js/quotation/popper.min.js"></script>
    <script src="//www.anicamboxexpress.com/js/quotation/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//www.anicamboxexpress.com/css/bootstrap.min.css?@DateTime.Now.Ticks">

    <script src="//www.anicamboxexpress.com/js/quotation/bootstrap-datepicker.js"></script>
    <script src="//www.anicamboxexpress.com/js/quotation/jquery.priceformat.js"></script>

    <!-- Main Angular scripts-->
    <script src="//www.anicamboxexpress.com/js/quotation/angular/angular.min.js"></script>
    <script src="//www.anicamboxexpress.com/js/quotation/angular/angular-sanitize.js"></script>
    <script src="//www.anicamboxexpress.com/js/quotation/plugins/oclazyload/dist/ocLazyLoad.min.js"></script>

    <!-- Upload angular files real -->
    <script src="//www.anicamboxexpress.com/js/quotation/plugins/file-upload/angular-file-upload.js"></script>

    <!-- Upload angular files -->
    <script src="//www.anicamboxexpress.com/js/quotation/plugins/file-upload/ng-file-upload.js"></script>
    <script src="//www.anicamboxexpress.com/js/quotation/plugins/file-upload/ng-file-upload-all.js"></script>
    <script src="//www.anicamboxexpress.com/js/quotation/plugins/file-upload/ng-file-upload-shim.js"></script>

    <!-- ui-select files -->
    <script src="//www.anicamboxexpress.com/js/quotation/select2.js"></script>
    <link rel="stylesheet" href="//www.anicamboxexpress.com/css/quotation/select2.css">

    <script src="//www.anicamboxexpress.com/js/quotation/angular-translate/angular-translate.min.js"></script>
    <script src="//www.anicamboxexpress.com/js/quotation/ui-router/angular-ui-router.min.js"></script>
    <script src="//www.anicamboxexpress.com/js/quotation/bootstrap/ui-bootstrap-tpls-1.1.2.min.js"></script>
    <script src="//www.anicamboxexpress.com/js/quotation/plugins/angular-idle/angular-idle.js"></script>

    <!-- Anglar App Script -->
    <script src="//www.anicamboxexpress.com/js/quotation/app.js?@DateTime.Now.Ticks"></script>
    <!--<script src="//www.anicamboxexpress.com//www.anicamboxexpress.com/js/config.js"></script>-->
    <script src="//www.anicamboxexpress.com/js/quotation/translations.js?@DateTime.Now.Ticks"></script>
    <script src="//www.anicamboxexpress.com/js/quotation/directives.js?@DateTime.Now.Ticks"></script>
    <script src="//www.anicamboxexpress.com/js/quotation/controllers.js??@DateTime.Now.Ticks?@DateTime.Now.Ticks"></script>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="//www.anicamboxexpress.com/css/favicon.ico">
    <link rel="icon" type="image/png" href="//www.anicamboxexpress.com/css/favicon.ico">

    <!-- themes -->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/quotation/selectize.default.css">-->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/quotation/selectize.bootstrap2.css"> -->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/quotation/selectize.bootstrap3.css">-->

</head>

<body ng-cloak ng-controller="MainCtrl" style="background-color: transparent !important;">
<div class="col-md-12">

    <div class="row mb-5 mt-4 hidden">


        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <p class="lead">Cotiza el costo de envio y pre alerta tus paquetes</p>
        </div>

    </div>

    <ul class="nav nav-tabs mt-2" id="shop-tabs" role="tablist" style="margin-left: 0 !important;">
        <li class="nav-item">
            <a class="nav-link active" id="cf-tab" data-toggle="tab" href="#como-funciona" ng-if="!terminateAlr" aria-expanded="true"><i class="fa fa-list-alt" aria-hidden="true"></i> Como funciona</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="rg-tab" data-toggle="tab" href="#registro-gratis" ng-if="!terminateAlr" aria-expanded="true"><i class="fa fa-list-alt" aria-hidden="true"></i> Registro Gratis</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="sc-tab" data-toggle="tab" href="#cotizador" ng-if="!terminateAlr" aria-expanded="true"><i class="fa fa-list-alt" aria-hidden="true"></i> Cotizador</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="bi-tab" data-toggle="tab" href="#pre-alerta" aria-expanded="true"><i class="fa fa-bell" aria-hidden="true"></i> Pre Alertar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="se-tab" data-toggle="tab" href="#seguimiento" ng-if="!terminateAlr" aria-expanded="true"><i class="fa fa-list-alt" aria-hidden="true"></i> Seguimiento de Ordenes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="co-tab" data-toggle="tab" href="#condiciones" ng-if="!terminateAlr" aria-expanded="true"><i class="fa fa-list-alt" aria-hidden="true"></i> Condiciones</a>
        </li>
    </ul>

    <div class="tab-content" id="shop-tabContent">

        <div id="como-funciona" class="tab-pane active in row mb-4 mt-4 ">
            <div class="col-md-8 col-xs-12 col-sm-12" style="border-right: 1px solid rgba(0, 0, 0, .1)">
                Como funciona Aqui ?

            </div>
        </div>
        <div id="registro-gratis" class="tab-pane row mb-4 mt-4 ">
            <div class="col-md-8 col-xs-12 col-sm-12" style="border-right: 1px solid rgba(0, 0, 0, .1)">
                Registro Aqui ?

            </div>
        </div>
        <div id="cotizador" class="tab-pane row mb-4 mt-4 ">
            <div class="col-md-8 col-xs-12 col-sm-12" style="border-right: 1px solid rgba(0, 0, 0, .1)">
                <form novalidate id="quoteForm" name="quoteForm" ng-submit="submitQuoteForm(quoteForm.$valid)">

                    <h5>Información de Usuario:</h5>
                    <hr>
                    <div class="form-row">
                        <div class="col-md-6 col-sm-12 col-xs-12 hidden" ng-class="{ 'has-error' : quoteForm.business_line_id.$invalid && submitted }">
                            <label for="business_line_id">business_line_id<sup style="color: red !important">*</sup></label>
                            <input ng-class="{ 'is-invalid' : quoteForm.business_line_id.$invalid && submitted}" id="business_line_id" type="hidden" name="business_line_id" class="form-control" ng-model="quote.business_line_id" ng-required="true">
                            <div ng-show="quoteForm.business_line_id.$invalid && submitted" class="invalid-feedback">The business_line_id number is required.</div>
                        </div>
                        <div class="form-group col-md-6 col-sm-12 col-xs-12">
                            <label for="email">Correo Electronico (Opcional)</label>
                            <div class="input-group mb-3">
                                <input ng-class="{ 'is-invalid' : (quoteForm.email.$invalid && submitted) || (quoteForm.business_line_id.$invalid && submitted)}" id="email"
                                       type="email" name="email" class="form-control" ng-model="aditionals.email">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" ng-disabled="quoteForm.email.$invalid" ng-click="validUsr()" type="button">
                                        <img ng-if="loadVal" style="height: 25px" src="//www.anicamboxexpress.com/css/quotation/giphy.gif" alt="Cargando..."> {{btnVal}}</button>
                                </div>
                                <div ng-show="quoteForm.user_id.$invalid" class="invalid-feedback">Debes estar registrado para concluir la pre alerta.</div>
                                <div ng-show="quoteForm.email.$invalid && submitted" class="invalid-feedback">El nombre de usuario es requerido.</div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12" ng-if="!errMsg && !sucMsg">
                            <div class="alert alert-primary" role="alert">
                                <span><i class="fa fa-info-circle" aria-hidden="true"></i> Si ya posees una cuenta con nosotros ingresa el correo electronico y haz clic en validar.</span>
                            </div>
                        </div>

                        <!-- Message when the email don´t exists -->
                        <div class="col-md-6 col-sm-12 col-xs-12 mt-lg-4" ng-if="errMsg && !sucMsg">
                            <div class=" alert alert-danger" role="alert">
                                <strong>Error: </strong><span>{{errMsg}}</span>
                            </div>
                        </div>

                        <!-- Message when the email is valid -->
                        <div class="col-md-6 col-sm-12 col-xs-12" ng-if="sucMsg && !errMsg">
                            <div class="alert alert-success" role="alert" style="height: 105px">

                                <div class="col-md-3 col-sm-6 col-xs-6 no-padding text-center">
                                    <img ng-src="{{imgProfile}}" style="min-width: 60px;height: 60px;border-radius: 30px">
                                </div>
                                <div class="col-md-9 col-sm-6 col-xs-6">
                                    <strong>Exito: </strong><span>{{sucMsg}}</span><br>
                                    <strong style="font-size: 12px; color: #dc3545;">{{msgCost}}</strong>
                                </div>

                            </div>
                        </div>

                    </div>

                    <h5>Ubicación de Origen:</h5>
                    <hr>
                    <div class="form-row">
                        <div class="form-group col-md-4 col-sm-12 col-xs-12">
                            <label for="countryOrg">Pais<sup style="color: red !important">*</sup></label>
                            <select ng-class="{ 'is-invalid' : quoteForm.countryOrg.$invalid && submitted}" id="countryOrg" ng-disabled="true" name="countryOrg" class="form-control" ng-model="quote.countryOrg" ng-required="true">
                                <option selected value="US">United States</option>
                            </select>
                            <div ng-show="quoteForm.countryOrg.$invalid && submitted" class="invalid-feedback">El pais de origen es requerido.</div>
                        </div>
                        <div class="form-group col-md-4 col-sm-12 col-xs-12">
                            <label for="stateOrg">Estado/Provincia<sup style="color: red !important">*</sup></label>
                            <select ng-class="{ 'is-invalid' : quoteForm.stateOrg.$invalid && submitted}" id="stateOrg" name="stateOrg" ng-disabled="true" class="form-control" ng-model="quote.stateOrg" ng-required="true">
                                <option selected value="FL">Florida</option>
                            </select>
                            <div ng-show="quoteForm.stateOrg.$invalid && submitted" class="invalid-feedback">El departamento o estado de envío es requerido.</div>
                        </div>
                        <div class="form-group col-md-4 col-sm-12 col-xs-12">
                            <label for="cityOrg">Ciudad<sup style="color: red !important">*</sup></label>
                            <select ng-class="{ 'is-invalid' : quoteForm.cityOrg.$invalid && submitted}" id="cityOrg" name="cityOrg" ng-disabled="true" class="form-control" ng-model="quote.cityOrg" ng-required="true"
                                    ng-change="changequoteCity(quote.city,quote.state)">
                                <option selected value="555324">Miami</option>
                            </select>
                            <div ng-show="quoteForm.cityOrg.$invalid && submitted" class="invalid-feedback">La ciudad de envío es requerida.</div>
                        </div>
                    </div>
                    <br>
                    <h5>Ubicación de Destino:</h5>
                    <hr>
                    <div class="form-row">
                        <div class="form-group col-md-4 col-sm-12 col-xs-12">
                            <label for="country">País<sup style="color: red !important">*</sup></label>
                            <select ng-class="{ 'is-invalid' : quoteForm.country.$invalid && submitted}" ng-disabled="disCountry" id="country" name="country" class="form-control" ng-model="quote.country" ng-required="true" ng-change="updateStates(quote.country)" ng-options="cou.value as cou.name for cou in qCountries">
                                <option value="">Seleccionar</option>
                            </select>
                            <div ng-show="quoteForm.country.$invalid && submitted" class="invalid-feedback">El pais destino es requerido.</div>
                        </div>
                        <div class="form-group col-md-4 col-sm-12 col-xs-12">
                            <label for="state">Estado/Provincia<sup style="color: red !important">*</sup></label>
                            <select ng-class="{ 'is-invalid' : quoteForm.state.$invalid && submitted}" id="state" name="state" class="form-control" ng-model="quote.state" ng-required="true" ng-options="sta.value as sta.name for sta in qStates" ng-if="noState===false" ng-change="updateCities(quote.state)">
                                <option value="">Seleccionar</option>
                            </select>
                            <input ng-class="{ 'is-invalid' : quoteForm.state.$invalid && submitted}" id="state" type="text" name="state" class="form-control" ng-model="quote.state" ng-required="true" ng-if="noState" placeholder="Ingresa el Estado, Departamento o Provincia manualmente">
                            <div ng-show="quoteForm.state.$invalid && submitted" class="invalid-feedback">El departamento o estado destino es requerido.</div>
                        </div>
                        <div class="form-group col-md-4 col-sm-12 col-xs-12">
                            <label for="city">Ciudad<sup style="color: red !important">*</sup></label>
                            <select ng-class="{ 'is-invalid' : quoteForm.city.$invalid && submitted}" id="city" name="city" ng-if="noCity===false" class="form-control" ng-model="quote.city" ng-required="true" ng-options="cit.value as cit.name for cit in qCities"
                                    ng-change="changequoteCity(quote.city,quote.state)">
                                <option value="">Seleccionar</option>
                            </select>
                            <input ng-class="{ 'is-invalid' : quoteForm.city.$invalid && submitted}" id="city" type="text" name="city" class="form-control" ng-model="quote.city" ng-required="true" ng-if="noCity" placeholder="Ingresa la Ciudad manualmente">
                            <div ng-show="quoteForm.city.$invalid && submitted" class="invalid-feedback">La ciudad destino es requerida.</div>
                            <div ng-show="disMsg" class="invalid-feedback">This city does not have national quoteping coverage! Please select another city nearby.</div>
                        </div>
                    </div>

                    <div id="products-quote" ng-repeat="n in qProducts track by $index">
                        <br>
                        <h5>Información de paquete {{n.value}}:</h5>
                        <hr>
                        <div class="form-row">

                            <div class="form-group col-12">
                                <label for="category_{{$index}}">Arancel<sup style="color: red !important">*</sup></label>
                                <ui-select ng-class="{ 'is-invalid' : quoteForm['category_'+$index].$invalid && submitted}" ng-model="product[$index].category" id="category_{{$index}}" name="category_{{$index}}" ng-change="changeIVA(this)"
                                           ng-required="true" theme="select2" class="form-control" title="Selecciona una categoria de la lista">
                                    <ui-select-match placeholder="Selecciona una categoria de la lista">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item in qCategories | filter: $select.search">
                                        <div class="row col-md-12">
                                            <small class="col-md-6" ng-bind-html="item.name | highlight: $select.search"></small>
                                            <small class="col-md-3" ng-bind-html="item.ivaHtml | highlight: $select.search"></small>
                                            <small class="col-md-3" ng-bind-html="item.arancelHtml | highlight: $select.search"></small>
                                        </div>
                                    </ui-select-choices>
                                </ui-select>
                                <div ng-show="quoteForm['category_'+$index].$invalid && submitted" class="invalid-feedback">La posición arancelaria es requerida.</div>
                            </div>

                            <div class="col-md-12 col-xs-12 col-sm-12 ">
                                <div class="alert alert-primary" role="alert">
                                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Selecciona de manera correcta el tipo de mercancia(Arancel) que se enviara al pais destino, si ya conoces las medidas del paquete activa la casilla inferior.
                                </div>
                            </div>

                            <div class="form-group col-md-4 col-sm-12">
                                <label for="unidadPeso_{{$index}}">Unidades de peso<sup style="color: red !important">*</sup></label>
                                <div class="input-group">
                                    <select ng-class="{ 'is-invalid' : quoteForm['unidadPeso_'+$index].$invalid && submitted}" id="unidadPeso_{{$index}}" name="unidadPeso_{{$index}}" class="form-control" ng-model="product[$index].unidadPeso"
                                            ng-required="true" ng-options="cou.value as cou.name for cou in qUnidadesPeso" ng-change="changeWeight($index)"></select>
                                    <div ng-show="quoteForm['unidadPeso_'+$index].$invalid && submitted" class="invalid-feedback">Se debe escoger una unidad de peso para el calculo.</div>
                                </div>
                            </div>

                            <div class="form-group col-md-3 col-sm-6">
                                <label for="weight_{{$index}}">Peso<sup style="color: red !important">*</sup></label>
                                <div class="input-group">
                                    <input type="number" class="form-control" id="weight_{{$index}}" name="weight_{{$index}}"
                                           ng-model="product[$index].weight" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" ng-required="true" ng-class="{ 'is-invalid' : quoteForm['weight_'+$index].$invalid && submitted}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">{{type[$index].weight}}</span>
                                    </div>
                                    <div ng-show="!quoteForm['weight_'+$index].$valid && !quoteForm['weight_'+$index].$pristine" class="help-block">Número invalido (maximo dos decimales).</div>
                                    <div ng-show="quoteForm['weight_'+$index].$invalid && submitted" class="invalid-feedback">El peso del producto es requerido.</div>
                                </div>
                            </div>

                            <div class="form-group col-md-5 col-sm-6">
                                <label for="declare_value_{{$index}}">Valor declarado<sup style="color: red !important">*</sup></label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">USD $ </span>
                                    </div>
                                    <input ng-class="{ 'is-invalid' : quoteForm['declare_value_'+$index].$invalid && submitted}" type="number" class="form-control" id="declare_value_{{$index}}" name="declare_value_{{$index}}"
                                           ng-model="product[$index].declare_value" placeholder="Digite el valor declarado" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" ng-required="true">
                                    <div ng-show="!quoteForm['declare_value_'+$index].$valid && !quoteForm['declare_value_'+$index].$pristine" class="help-block">Número invalido (maximo dos decimales).</div>
                                    <div ng-show="quoteForm['declare_value_'+$index].$invalid && submitted" class="invalid-feedback">El valor declarado del producto es requerido.</div>
                                </div>

                            </div>

                            <div class="form-group col-md-4 col-sm-12">
                                <label for="unidadMedida_{{$index}}">Unidades de medida<sup style="color: red !important">*</sup></label>
                                <div class="input-group">
                                    <select ng-class="{ 'is-invalid' : quoteForm['unidadMedida_'+$index].$invalid && submitted}" id="unidadMedida_{{$index}}" name="unidadMedida_{{$index}}" class="form-control" ng-model="product[$index].unidadMedida"
                                            ng-required="true" ng-options="cou.value as cou.name for cou in qUnidadesMedida" ng-change="changeMeasure($index)"></select>
                                    <div ng-show="quoteForm['unidadMedida_'+$index].$invalid && submitted" class="invalid-feedback">Se debe escoger una unidad de medida para el calculo.</div>
                                </div>

                            </div>

                            <div class="form-row col-md-8" style="padding-right: 0 !important;">

                                <div class="form-group col-md-4 col-sm-12">
                                    <label for="height_{{$index}}">Alto<sup style="color: red !important">*</sup></label>
                                    <div class="input-group">
                                        <input type="number" class="form-control" id="height_{{$index}}" name="height_{{$index}}" ng-model="product[$index].height" ng-required="true"
                                               ng-class="{ 'is-invalid' : quoteForm['height_'+$index].$invalid && submitted}" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">{{type[$index].measure}}</span>
                                        </div>
                                        <div ng-show="!quoteForm['height_'+$index].$valid && !quoteForm['height_'+$index].$pristine" class="help-block">Número invalido (maximo dos decimales).</div>
                                        <div ng-show="quoteForm['height_'+$index].$invalid && submitted" class="invalid-feedback">El alto del producto es requerido.</div>
                                    </div>
                                </div>

                                <div class="form-group col-md-4 col-sm-12">
                                    <label for="width_{{$index}}">Ancho<sup style="color: red !important">*</sup></label>
                                    <div class="input-group">
                                        <input type="number" class="form-control" id="width_{{$index}}" name="width_{{$index}}" ng-model="product[$index].width" ng-required="true"
                                               ng-class="{ 'is-invalid' : quoteForm['width_'+$index].$invalid && submitted}" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">{{type[$index].measure}}</span>
                                        </div>
                                        <div ng-show="!quoteForm['width_'+$index].$valid && !quoteForm['width_'+$index].$pristine" class="help-block">Número invalido (maximo dos decimales).</div>
                                        <div ng-show="quoteForm['width_'+$index].$invalid && submitted" class="invalid-feedback">El ancho del producto es requerido.</div>
                                    </div>
                                </div>

                                <div class="form-group col-md-4 col-sm-12">
                                    <label for="length_{{$index}}">Largo<sup style="color: red !important">*</sup></label>
                                    <div class="input-group">
                                        <input type="number" class="form-control" id="length_{{$index}}" name="length_{{$index}}" ng-model="product[$index].length" ng-required="true"
                                               ng-class="{ 'is-invalid' : quoteForm['length_'+$index].$invalid && submitted}" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">{{type[$index].measure}}</span>
                                        </div>
                                        <div ng-show="!quoteForm['length_'+$index].$valid && !quoteForm['length_'+$index].$pristine" class="help-block">Número invalido (maximo dos decimales).</div>
                                        <div ng-show="quoteForm['length_'+$index].$invalid && submitted" class="invalid-feedback">El largo del producto es requerido.</div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>


                    <!-- <br>-->
                    <h5 class="hidden">Información tributaria:</h5>
                    <hr>
                    <div class="form-row hidden">

                        <div class="form-group col-md-3 col-sm-6">
                            <label for="iva">IVA<sup style="color: red !important">*</sup></label>
                            <div class="input-group">
                                <input type="number" class="form-control" id="iva" name="iva" ng-disabled="true" ng-model="quote.iva" ng-required="true" ng-class="{ 'is-invalid' : quoteForm.iva.$invalid && submitted}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> %</span>
                                </div>
                                <div ng-show="quoteForm.iva.$invalid && submitted" class="invalid-feedback">El impuesto de IVA es requerido.</div>
                            </div>
                        </div>

                        <div class="form-group col-md-3 col-sm-6">
                            <label for="trm">TRM<sup style="color: red !important">*</sup></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">COP $</span>
                                </div>
                                <input type="text" class="form-control" id="trm" name="trm" ng-model="quote.trm" ng-disabled="true" ng-required="true" ng-class="{ 'is-invalid' : quoteForm.trm.$invalid && submitted}">
                                <div ng-show="quoteForm.trm.$invalid && submitted" class="invalid-feedback">El largo del producto es requerido.</div>
                            </div>
                        </div>

                    </div>


                    <div class="form-group mt-3 mb-4">
                        <div class="custom-control custom-checkbox my-1 mr-sm-2">
                            <input id="tyc" name="tyc" ng-class="{ 'is-invalid' : quoteForm.tyc.$invalid && submitted}" type="checkbox" class="custom-control-input" ng-model="quote.tyc" ng-required="true">
                            <label for="tyc" class="custom-control-label"> He leido y acepto los <a href="{{privacyLink}}" target="_blank">terminos y condiciones</a></label>
                            <div ng-show="quoteForm.tyc.$invalid && submitted" class="invalid-feedback">Para continuar es necesario aceptar los terminos y condiciones</div>
                        </div>
                    </div>


                    <div class="form-row m-b-4" style="margin-bottom: 25px">
                        <div class="col-md-6 text-left">
                            <strong><sup style="color: red !important">*</sup> Campos Requeridos</strong>
                        </div>
                        <div class="col-md-6 text-right">
                            <button type="submit" class="btn btn-warning pull-right ml-2">Calcular</button>
                            <button type="button" class="btn btn-success pull-right" ng-click="addProduct()"><i class="fa fa-plus" aria-hidden="true"></i> Añadir Paquete</button>
                        </div>
                    </div>

                </form>

            </div>


            <div class="col-md-4 col-sm-12 col-xs-12">
                <h5>Resultado de cotización:</h5>
                <hr>

                <div class="clearfix text-center area-processing loading-products mt-5" ng-if="loading">
                    <img class="mb-2" src="//www.anicamboxexpress.com/css/quotation/loading-orange.gif" alt="Procesando ..." style="height: 160px !important;" />
                    <h4 style="margin-left: 18px">Procesando ...</h4>
                </div>


                <div class="alert alert-primary" role="alert" ng-if="!loading && !fail">
                    <strong class="alert-heading"><i class="fa fa-info-circle"></i> INFORMACIÓN</strong>
                    <br>
                    <br>
                    <p>
                        <span>Completa los datos y pre alerta tu envío</span>
                        <!-- <span>• Para los productos con un valor igual o mayor a <strong>$ 200 USD</strong> aplica el impuesto sobre el valor agregado (IVA)</span>-->
                    </p>

                </div>

                <div class="clearfix col-sm-12 col-xs-12 col-md-12" ng-if="!loading && !fail && terminate" style="padding: 0 !important;">

                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col" class="text-center">Origen</th>
                            <th scope="col" class="text-center">Destino</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="text-center"><img src="//www.anicamboxexpress.com/css/quotation/united-states.png" alt="USA"> Florida, Miami</td>
                            <td class="text-center">
                                <img ng-if="quote.country==='CO'" src="//www.anicamboxexpress.com/css/quotation/colombia.png" alt="{{quote.country}}">
                                <img ng-if="quote.country==='PY'" src="//www.anicamboxexpress.com/css/quotation/paraguay.png" alt="{{quote.country}}">
                                <img ng-if="quote.country==='MX'" src="//www.anicamboxexpress.com/css/quotation/mexico.png" alt="{{quote.country}}">
                                <img ng-if="quote.country==='BR'" src="//www.anicamboxexpress.com/css/quotation/brasil.png" alt="{{quote.country}}">
                                <img ng-if="quote.country==='EC'" src="//www.anicamboxexpress.com/css/quotation/ecuador.png" alt="{{quote.country}}">
                                <img ng-if="quote.country==='HN'" src="//www.anicamboxexpress.com/css/quotation/honduras.png" alt="{{quote.country}}">
                                <img ng-if="quote.country==='VE'" src="//www.anicamboxexpress.com/css/quotation/venezuela.png" alt="{{quote.country}}">
                                <img ng-if="quote.country==='US'" src="//www.anicamboxexpress.com/css/quotation/united-states.png" alt="{{quote.country}}">
                                <img ng-if="quote.country==='CN'" src="//www.anicamboxexpress.com/css/quotation/china.png" alt="{{quote.country}}">
                                <img ng-if="quote.country==='AR'" src="//www.anicamboxexpress.com/css/quotation/argentina.png" alt="{{quote.country}}">
                                {{redesState}}, {{redesCity}}</td>
                        </tr>
                        </tbody>
                    </table>

                    <table class="table table-striped mt-1" ng-repeat="n in qProducts track by $index">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col" colspan="2">COSTOS PARA PAQUETE {{$index+1}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">Valor Declarado</th>
                            <td class="text-right" style="width: 140px !important;">
                                <strong>{{(product[$index].declare_value | currency : '$ ':2)}} USD</strong></td>
                        </tr>
                        <tr ng-if="quote.country==='CO'">
                            <th scope="row">Fletes</th>
                            <td class="text-right">{{((result[$index].logistic_us+result[$index].handling) | currency : '$ ':2)}} USD</td>
                        </tr>
                        <tr ng-if="quote.country!=='CO'">
                            <th scope="row">Fletes</th>
                            <td class="text-right">{{((result[$index].logistic_us) | currency : '$ ':2)}} USD</td>
                        </tr>
                        <tr ng-if="quote.country!=='CO'">
                            <th scope="row">Arancel + Impuesto de Venta</th>
                            <td class="text-right">{{(result[$index].duties_taxes+result[$index].custome_dutie_fee | currency : '$ ':2)}} USD</td>
                        </tr>
                        <tr ng-if="quote.country==='CO'">
                            <th scope="row">Impuestos y Gestión aduanera</th>
                            <td class="text-right">
                                {{( (result[$index].duties+result[$index].merchan_service+result[$index].taxes+
                                result[$index].insurance+result[$index].custome_dutie_fee) | currency : '$ ':2)}} USD
                            </td>
                        </tr>
                        <tr class="hidden" ng-if="quote.country==='CO'">
                            <th scope="row">Impuesto de Venta</th>
                            <td class="text-right">{{(result[$index].taxes | currency : '$ ':2)}} USD</td>
                        </tr>
                        <tr ng-if="quote.country!=='CO'">
                            <th scope="row">Handling</th>
                            <td class="text-right">{{(result[$index].handling | currency : '$ ':2)}} USD</td>
                        </tr>
                        <tr ng-if="quote.country!=='CO'">
                            <th scope="row">Insurance (Opcional)</th>
                            <td class="text-right">{{(result[$index].insurance | currency : '$ ':2)}} USD</td>
                        </tr>
                        <tr ng-if="quote.country!=='CO'">
                            <th scope="row">Merchant Service <br> <small>Aplica si el pago se realiza con Tarjeta de Credito</small></th>
                            <td class="text-right">{{(result[$index].merchan_service | currency : '$ ':2)}} USD</td>
                        </tr>
                        <tr ng-if="redLocal">
                            <th scope="row">Redespacho Local <img ng-if="quote.country==='CO'" style="margin-top: -5px" src="//www.anicamboxexpress.com/css/quotation/redservi.png" alt="Redespacho"></th>
                            <td class="text-right">{{(result[$index].local_delivery | currency : '$ ':2)}} USD</td>
                        </tr>
                        <tr ng-if="!redLocal">
                            <th scope="row">Redespacho Nacional</th>
                            <td class="text-right">{{(result[$index].national_delivery | currency : '$ ':2)}} USD</td>
                        </tr>

                        <tr class="table-dark" style="font-size: 16px">
                            <th scope="row">TOTAL</th>
                            <td class="text-right"><strong>{{(result[$index].total | currency : '$ ':2)}} USD</strong><br><small></small></td>
                        </tr>
                        </tbody>
                    </table>

                    <table class="table table-striped mt-1">
                        <tbody>
                        <tr>
                            <th scope="row">Total Declarado</th>
                            <td class="text-right"><strong>{{total.declare | currency : '$ ':0}} USD</strong></td>
                        </tr>
                        <tr class="hidden">
                            <th scope="row">Total Freights</th>
                            <td class="text-right">{{total.flete}} USD</td>
                        </tr>
                        <tr>
                            <th scope="row">Total Redespachos <img ng-if="quote.country==='CO'" style="margin-top: -5px" src="//www.anicamboxexpress.com/css/quotation/redservi.png" alt="Redespacho"></th>
                            <td class="text-right">{{(total.redespachos | currency : '$ ':2)}} USD</td>
                        </tr>
                        <tr class="table-success" style="font-size: 16px">
                            <th scope="row">GRAN TOTAL </th>
                            <td class="text-right"><strong>{{(total.total | currency : '$ ':2)}} USD </strong><br><small></small></td>
                        </tr>
                        <tr ng-if="quote.country==='CO'">
                            <th scope="row"><small>Aprox Local Currency </small></th>
                            <td class="text-right"><small>{{(total.declareLocal | currency : '$ ':2)}} <label ng-if="quote.country_locale==='CO'">COP</label> </small></td>
                        </tr>
                        </tbody>
                    </table>

                    <button type="button" class="btn btn-primary pull-right btn-md" ng-click="toAlert()">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i> Pre Alerta el envío</button>

                </div>

                <div class="alert alert-danger" ng-if="!loading && fail && terminate" role="alert">
                    <strong class="alert-heading"><i class="fa fa-minus-circle" aria-hidden="true"></i> ERROR</strong>
                    <br>
                    <br>
                    No existe cobertura nacional de envío para <strong>{{redesCity}} - {{redesState}}</strong>, por favor intentelo con otra ciudad cercana.
                </div>
            </div>
        </div>
        <div id="pre-alerta" class="tab-pane row mb-4 mt-4" >

            <div class="col-md-8 col-xs-12 col-sm-12" ng-if="!loading && !fail && !terminate">
                <div class=" alert alert-warning" role="alert">
                    <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> ATENCIÓN</strong>
                    <br><br>
                    Se debe realizar antes una cotización para capturar los datos de envio
                </div>
            </div>

            <div class="col-md-8 col-xs-12 col-sm-12 ng-hide" ng-show="(!loading && !fail && terminate && !loadingAlr && !terminateAlr) || showForm" style="border-right: 1px solid rgba(0, 0, 0, .1)">
                <form novalidate id="alertForm" name="alertForm" ng-submit="submitalertForm(alertForm.$valid)">
                    <h5>Información de Usuario:</h5>
                    <hr>
                    <div class="form-row">
                        <div class="col-md-6 col-sm-12 col-xs-12 hidden" ng-class="{ 'has-error' : alertForm.user_id.$invalid && submittedalert }">
                            <label for="user_id">user_id<sup style="color: red !important">*</sup></label>
                            <input ng-class="{ 'is-invalid' : alertForm.user_id.$invalid && submittedalert}" id="user_id" type="hidden" name="user_id" class="form-control" ng-model="alert.user_id" ng-required="true">
                            <div ng-show="alertForm.user_id.$invalid && submittedalert" class="invalid-feedback">The user_id number is required.</div>
                        </div>
                        <div class="form-group col-md-6 col-sm-12 col-xs-12">
                            <label for="email">Correo Electronico<sup style="color: red !important">*</sup></label>
                            <div class="input-group mb-3">
                                <input ng-class="{ 'is-invalid' : (alertForm.email.$invalid && submittedalert) || (alertForm.user_id.$invalid && submittedalert) || (!errMsg && !sucMsg && submittedalert)}" id="email"
                                       type="email" name="email" class="form-control" ng-model="aditionals.email" ng-required="true">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" ng-disabled="alertForm.email.$invalid" ng-click="validUsr()" type="button">
                                        <img ng-if="loadVal" style="height: 25px" src="//www.anicamboxexpress.com/css/quotation/giphy.gif" alt="Cargando..."> {{btnVal}}</button>
                                </div>
                                <div ng-show="!errMsg && !sucMsg && submittedalert" class="invalid-feedback">Debe validar el e-mail antes de pre alertar.</div>
                                <div ng-show="alertForm.user_id.$invalid" class="invalid-feedback">Debes estar registrado para concluir la pre alerta.</div>
                                <div ng-show="alertForm.email.$invalid && submittedalert" class="invalid-feedback">El nombre de usuario es requerido.</div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12" ng-if="!errMsg && !sucMsg">
                            <div class=" alert alert-info" role="alert">
                                <span>Ingresar tu correo electronico y valida el numero de casillero</span>
                            </div>
                        </div>

                        <!-- Message when the email don´t exists -->
                        <div class="col-md-6 col-sm-12 col-xs-12 mt-lg-4" ng-if="errMsg && !sucMsg">
                            <div class=" alert alert-danger" role="alert">
                                <strong>Error: </strong><span>{{errMsg}}</span>
                            </div>
                        </div>

                        <!-- Message when the email is valid -->
                        <div class="col-md-6 col-sm-12 col-xs-12" ng-if="sucMsg && !errMsg">
                            <div class="alert alert-success" role="alert" style="height: 105px">

                                <div class="col-md-3 col-sm-6 col-xs-6 no-padding text-center">
                                    <img ng-src="{{imgProfile}}" style="min-width: 60px;height: 60px;border-radius: 30px">
                                </div>
                                <div class="col-md-9 col-sm-6 col-xs-6">
                                    <strong>Exito: </strong><span>{{sucMsg}}</span><br>
                                    <strong style="font-size: 12px; color: #dc3545;">{{msgCost}}</strong>
                                </div>

                            </div>
                        </div>

                    </div>

                    <h5>Información de envío a destino:</h5>
                    <hr>
                    <div class="form-row" ng-if="!validUsrStatus && !sucMsg">
                        <div class="col-md-12 col-xs-12 col-sm-12 alert alert-warning" role="alert">
                            <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Debes validar el correo electronico del casillero para completar esta información.
                        </div>
                    </div>
                    <div class="form-row" ng-if="validUsrStatus && sucMsg && !errMsg">
                        <div class="form-group col-md-4 col-sm-12 col-xs-12">
                            <label for="shipping_country">Pais<sup style="color: red !important">*</sup></label>
                            <select ng-class="{ 'is-invalid' : alertForm.shipping_country.$invalid && submittedalert}" id="shipping_country" ng-disabled="true" name="shipping_country" class="form-control"
                                    ng-model="alert.shipping[0].country_locale" ng-required="true" ng-change="updateStates(alert.shipping[0].shipping_country)" ng-options="cou.value as cou.name for cou in qCountries">
                                <option value="">Seleccionar</option>
                            </select>
                            <div ng-show="alertForm.shipping_country.$invalid && submittedalert" class="invalid-feedback">El pais de envío es requerido.</div>
                        </div>
                        <div class="form-group col-md-4 col-sm-12 col-xs-12">
                            <label for="shipping_state">Estado/Provincia<sup style="color: red !important">*</sup></label>
                            <select ng-class="{ 'is-invalid' : alertForm.shipping_state.$invalid && submittedalert}" ng-disabled="true" id="shipping_state" name="shipping_state" class="form-control"
                                    ng-model="alert.shipping[0].state" ng-required="true" ng-options="sta.value as sta.name for sta in qStates" ng-change="updateCities(alert.shipping[0].state)">
                                <option value="">Seleccionar</option>
                            </select>
                            <div ng-show="alertForm.shipping_state.$invalid && submittedalert" class="invalid-feedback">El departamento o estado de envío es requerido.</div>
                        </div>
                        <div class="form-group col-md-4 col-sm-12 col-xs-12">
                            <label for="shipping_city">Ciudad<sup style="color: red !important">*</sup></label>
                            <select ng-class="{ 'is-invalid' : alertForm.shipping_city.$invalid && submittedalert}" ng-disabled="true" id="shipping_city" name="shipping_city" class="form-control"
                                    ng-model="alert.shipping[0].city" ng-required="true" ng-change="updateRedes(alertForm.shipping_city.$invalid)"
                                    ng-options="cit.value as cit.name for cit in qCities">
                                <option value="">Seleccionar</option>
                            </select>
                            <div ng-show="alertForm.shipping_city.$invalid && submittedalert" class="invalid-feedback">La ciudad de envío es requerida.</div>
                            <div ng-show="disMsg" class="invalid-feedback">This city does not have national quoteping coverage! Please select another city nearby.</div>
                        </div>

                        <div class="form-group col-md-4 col-sm-12 col-xs-12">
                            <label for="shipping_identification">Numero de identificación<sup style="color: red !important">*</sup></label>
                            <input id="shipping_identification" ng-class="{ 'is-invalid' : alertForm.shipping_identification.$invalid && submittedalert}" type="text" name="shipping_identification" class="form-control" ng-model="alert.shipping[0].identification" ng-required="true">
                            <div ng-show="alertForm.shipping_identification.$invalid && submittedalert" class="invalid-feedback">El número de identificación es requerido</div>
                        </div>

                        <div class="form-group col-md-8 col-sm-12 col-xs-12">
                            <label for="shipping_customer">Nombre Completo<sup style="color: red !important">*</sup></label>
                            <input id="shipping_customer" ng-class="{ 'is-invalid' : alertForm.shipping_customer.$invalid && submittedalert}" type="text" name="shipping_customer" class="form-control" ng-model="alert.shipping[0].customer" ng-required="true">
                            <div ng-show="alertForm.shipping_customer.$invalid && submittedalert" class="invalid-feedback">El nombre del receptor es requerido</div>
                        </div>

                        <div class="form-group col-md-4 col-sm-12 col-xs-12">
                            <label for="shipping_address">Dirección<sup style="color: red !important">*</sup></label>
                            <input id="shipping_address" ng-class="{ 'is-invalid' : alertForm.shipping_address.$invalid && submittedalert}" type="text" name="shipping_address" class="form-control" ng-model="alert.shipping[0].address" ng-required="true">
                            <div ng-show="alertForm.shipping_address.$invalid && submittedalert" class="invalid-feedback">La dirección de destino del articulo es requerida</div>
                        </div>

                        <div class="form-group col-md-4 col-sm-12 col-xs-12">
                            <label for="shipping_zip_code">Codigo Postal</label>
                            <input id="shipping_zip_code" type="text" name="shipping_zip_code" class="form-control" ng-model="alert.shipping[0].zip_code">
                        </div>

                        <div class="form-group col-md-4 col-sm-12 col-xs-12">
                            <label for="shipping_phone_1">Telefono Principal<sup style="color: red !important">*</sup></label>
                            <input id="shipping_phone_1" ng-class="{ 'is-invalid' : alertForm.shipping_phone_1.$invalid && submittedalert}" type="text" name="shipping_phone_1" class="form-control" ng-model="alert.shipping[0].phone_1" ng-required="true">
                            <div ng-show="alertForm.shipping_phone_1.$invalid && submittedalert" class="invalid-feedback">Un telefono principal es requerido</div>
                        </div>

                        <div class="form-group col-md-4 col-sm-12 col-xs-12">
                            <label for="shipping_phone_2">Telefono Secundario</label>
                            <input id="shipping_phone_2" type="text" name="shipping_phone_2" class="form-control" ng-model="alert.shipping[0].phone_2">
                        </div>

                    </div>


                    <div id="products-product" ng-repeat="n in qProducts track by $index">
                        <br>
                        <h5>Información de paquete {{n.value}}:</h5>
                        <hr>
                        <div class="form-row">

                            <div class="form-group col-12">
                                <label for="category_{{$index}}">Arancel<sup style="color: red !important">*</sup></label>
                                <ui-select ng-class="{ 'is-invalid' : alertForm['category_'+$index].$invalid && submittedalert}" ng-model="product[$index].category" id="Pcategory_{{$index}}" name="category_{{$index}}"
                                           ng-change="changeIVA(this)" ng-required="true" theme="select2" class="form-control" ng-disabled="true" title="Selecciona una categoria de la lista">
                                    <ui-select-match placeholder="Selecciona una categoria de la lista">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item in qCategories | filter: $select.search">
                                        <div class="row col-md-12">
                                            <small class="col-md-6" ng-bind-html="item.name | highlight: $select.search"></small>
                                            <small class="col-md-3" ng-bind-html="item.ivaHtml | highlight: $select.search"></small>
                                            <small class="col-md-3" ng-bind-html="item.arancelHtml | highlight: $select.search"></small>
                                        </div>
                                    </ui-select-choices>
                                </ui-select>
                                <div ng-show="alertForm['category_'+$index].$invalid && submittedalert" class="invalid-feedback">La posición arancelaria es requerida.</div>
                            </div>

                            <div class="form-group col-md-4 col-sm-12">
                                <label for="PunidadPeso_{{$index}}">Unidades de peso<sup style="color: red !important">*</sup></label>
                                <div class="input-group">
                                    <select ng-class="{ 'is-invalid' : alertForm['unidadPeso_'+$index].$invalid && submittedalert}" ng-disabled="true" id="PunidadPeso_{{$index}}" name="unidadPeso_{{$index}}" class="form-control" ng-model="product[$index].unidadPeso"
                                            ng-required="true" ng-options="cou.value as cou.name for cou in qUnidadesPeso" ng-change="changeWeight($index)"></select>
                                    <div ng-show="alertForm['unidadPeso_'+$index].$invalid && submittedalert" class="invalid-feedback">Se debe escoger una unidad de peso para el calculo.</div>
                                </div>
                            </div>


                            <div class="form-group col-md-3 col-sm-6">
                                <label for="Pweight_{{$index}}">Peso<sup style="color: red !important">*</sup></label>
                                <div class="input-group">
                                    <input type="number" class="form-control" ng-disabled="true" id="Pweight_{{$index}}" name="weight_{{$index}}" ng-model="product[$index].weight" ng-required="true"
                                           ng-class="{ 'is-invalid' : alertForm['weight_'+$index].$invalid && submittedalert}" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">{{type[$index].weight}}</span>
                                    </div>
                                    <div ng-show="!alertForm['weight_'+$index].$valid && !alertForm['weight_'+$index].$pristine" class="help-block">Número invalido (maximo dos decimales).</div>
                                    <div ng-show="alertForm['weight_'+$index].$invalid && submittedalert" class="invalid-feedback">El peso del producto es requerido.</div>
                                </div>
                            </div>

                            <div class="form-group col-md-5 col-sm-6">

                            </div>

                            <div class="form-group col-md-4 col-sm-12">
                                <label for="PunidadMedida_{{$index}}">Unidades de medida<sup style="color: red !important">*</sup></label>
                                <div class="input-group">
                                    <select ng-class="{ 'is-invalid' : alertForm['unidadMedida_'+$index].$invalid && submittedalert}" ng-disabled="true" id="PunidadMedida_{{$index}}" name="unidadMedida_{{$index}}" class="form-control" ng-model="product[$index].unidadMedida"
                                            ng-required="true" ng-options="cou.value as cou.name for cou in qUnidadesMedida" ng-change="changeMeasure($index)"></select>
                                    <div ng-show="alertForm['unidadMedida_'+$index].$invalid && submittedalert" class="invalid-feedback">Se debe escoger una unidad de medida para el calculo.</div>
                                </div>
                            </div>

                            <div class="form-row col-md-8" style="padding-right: 0 !important;">

                                <div class="form-group col-md-4 col-sm-12">
                                    <label for="Pheight_{{$index}}">Alto<sup style="color: red !important">*</sup></label>
                                    <div class="input-group">
                                        <input type="number" class="form-control" ng-disabled="true" id="Pheight_{{$index}}" name="height_{{$index}}" ng-model="product[$index].height" ng-required="true"
                                               ng-class="{ 'is-invalid' : alertForm['height_'+$index].$invalid && submittedalert}" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">{{type[$index].measure}}</span>
                                        </div>
                                        <div ng-show="!alertForm['height_'+$index].$valid && !alertForm['height_'+$index].$pristine" class="help-block">Número invalido (maximo dos decimales).</div>
                                        <div ng-show="alertForm['height_'+$index].$invalid && submittedalert" class="invalid-feedback">El alto del producto es requerido.</div>
                                    </div>
                                </div>

                                <div class="form-group col-md-4 col-sm-12">
                                    <label for="Pwidth_{{$index}}">Ancho<sup style="color: red !important">*</sup></label>
                                    <div class="input-group">
                                        <input type="number" class="form-control" ng-disabled="true" id="Pwidth_{{$index}}" name="width_{{$index}}" ng-model="product[$index].width" ng-required="true"
                                               ng-class="{ 'is-invalid' : alertForm['width_'+$index].$invalid && submittedalert}" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">{{type[$index].measure}}</span>
                                        </div>
                                        <div ng-show="!alertForm['width_'+$index].$valid && !alertForm['width_'+$index].$pristine" class="help-block">Número invalido (maximo dos decimales).</div>
                                        <div ng-show="alertForm['width_'+$index].$invalid && submittedalert" class="invalid-feedback">El ancho del producto es requerido.</div>
                                    </div>
                                </div>

                                <div class="form-group col-md-4 col-sm-12">
                                    <label for="Plength_{{$index}}">Largo<sup style="color: red !important">*</sup></label>
                                    <div class="input-group">
                                        <input type="number" class="form-control" ng-disabled="true" id="Plength_{{$index}}" name="length_{{$index}}" ng-model="product[$index].length" ng-required="true"
                                               ng-class="{ 'is-invalid' : alertForm['length_'+$index].$invalid && submittedalert}" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">{{type[$index].measure}}</span>
                                        </div>
                                        <div ng-show="!alertForm['length_'+$index].$valid && !alertForm['length_'+$index].$pristine" class="help-block">Número invalido (maximo dos decimales).</div>
                                        <div ng-show="alertForm['length_'+$index].$invalid && submittedalert" class="invalid-feedback">El largo del producto es requerido.</div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4 col-sm-12 col-xs-12">
                                <label for="carrier_{{$index}}">Courier <sup style="color: red !important">*</sup></label>
                                <select ng-class="{ 'is-invalid' : alertForm['carrier_'+$index].$invalid && submittedalert}" id="carrier_{{$index}}" name="carrier_{{$index}}" class="form-control" ng-model="product[$index].carrier" ng-required="true" ng-options="cou.value as cou.name for cou in qBusiness">
                                    <option value="">Seleccionar</option>
                                </select>
                                <div ng-show="alertForm['carrier_'+$index].$invalid && submittedalert" class="invalid-feedback">Local Tracking es requerido.</div>
                                <small>* Compañia Courier que realiza el envío del paquete</small>
                            </div>

                            <div class="form-group col-md-4 col-sm-12 col-xs-12">
                                <label for="reference_{{$index}}">Tipo de Empaque<sup style="color: red !important">*</sup></label>
                                <select ng-class="{ 'is-invalid' : alertForm['reference_'+$index].$invalid && submittedalert}" id="reference_{{$index}}" name="reference_{{$index}}" class="form-control" ng-model="product[$index].reference" ng-required="true" ng-options="cou.value as cou.name for cou in qReferences">
                                    <option value="">Seleccionar</option>
                                </select>
                                <div ng-show="alertForm['reference_'+$index].$invalid && submittedalert" class="invalid-feedback">El tipo de envío es requerido.</div>
                                <small>* Embalaje o tipo de paquete </small>
                            </div>

                            <div class="form-group col-md-4 col-sm-12 col-xs-12">
                                <label for="tracking_{{$index}}">Número de Tracking<sup style="color: red !important">*</sup></label>
                                <input ng-class="{ 'is-invalid' : alertForm['tracking_'+$index].$invalid && submittedalert}" id="tracking_{{$index}}" type="text" name="tracking_{{$index}}" class="form-control" ng-model="product[$index].tracking" ng-required="true">
                                <div ng-show="alertForm['tracking_'+$index].$invalid && submittedalert" class="invalid-feedback">El número de tracking es requerido.</div>
                                <small>* Identificador unico que genera el servicio courier para la trazabilidad del paquete</small>
                            </div>
                            <div class="form-group col-md-4 col-sm-12 col-xs-12">
                                <label for="shipper_{{$index}}">Shipper<sup style="color: red !important">*</sup></label>
                                <div class="input-group">
                                    <input id="shipper_{{$index}}" ng-class="{ 'is-invalid' : alertForm['shipper_'+$index].$invalid && submittedalert}" type="text" name="shipper_{{$index}}" class="form-control" ng-model="product[$index].shipper" ng-required="true">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" data-toggle="popover" data-placement="top"
                                                title="Que significa esto ?" data-content="Debes ingresar el nombre del sitio web o tienda donde se realizo la compra. Ejemplo: Amazon, E-Buy, Wlamart etc.">
                                            <i class="fa fa-question-circle" aria-hidden="true"></i> </button>
                                    </div>
                                    <div ng-show="alertForm['shipper_'+$index].$invalid && submittedalert" class="invalid-feedback">El nombre del sitio donde realizo la compra es requerido.</div>
                                </div>
                            </div>
                            <div class="form-group col-md-8 col-sm-12 col-xs-12">
                                <label for="declare_value_{{$index}}">Valor declarado<sup style="color: red !important">*</sup></label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">USD $ </span>
                                    </div>
                                    <input ng-class="{ 'is-invalid' : alertForm['declare_value_'+$index].$invalid && submittedalert}" type="number"
                                           class="form-control" id="Pdeclare_value_{{$index}}" ng-disabled="true" name="declare_value_{{$index}}"
                                           ng-model="product[$index].declare_value" placeholder="Digite el valor declarado" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" ng-required="true">
                                    <div ng-show="!alertForm['declare_value_'+$index].$valid && !alertForm['declare_value_'+$index].$pristine" class="help-block">Número invalido (maximo dos decimales).</div>
                                    <div ng-show="alertForm['declare_value_'+$index].$invalid && submittedalert" class="invalid-feedback">El valor declarado del producto es requerido.</div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-row">
                            <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <label for="image_{{$index}}">Foto de producto (Opcional)</label>
                                <div class="custom-file">
                                    <input ng-class="{ 'is-invalid' : alertForm['image_'+$index].$error.maxSize}" id="image_{{$index}}"
                                           type="file"  ngf-select="uploadFiles($file, $invalidFiles)" name="image_{{$index}}" class="form-control custom-file-input" lang="es" ng-model="product[$index].image" accept="image/*,application/pdf"
                                           ngf-max-size="1MB" ngf-model-invalid="errorFile">
                                    <label class="custom-file-label" for="image_{{$index}}">Escoger archivo...</label>
                                    <div ng-show="alertForm['image_'+$index].$error.maxSize" class="invalid-feedback">El tamaño de {{errFile.name}} es de {{(errFile.size/1000000).toFixed(2)}} MB. Max 1Mb </div>
                                    <small ng-if="!errFile">* Solo archivos con extension .jpg, .jpeg, .gif, .png, .pdf<br>
                                        * El peso maximo es de 1Mb</small>
                                </div>
                            </div>

                            <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <label for="description_{{$index}}">Descripción breve del producto<sup style="color: red !important">*</sup></label>
                                <textarea ng-class="{ 'is-invalid' : alertForm['description_'+$index].$invalid && submittedalert}" id="description_{{$index}}" type="text" name="description_{{$index}}" class="form-control" ng-model="product[$index].description" ng-required="true"></textarea>
                                <div ng-show="alertForm['description_'+$index].$invalid && submittedalert" class="invalid-feedback">La descripción de la compra es requerida.</div>
                            </div>

                            <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <img ng-show="alertForm['image_'+$index].$valid" ngf-thumbnail="product[$index].image" class="thumb">
                                <button class="btn btn-danger pull-right mt-2" ng-click="product[$index].image = null; errFile=null; f=null" type="button" ng-show="product[$index].image"><i class="fa fa-times" aria-hidden="true"></i> Remover</button>
                                <label>Archivo seleccionado</label>
                                <div><small ng-if="!errFile">{{f.name}}</small> <small ng-if="errFile" style="color: #dc3545">Error al cargar el archivo!</small>
                                    <span class="progress" ng-show="f.progress >= 0">
                                        <div style="width:{{f.progress}}%" ng-bind="f.progress + '%'"></div>
                                        </span>
                                </div>
                                {{errorMsg}}
                            </div>

                        </div>
                    </div>

                    <!--  <br>
                      <h5>Información de llegada a bodega:</h5>
                      <hr>
                      <div class="form-row">
                          <div class="form-group col-md-4 col-sm-12 col-xs-12">
                              <label for="external_guide">Compañia Transportadora<sup style="color: red !important">*</sup></label>
                              <select ng-class="{ 'is-invalid' : alertForm.external_guide.$invalid && submittedalert}" id="external_guide" name="external_guide" class="form-control" ng-model="alert.external_guide" ng-required="true" ng-options="cou.value as cou.name for cou in qBusiness">
                                  <option value="">Seleccionar</option>
                              </select>
                              <div ng-show="alertForm.external_guide.$invalid && submittedalert" class="invalid-feedback">La compañia transportadora es requerida.</div>
                          </div>

                          <div class="form-group col-md-4 col-sm-12 col-xs-12">
                              <label for="customer_reference">Referencia<sup style="color: red !important">*</sup></label>
                              <select ng-class="{ 'is-invalid' : alertForm.customer_reference.$invalid && submittedalert}" id="customer_reference" name="customer_reference" class="form-control" ng-model="alert.customer_reference" ng-required="true" ng-options="cou.value as cou.name for cou in qReferences">
                                  <option value="">Seleccionar</option>
                              </select>
                              <div ng-show="alertForm.customer_reference.$invalid && submittedalert" class="invalid-feedback">La referencia es requerida.</div>
                          </div>

                          <div class="form-group col-md-4 col-sm-12 col-xs-12">
                              <label for="tracking">Número de Tracking<sup style="color: red !important">*</sup></label>
                              <input ng-class="{ 'is-invalid' : alertForm.tracking.$invalid && submittedalert}" id="tracking" type="text" name="tracking" class="form-control" ng-model="alert.tracking" ng-required="true">
                              <div ng-show="alertForm.tracking.$invalid && submittedalert" class="invalid-feedback">El número de tracking es requerido.</div>
                          </div>
                          <div class="form-group col-md-4 col-sm-12 col-xs-12">
                              <label for="carrier">Origen del articulo<sup style="color: red !important">*</sup></label>
                              <div class="input-group">
                              <input id="carrier" ng-class="{ 'is-invalid' : alertForm.carrier.$invalid && submittedalert}" type="text" name="carrier" class="form-control" ng-model="alert.carrier" ng-required="true">
                                  <div class="input-group-append">
                                      <button class="btn btn-outline-secondary" type="button" data-toggle="popover" data-placement="top"
                                              title="Que significa esto ?" data-content="Debes ingresar el nombre del sitio web o tienda donde se realizo la compra. Ejemplo: Amazon, E-Buy, Wlamart etc.">
                                         <i class="fa fa-info-circle"></i> </button>
                                  </div>
                                  <div ng-show="alertForm.carrier.$invalid && submittedalert" class="invalid-feedback">El nombre del sitio donde realizo la compra es requerido.</div>
                              </div>
                          </div>
                          <div class="form-group col-md-6 col-sm-12 col-xs-12">
                              <label for="declare_value">Valor a declarar<sup style="color: red !important">*</sup></label>
                              <div class="input-group">
                                  <div class="input-group-prepend">
                                      <span class="input-group-text">USD $ </span>
                                  </div>
                                  <input ng-class="{ 'is-invalid' : alertForm.declare_value.$invalid && submittedalert}" type="text" class="form-control" id="declare_value" name="declare_value"
                                         ng-model="alert.declare_value" placeholder="Digite el valor de compra" ng-required="true" ng-disabled="true">
                                  <div ng-show="alertForm.declare_value.$invalid && submittedalert" class="invalid-feedback">El valor declarado del producto es requerido.</div>
                              </div>
                          </div>
                          <div class="form-group col-md-6 col-sm-12 col-xs-12">
                              <label for="description">Descripción breve del articulo<sup style="color: red !important">*</sup></label>
                              <textarea ng-class="{ 'is-invalid' : alertForm.description.$invalid && submittedalert}" id="description" type="text" name="description" class="form-control" ng-model="alert.description" ng-required="true"></textarea>
                              <div ng-show="alertForm.description.$invalid && submittedalert" class="invalid-feedback">La descripción de la compra es requerida.</div>
                          </div>

                          <div class="form-group col-md-6 col-sm-12 col-xs-12">
                              <label for="comment">Comentarios</label>
                              <textarea id="comment" type="text" name="comment" class="form-control" ng-model="alert.comment"></textarea>
                          </div>
                      </div>-->

                    <br>
                    <h5>Información adicional:</h5>
                    <hr>
                    <div class="form-row">

                        <div class="form-group col-md-6 col-sm-12 col-xs-12" ng-show="quote.country==='CO'">
                            <label for="carrier">Carrier Local<sup style="color: red !important">*</sup></label>
                            <select ng-class="{ 'is-invalid' : alertForm.carrier.$invalid && submittedalert}" id="carrier" name="carrier" class="form-control"
                                    ng-model="alert.carrier" ng-required="quote.country==='CO'"
                                    ng-options="cou.value as cou.name for cou in qCouriers">
                                <option value="">Seleccionar</option>
                            </select>
                            <div ng-show="alertForm.carrier.$invalid && submittedalert" class="invalid-feedback">El carrier local es requerido.</div>
                            <small>* Operador logistico nacional que se encargara del redespacho. <br>
                                <b ng-if="alert.carrier!=='REDSERVI'" style="color: #dc3545;">* Tenga presente que la decisión en efectividad para última milla depende del cliente.</b>
                                <b ng-if="alert.carrier==='REDSERVI'" style="color: #dc3545;">* Este carrier solo llega a ciudades principales y puede llegar a tercerizar el envío, por tal razón
                                    las pruebas de entrega pueden tardar mas de lo esperado en visualizarse.</b>
                            </small>
                        </div>

                        <div class="form-group col-md-6 col-sm-12 col-xs-12" ng-show="quote.country==='CO' && alert.carrier==='MERCADO ENVIOS'">
                            <label for="external_guide">Número de Guía</label>
                            <div class="input-group">
                                <input id="external_guide" ng-class="{ 'is-invalid' : alertForm.external_guide.$invalid && submittedalert}" type="text" name="external_guide" class="form-control"
                                       ng-model="alert.external_guide">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" data-toggle="popover" data-placement="top"
                                            title="Que significa esto ?" data-content="Si ya cuentas con un número de guia de tu operador local digitalo aqui.">
                                        <i class="fa fa-question-circle" aria-hidden="true"></i> </button>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-6 col-sm-12 col-xs-12" ng-show="quote.country==='CO' && alert.carrier==='MERCADO ENVIOS'">
                            <label for="customer_reference">Referencia de Cliente</label>
                            <div class="input-group">
                                <input id="customer_reference" ng-class="{ 'is-invalid' : alertForm.customer_reference.$invalid && submittedalert}" type="text" name="customer_reference" class="form-control"
                                       ng-model="alert.customer_reference">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" data-toggle="popover" data-placement="top"
                                            title="Que significa esto ?" data-content="Si cuentas con un número de referencia que identifique tu compra digitalo aqui.">
                                        <i class="fa fa-question-circle" aria-hidden="true"></i> </button>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-6 col-sm-12 col-xs-12">
                            <label for="bill_{{$index}}">Factura de compra (Si la hay)</label>
                            <div class="custom-file">
                                <input ng-class="{ 'is-invalid' : alertForm['bill_'+$index].$error.maxSize}" id="bill_{{$index}}"
                                       type="file"  ngf-select="uploadBill($file, $invalidFiles)" name="bill_{{$index}}" class="form-control custom-file-input" lang="es" ng-model="product[$index].bill" accept="image/*,application/pdf"
                                       ngf-max-size="1MB" ngf-model-invalid="errorBill">
                                <label class="custom-file-label" for="bill_{{$index}}">Escoger archivo...</label>
                                <div ng-show="alertForm['bill_'+$index].$error.maxSize" class="invalid-feedback">El tamaño de {{errBill.name}} es de {{(errBill.size/1000000).toFixed(2)}} MB. Max 1Mb </div>
                                <small ng-if="!errBill">* Solo archivos con extension .jpg, .jpeg, .gif, .png, .pdf<br>
                                    * El peso maximo es de 1Mb</small>
                            </div>
                        </div>

                        <div class="form-group col-md-6 col-sm-12">
                            <label for="comment">Comentarios adicionales</label>
                            <textarea class="form-control" id="comment" name="comment" ng-model="alert.comment" ng-required="false"
                                      ng-class="{ 'is-invalid' : alertForm.comment.$invalid && submittedalert}"></textarea>
                            <div ng-show="alertForm.comment.$invalid && submittedalert" class="invalid-feedback">El comentario adicional es requerido.</div>
                        </div>

                        <div class="form-group col-md-6 col-sm-12 col-xs-12">
                            <img ng-show="alertForm['bill_'+$index].$valid" ngf-thumbnail="product[$index].bill" class="thumb">
                            <button class="btn btn-danger pull-right mt-2" ng-click="product[$index].bill = null; errBill=null; f=null" type="button" ng-show="product[$index].bill"><i class="fa fa-times" aria-hidden="true"></i> Remover</button>
                            <label>Factura seleccionada</label>
                            <div><small ng-if="!errBill">{{fBill.name}}</small> <small ng-if="errBill" style="color: #dc3545">Error al cargar la factura!</small>
                                <span class="progress" ng-show="fBill.progress >= 0">
                                        <div style="width:{{fBill.progress}}%" ng-bind="fBill.progress + '%'"></div>
                                        </span>
                            </div>
                            {{errorBillMsg}}
                        </div>

                    </div>

                    <hr>

                    <div class="form-group mt-3 mb-4">
                        <div class="custom-control custom-checkbox my-1 mr-sm-2">
                            <input id="tycalert" name="tycalert" ng-class="{ 'is-invalid' : alertForm.tycalert.$invalid && submittedalert}" type="checkbox" class="custom-control-input" ng-model="alert.tycalert" ng-required="true">
                            <label for="tycalert" class="custom-control-label"> He leido y acepto los <a href="{{privacyLink}}" target="_blank">terminos y condiciones</a></label>
                            <div ng-show="alertForm.tycalert.$invalid && submittedalert" class="invalid-feedback">Para continuar es necesario aceptar los terminos y condiciones</div>
                        </div>
                    </div>



                    <div class="form-row m-b-4" style="margin-bottom: 25px">
                        <div class="col-6 text-left">
                            <strong><sup style="color: red !important">*</sup> Campos Requeridos</strong>
                        </div>
                        <div class="col-6 text-right">
                            <button type="submit" class="btn btn-warning" ng-disabled="disMsg">Pre alertar</button>
                        </div>
                    </div>

                </form>

            </div>

            <div class="col-md-8 col-xs-12 col-sm-12" ng-if="!loading && !fail && terminate && loadingAlr">
                <div class="clearfix text-center area-processing loading-products mt-5">
                    <img src="//www.anicamboxexpress.com/css/quotation/loading-alert.gif" alt="Generando pre alerta ..." style="height: 160px !important;" />
                    <h5 style="margin-left: 18px; margin-top: -35px">Generando pre alerta ...</h5>
                </div>
            </div>

            <div class="col-md-8 col-xs-12 col-sm-12 ng-hide" ng-show="!loading && !fail && terminate && !loadingAlr && terminateAlr" style="border-right: 1px solid rgba(0, 0, 0, .1)">
                <h5>Proceso terminado:</h5>
                <hr>
                <div class="form-row">

                    <div class="col-md-12 col-sm-12" ng-if="alrSuc">
                        <div class="alert alert-success" role="alert">
                            <strong class="alert-heading"><i class="fa fa-check-circle" aria-hidden="true"></i> EXITO</strong>
                            <hr>
                            <br>
                            {{alrMsg}}
                            <br>
                            <br>
                            <hr>
                        </div>
                        <button type="button" class="btn btn-primary" ng-click="refresh()">
                            <i class="fa fa-bell" aria-hidden="true"></i> Realizar otra Pre Alerta</button>
                    </div>

                    <div class="col-md-12 col-sm-12" ng-if="alrFail">
                        <div class="alert alert-danger" role="alert">
                            <strong class="alert-heading"><i class="fa fa-minus-circle" aria-hidden="true"></i> ERROR</strong>
                            <hr>
                            <br>
                            No se logro realizar la Pre Alerta. {{alrMsg}}
                            <br>
                            <br>
                            <hr>
                        </div>
                        <button type="button" class="btn btn-primary" ng-click="refresh()">
                            <i class="fa fa-refresh" aria-hidden="true"></i> Intentarlo de nuevo</button>

                    </div>
                </div>

            </div>

            <div class="col-md-4 col-sm-12 col-xs-12">
                <h5>Resultado de cotización:</h5>
                <hr>

                <div class="clearfix text-center area-processing loading-products mt-5" ng-if="loading">
                    <img class="mb-2" src="//www.anicamboxexpress.com/css/quotation/loading-orange.gif" alt="Procesando ..." style="height: 160px !important;" />
                    <h4 style="margin-left: 18px">Procesando ...</h4>
                </div>


                <div class="alert alert-primary" role="alert" ng-if="!loading && !fail">
                    <strong><i class="fa fa-info-circle"></i> INFORMACIÓN</strong>
                    <br>
                    <br>
                    <p>
                        <span>Completa los datos y pre alerta tu envío</span>
                        <!-- <span>• Para los productos con un valor igual o mayor a <strong>$ 200 USD</strong> aplica el impuesto sobre el valor agregado (IVA)</span>-->
                    </p>
                </div>


                <div class="clearfix col-sm-12 col-xs-12 col-md-12" ng-if="!loading && !fail && terminate" style="padding: 0 !important;">

                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col" class="text-center">Origen</th>
                            <th scope="col" class="text-center">Destino</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="text-center"><img src="//www.anicamboxexpress.com/css/quotation/united-states.png" alt="USA"> Florida, Miami</td>
                            <td class="text-center">
                                <img ng-if="quote.country==='CO'" src="//www.anicamboxexpress.com/css/quotation/colombia.png" alt="{{quote.country}}">
                                <img ng-if="quote.country==='PY'" src="//www.anicamboxexpress.com/css/quotation/paraguay.png" alt="{{quote.country}}">
                                <img ng-if="quote.country==='MX'" src="//www.anicamboxexpress.com/css/quotation/mexico.png" alt="{{quote.country}}">
                                <img ng-if="quote.country==='BR'" src="//www.anicamboxexpress.com/css/quotation/brasil.png" alt="{{quote.country}}">
                                <img ng-if="quote.country==='EC'" src="//www.anicamboxexpress.com/css/quotation/ecuador.png" alt="{{quote.country}}">
                                <img ng-if="quote.country==='HN'" src="//www.anicamboxexpress.com/css/quotation/honduras.png" alt="{{quote.country}}">
                                <img ng-if="quote.country==='VE'" src="//www.anicamboxexpress.com/css/quotation/venezuela.png" alt="{{quote.country}}">
                                <img ng-if="quote.country==='US'" src="//www.anicamboxexpress.com/css/quotation/united-states.png" alt="{{quote.country}}">
                                <img ng-if="quote.country==='CN'" src="//www.anicamboxexpress.com/css/quotation/china.png" alt="{{quote.country}}">
                                <img ng-if="quote.country==='AR'" src="//www.anicamboxexpress.com/css/quotation/argentina.png" alt="{{quote.country}}">
                                {{redesState}}, {{redesCity}}</td>
                        </tr>
                        </tbody>
                    </table>

                    <table class="table table-striped mt-1" ng-repeat="n in qProducts track by $index">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col" colspan="2">COSTOS PARA PAQUETE {{$index+1}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">Valor Declarado</th>
                            <td class="text-right" style="width: 140px !important;">
                                <strong>{{(product[$index].declare_value | currency : '$ ':2)}} USD</strong></td>
                        </tr>
                        <tr ng-if="quote.country==='CO'">
                            <th scope="row">Fletes</th>
                            <td class="text-right">{{((result[$index].logistic_us+result[$index].handling) | currency : '$ ':2)}} USD</td>
                        </tr>
                        <tr ng-if="quote.country!=='CO'">
                            <th scope="row">Fletes</th>
                            <td class="text-right">{{((result[$index].logistic_us) | currency : '$ ':2)}} USD</td>
                        </tr>
                        <tr ng-if="quote.country!=='CO'">
                            <th scope="row">Arancel + Impuesto de Venta</th>
                            <td class="text-right">{{(result[$index].duties_taxes+result[$index].custome_dutie_fee | currency : '$ ':2)}} USD</td>
                        </tr>
                        <tr ng-if="quote.country==='CO'">
                            <th scope="row">Impuestos y Gestión aduanera</th>
                            <td class="text-right">
                                {{( (result[$index].duties+result[$index].merchan_service+result[$index].taxes+
                                result[$index].insurance+result[$index].custome_dutie_fee) | currency : '$ ':2)}} USD
                            </td>
                        </tr>
                        <tr class="hidden" ng-if="quote.country==='CO'">
                            <th scope="row">Impuesto de Venta</th>
                            <td class="text-right">{{(result[$index].taxes | currency : '$ ':2)}} USD</td>
                        </tr>
                        <tr ng-if="quote.country!=='CO'">
                            <th scope="row">Handling</th>
                            <td class="text-right">{{(result[$index].handling | currency : '$ ':2)}} USD</td>
                        </tr>
                        <tr ng-if="quote.country!=='CO'">
                            <th scope="row">Insurance (Opcional)</th>
                            <td class="text-right">{{(result[$index].insurance | currency : '$ ':2)}} USD</td>
                        </tr>
                        <tr ng-if="quote.country!=='CO'">
                            <th scope="row">Merchant Service <br> <small>Aplica si el pago se realiza con Tarjeta de Credito</small></th>
                            <td class="text-right">{{(result[$index].merchan_service | currency : '$ ':2)}} USD</td>
                        </tr>
                        <tr ng-if="redLocal">
                            <th scope="row">Redespacho Local <img ng-if="quote.country==='CO'" style="margin-top: -5px" src="//www.anicamboxexpress.com/css/quotation/redservi.png" alt="Redespacho"></th>
                            <td class="text-right">{{(result[$index].local_delivery | currency : '$ ':2)}} USD</td>
                        </tr>
                        <tr ng-if="!redLocal">
                            <th scope="row">Redespacho Nacional</th>
                            <td class="text-right">{{(result[$index].national_delivery | currency : '$ ':2)}} USD</td>
                        </tr>

                        <tr class="table-dark" style="font-size: 16px">
                            <th scope="row">TOTAL</th>
                            <td class="text-right"><strong>{{(result[$index].total | currency : '$ ':2)}} USD</strong><br><small></small></td>
                        </tr>
                        </tbody>
                    </table>

                    <table class="table table-striped mt-1">
                        <tbody>
                        <tr>
                            <th scope="row">Total Declarado</th>
                            <td class="text-right"><strong>{{total.declare | currency : '$ ':0}} USD</strong></td>
                        </tr>
                        <tr class="hidden">
                            <th scope="row">Total Freights</th>
                            <td class="text-right">{{total.flete}} USD</td>
                        </tr>
                        <tr>
                            <th scope="row">Total Redespachos <img ng-if="quote.country==='CO'" style="margin-top: -5px" src="//www.anicamboxexpress.com/css/quotation/redservi.png" alt="Redespacho"></th>
                            <td class="text-right">{{(total.redespachos | currency : '$ ':2)}} USD</td>
                        </tr>
                        <tr class="table-success" style="font-size: 16px">
                            <th scope="row">GRAN TOTAL </th>
                            <td class="text-right"><strong>{{(total.total | currency : '$ ':2)}} USD </strong><br><small></small></td>
                        </tr>
                        <tr ng-if="quote.country==='CO'">
                            <th scope="row"><small>Aprox Local Currency </small></th>
                            <td class="text-right"><small>{{(total.declareLocal | currency : '$ ':2)}} <label ng-if="quote.country_locale==='CO'">COP</label> </small></td>
                        </tr>
                        </tbody>
                    </table>

                    <button type="button" ng-if="!terminateAlr" class="btn btn-primary pull-left btn-md" ng-click="toQuote()">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i> Verificar cotización</button>

                </div>

                <div class="alert alert-danger" ng-if="!loading && fail && terminate" role="alert">
                    <strong class="alert-heading"><i class="fa fa-minus-circle" aria-hidden="true"></i> ERROR</strong>
                    <br>
                    <br>
                    No existe cobertura nacional de envío para <strong>{{redesCity}} - {{redesState}}</strong>, por favor intentelo con otra ciudad cercana.
                </div>

            </div>


        </div>
        <div id="seguimiento" class="tab-pane row mb-4 mt-4 ">
            <div class="col-md-8 col-xs-12 col-sm-12" style="border-right: 1px solid rgba(0, 0, 0, .1)">
                Registro Aqui ?

            </div>
        </div>
        <div id="condiciones" class="tab-pane row mb-4 mt-4 ">
            <div class="col-md-8 col-xs-12 col-sm-12" style="border-right: 1px solid rgba(0, 0, 0, .1)">
                Registro Aqui ?

            </div>
        </div>
    </div>

    <span class="hidden" id="BusinessLineId">5BCB2907-E2DB-4324-8924-A36BBE6509AE</span>
    <span class="hidden" id="UserId">F1CE0D61-3104-44EB-BBFF-9559CF3598A7</span>
    <span class="hidden" id="APIClient">DAFE0317-B3DE-4697-973C-A0CD0E475141</span>
    <span class="hidden" id="APISecret">u2xp72C8DQiddXCf80OM4oBdud56dUFk</span>


</div> <!-- /container -->
<script>
    (function($) {
        $(document).ready(function() {

            $('[data-toggle="popover"]').popover({
                container: 'body',
                trigger: 'hover'
                //delay: { "show": 500, "hide": 100 }
            });


            // Para la trm
            $('#trm').priceFormat({
                prefix: '',
                thousandsSeparator: ',',
                clearOnEmpty: true,
                limit: 8,
                centsLimit: 2
            });


        });
    })(jQuery);
</script>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>
